<style>
	.logout{
		float: right;
	}
	
	.logo{
		padding: 2px 2px 2px 2px;
	}
</style>
</br></br>
<img class="logo" src="https://c.eu4.content.force.com/servlet/servlet.ImageServer?id=015570000041tpu&oid=00DD0000000rYsz&lastMod=1443739721000">

<input type="button" onclick="window.location.href = '/cac/'" value="Alterar aplicativo " class="logout"></br></br><br>

<a class="logout" href="/secur/logout.jsp">  Sair</a></br></br>






