<apex:page controller="AgendamentoEditarServicoController">
    
    <script src="https://code.jquery.com/jquery-2.1.0.min.js">
    </script>
    
    <style>
        .tb-hora {
        width: 60%;
        border-collapse: collapse;
        margin: 15px;
        text-align: center;
        background-color: white;
        border-color: #DDD;
        }
        .tb-hora td {
        padding: 5px;
        }
       
        .td-cin {
        color: #B78 !important;
        background-color: #DDD;
        }
        .td-ver {
        background-color: #DC1439 !important;
        }
        .td-ama {
        background-color: #ffff99 !important;
        }
        
        .tb-leg {
        border-collapse: collapse;
        margin: 15px;
        text-align: center;
        border-color: #DDD;
        }
        
    </style>
    
    <script>
    j$ = $.noConflict();
    j$(document).ready( function( $ ) {
    });
    </script>
    
    <apex:form id="form">
        <apex:pageBlock title="Dados do Cliente">
            
            <apex:pageBlockSection columns="2" >
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Número do Oportunidade: "/>
                    <apex:outputText value="{!opp.Service_Protocol__c}" />
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                </apex:pageBlockSectionItem>
              
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Nome: "/>
                    <apex:outputText value="{!nome}" />
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Telefone: "/>
                    <apex:outputField value="{!acc.PersonHomePhone}" />
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Sobrenome: "/>
                    <apex:outputText value="{!sobrenome}" />
                </apex:pageBlockSectionItem>
               
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Celular: "/>
                    <apex:outputField value="{!acc.PersMobPhone__c}" />
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="CPF: "/>
                    <apex:outputField value="{!acc.CustomerIdentificationNbr__c}" />
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Email: "/>
                    <apex:outputField value="{!acc.PersonEmail}" />
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            
        </apex:pageBlock>
        
        <apex:pageBlock title="Dados do Agendamento" id="dadosAgend">
            
            <apex:pageBlockSection columns="2" >
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Data Solicitação Serviço: "/>
                    <apex:outputText value="{0, date, dd/MM/yyyy}">
                        <apex:param value="{!opp.ProposalScheduleDate__c}" /> 
                    </apex:outputText> 
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Status: "/>
                    <apex:outputField value="{!opp.StageName}"/>
                </apex:pageBlockSectionItem>
                
                 <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Hora Solicitação Serviço: "/>
                    <apex:outputField value="{!opp.ProposalScheduleHour__c}"/>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Motivo da não Realização: "/>
                    <apex:outputField value="{!opp.ReasonLossCancellation__c}" />
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Período Solicitado: "/>
                    <apex:outputField value="{!opp.ScheduledPeriod__c}"/>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Tipo Serviço: "/>
                    <apex:outputField value="{!opp.ServiceType__c}"/>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Técnico Responsável: "/>
                    <apex:outputField value="{!opp.ResponsibleTechnical__c}" />
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Origem do Serviço: "/>
                    <apex:outputField value="{!opp.OpportunitySource__c}" />
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Data Agendada: "/>
                    <apex:outputField styleClass="inputData" value="{!opp.ScheduledDate__c}" />
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Suborigem do Serviço: "/>
                    <apex:outputField value="{!opp.OpportunitySubSource__c}" />
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Hora Agendada: "/>
                    <apex:outputField value="{!opp.ScheduledHour__c}" />
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Observação: "/>
                    <apex:outputField value="{!opp.Description}" />
                </apex:pageBlockSectionItem>
                
            </apex:pageBlockSection>
            
        </apex:pageBlock>
        
        <apex:pageBlock title="Dados do Veículo" id="formVeiculo">
     
            <apex:pageBlockSection columns="2" >
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="CHASSI: "/>
                    <apex:outputField value="{!veiculo.Name}" />
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Placa: "/>
                    <apex:outputField value="{!veiculo.VehicleRegistrNbr__c}" />
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Modelo: "/>
                    <apex:outputField value="{!veiculo.Model__c}" />
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Versão: "/>
                    <apex:outputField value="{!veiculo.Version__c}" />
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Tipo Relacionamento: "/>
                    <apex:outputText value="{!tipoRelText}" />
                </apex:pageBlockSectionItem>
                
            </apex:pageBlockSection>
        </apex:pageBlock>
        
        <apex:pageBlock title="Histórico do Veículo">
            <apex:pageblockTable value="{!listHist}" var="it" rendered="{!listHist.size > 0}">
                <apex:column headerValue="Tipo Serviço" value="{!it.ServiceType__c}"/>
                <apex:column >
                    <apex:facet name="header">
                        <apex:outputLabel value="Data"/>
                    </apex:facet>
                    <apex:outputText value="{0, date, dd/MM/yyyy}">
                        <apex:param value="{!it.ScheduledDate__c}" /> 
                    </apex:outputText> 
                </apex:column>
                
                <apex:column headerValue="Protocolo" value="{!it.Service_Protocol__c}"/>
                
                <apex:column headerValue="Técnico" value="{!it.ResponsibleTechnical__r.Name}"/>
                    <apex:column headerValue="Status" value="{!it.StageName}"/>
            </apex:pageblockTable>
        
        </apex:pageBlock>
        
    </apex:form>
    
</apex:page>