<apex:page standardController="Opportunity" extensions="ClienteTestDriveSfa2Controller"
           action="{!initialize}" tabStyle="Account" id="vfp08" title="Test Drive">

<apex:stylesheet value="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
<script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <style type="text/css">
        .customSelectList {
        width: 155px;
        }
        .customButton {
        width: 160px;
        height: 28px; 
        }
        .customButtonPopUp {
        width: 150px;  
        height: 25px; 
        }
        .customButtonPopUpConfirmation {
        width: 115px;  
        height: 25px; 
        }
        .tableCalendar{
        font-size: 13px;
        font-weight: bold; 
        width: 37%;
        }
        .tableAgenda {
        color: black;
        font-size: 14px;
        width: 50%;
        text-align: center;
        }
        .background-load {
        background-color: white;
        opacity: 0.1;
        filter: alpha(opacity = 10);
        height: 100%; 
        left: 0;  
        position: fixed; 
        top: 0; 
        width: 100%; 
        z-index: 100;
        display: none;
        }
        
        .divLoad{
        display: none;
        top: 35%;
        left: 50%;
        position: fixed;
        }
        .divLoadAgenda{
        display: none;
        }
        .available{
        background-color: #FFFFFF;
        cursor: pointer;
        }
        .scheduled{
        background-color: #FFFF00;
        cursor: default;
        }
        .confirmed{
        background-color: #64FF64;
        cursor: default;
        }
        .blocked{
        background-color: #E8E8E8;
        cursor: default;
        }
        .divPopLoadBackground {
        background-color: #AAAAAA;
        opacity: 0.3;
        filter: alpha(opacity = 30);
        height: 100%; 
        left: 0;  
        position: fixed; 
        top: 0; 
        width: 100%; 
        z-index: 100;
        display: none;
        }
        .divMain {
        display: none;
        width: 450px; 
        left: 35%;
        position: fixed;
        top: 25%;
        z-index: 102;   
        }
        .divMain2{
        display: none;
        width: 450px;
        left: 35%;
        position: fixed;
        top: 25%;
        z-index: 102;     
        }
        .divClose {
        color: blue;
        cursor: pointer;
        font-size: 11px;
        font-weight: bold;
        margin: 5px;
        text-align: right;
        text-decoration: underline;
        }
        .bold {
        color: black;
        font-size: 14px;
        vertical-align: middle;
        text-align: right;
        }
        .divTableCampanha {    max-height: 200px; width: 100%; overflow: auto; }
        .tableCampanha { border-collapse: collapse;color: #000;font-size: 12px;border: 1px solid #BDB76B; }
        .tableCampanha th { background-color:#CCC; color:#000; width:50%; }
        .tableCampanha td, .tableCampanha th { padding:5px;border:0; }
        .tableCampanha td { border-bottom:1px dotted #BDB76B; }
    </style>
    <script>
    
    $(document).ready( function($) {
        var cpf = '{!cpfCliente}';
        var oId = '{!oId}';
        
        console.log(cpf);
        verificarCampanha();
        
        $('.btnCancelarVoucher').click(function() {
            $("#dialogVoucher").dialog('close');
            ClienteTestDriveSfa2Controller.cancelarAlertVoucher(cpf, function(res, ev) {
                $("#dialogVoucher").dialog('close');
            });
        });
        
        $('.btnResgatarVoucher').click(function() {
            
            var lead =  $('.tableCampanha').find('input[name=gender]:checked').val();
            var voucher =  $('.tableCampanha').find('input[name=gender]:checked').attr('voucher');
            var campanha =  $('.tableCampanha').find('input[name=gender]:checked').attr('campanha');
            
            if(lead == null || lead == 'undefined' || lead == '') {
                return;
            }
            
            $('.voucherSelecao').hide();
            $('.voucherConfirmacao').find('span').html(voucher + '"' + campanha + '"');
            $('.voucherConfirmacao').show();
        });
        
        $('.btnNaoVoucher').click(function() {
            $('.voucherSelecao').show();
            $('.voucherConfirmacao').hide();
        });
        
        $('.btnSimVoucher').click(function() {
            regatarVoucher();
        });
        
        function regatarVoucher() {
            var leId =  $('.tableCampanha').find('input[name=gender]:checked').val();
            console.log(cpf + ' ' + leId + ' ' + oId);
            
            ClienteTestDriveSfa2Controller.resgatarVoucher(cpf, leId, oId, function(res, ev) {
                $("#dialogVoucher").dialog('close');
            });
        }
        
        function verificarCampanha() {
            
            if(cpf == null || cpf == 'undefined' || cpf == '') {
                return;
            }
            
            ClienteTestDriveSfa2Controller.verificarCampanha(cpf, oId, function(res, ev) {
                
                if(!ev.status) {
                    
                } else if(res.length > 0) {
                    var appendStr = '';
                    
                    for(var i = 0; i < res.length; i++) {
                        appendStr += '<tr>';
                        
                        if(res[i].Campaign.Billing_Required__c) {
                            appendStr += '<td class="dataCell"><input type="radio" name="gender" value="' + 
                                res[i].Lead.Id + '" campanha="' + res[i].Campaign.Name + 
                                '" voucher="' + res[i].Lead.Voucher_Protocol__c + '"></td>';
                            
                        } else {
                            appendStr += '<td class="dataCell"></td>';
                            
                        }
                        
                        appendStr += '<td class="dataCell">' + res[i].Campaign.Name + '</td>'; 
                        appendStr += '<td class="dataCell">' + res[i].Lead.Voucher_Protocol__c + '</td>'; 
                        
                        appendStr += '</tr>'
                    }
                    
                    $('#dialogVoucher table tbody').html( appendStr );
                    $("#dialogVoucher").dialog({
                        modal: true,
                        resizable: false,
                        draggable: false,
                        width: 700,
                        close: function() {
                            // onCompletSave();
                        }
                    });
                    
                }
                
            }, { buffer: false } );
        }
    });
    
    window.onload = function() {
        //disableDateTimeFields({!testDriveVO.disabledFields});
    };
    /*function disableDateTimeFields(disabled) {
        var txtDepartureTime = document.getElementById(
            'vfp08:form:pgBlockMain:pbSectionAgendaVehiclesPart2:pbSecItemDepTime:txtDepartureTime');
        
        var txtReturnTime = document.getElementById(
            'vfp08:form:pgBlockMain:pbSectionAgendaVehiclesPart2:pbSecItemRetTime:txtReturnTime');
        
        txtDepartureTime.disabled   = disabled;
        txtReturnTime.disabled      = disabled;
    }*/
    function isValidNumber(e, value) {
        var charCode = (e.which) ? e.which : e.keyCode;
        var isValid;
        
        if(value == '0') {
            isValid = charCode <= 31;
        } else {
            isValid = ((charCode <= 31) || (charCode >= 48 && charCode <= 57));
        }
        
        return isValid;
    }
    function verifySchedulingStatus(schedulingStatus, hour) {
        if(schedulingStatus == 'available') {
            afConfirmationSchedule(hour);      
        }   
    }
    function openPopUpConfirmationSchedule(){
        showPopUp(true, 'divPopUpConfSchedule');
    }
    function closePopUpConfirmationSchedule() {
        showPopUp(false, 'divPopUpConfSchedule');
    }
    function openPopUpCancellationOpportunity() {
        showPopUp(true, 'divPopUpCancelOpp');
    }
    function closePopUpCancellationOpportunity() {
        showPopUp(false, 'divPopUpCancelOpp');
    }
    function openPopUpGenerationQuote(){
        showPopUp(true, 'divPopUpGenerationQuote');
    }
    function closePopUpGenerationQuote(){
        showPopUp(false, 'divPopUpGenerationQuote');
    }
    function showPopUp(open, popUpId){
        if(open) {
            $("#divBackground").show(); 
            $("#" + popUpId).show();
            
            //$('.background-load').show();
            
        } else {
            $("#" + popUpId).hide();
            $("#divBackground").hide();
            
            //$('.background-load').hide();
        }
    }
    function showLoad() {
        controlAjaxLoad(true);
    }
    function hideLoad(){
        controlAjaxLoad(false);
    }
    function controlAjaxLoad(isLoad){
        if(isLoad){
            $('.background-load').show();
            $('.divLoad').show();
            
        } else {
            $('.background-load').hide();
            $('.divLoad').hide();   
        }
    }
    function showLoadAgenda(){
        controlAjaxLoadAgenda(true);
    }
    function hideLoadAgenda(){
        controlAjaxLoadAgenda(false);
    }
    function controlAjaxLoadAgenda(isLoad){
        if(isLoad) {
            $('.background-load').show();
            $('.divLoadAgenda').show();
            $('.tableAgenda').hide();
            $('.tableCalendar').hide();
            
        } else {
            $('.background-load').hide();
            $('.divLoadAgenda').hide();
            $('.tableCalendar').show();
            $('.tableAgenda').show();     
        }
    }
    function showCancelarOpp() {
        $( "#dialog2" ).dialog({
            modal: true,
            resizable: false,
            draggable: false,
            width: 500
        });
    }
    function cancelarOpp(btn) {
        var motivo = $('#dialog2').find('select').val();
        if(motivo == '') {
            return;
        }
        $(btn).hide();
        $('#cancelarOppAguarde').show();
        cancelOpportunity(motivo);
    }
</script>
    
    <apex:form id="form">
        <apex:actionFunction name="cancelOpportunity" action="{!cancelOpportunity}" reRender="form">
            <apex:param name="motivo" value="" />
        </apex:actionFunction>
        
        <!-- div colocada para "congelar" a tela original quando um pop-up for aberto-->
        <div id="divBackground" class="divPopLoadBackground"></div>
        <!-- div de background do efeito load-->
        <div class="background-load"></div>
        <!-- div do efeito load-->
        <div class="divLoad">
            <apex:image url="{!URLFOR($Resource.Icons, 'ajax-loader.gif')}"/> 
        </div>
        
        <apex:actionStatus id="asLoad" onstart="showLoad();" onstop="hideLoad();"/>
        <apex:actionStatus id="asLoadAgenda" onstart="showLoadAgenda();" onstop="hideLoadAgenda();"/>
        
        <apex:pageblock id="pgBlockMain" mode="detail">
            
            <apex:pageMessages id="messages" />
            
            <!-- inicio seção informações cliente-->
            <apex:pageBlockSection id="pbSectionCustomerInformation" title="Informações do Cliente" columns="2" collapsible="false">
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Cliente:" id="lblCustomerName" for="outCustomerName"/>
                    <apex:outputText id="outCustomerName" value="{!testDriveVO.customerName}"/>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Veículo Atual:" id="lblCurrentVehicle" for="outCurrentVehicle"/>
                    <apex:outputText id="outCurrentVehicle" value="{!testDriveVO.currentVehicle}"/>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Telefone Residencial:" id="lblPersLandline" for="outPersLandline"/>
                    <apex:outputText id="outPersLandline" value="{!testDriveVO.persLandline}"/>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Ano Veículo Atual:" id="lblYearCurrentVehicle" for="outYearCurrentVehicle"/>
                    <apex:outputText id="outYearCurrentVehicle" value="{!testDriveVO.yearCurrentVehicle}"/>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Celular:" id="lblPersMobPhone" for="outPersMobPhone"/>
                    <apex:outputText id="outPersMobPhone" value="{!testDriveVO.persMobPhone}"/>
                </apex:pageBlockSectionItem>
                
            </apex:pageblockSection>
            <!-- fim seção informações cliente-->
            
            <!-- inicio seção informações test drive-->
            <apex:pageBlockSection id="pbSectionTestDriveInformation" title="Informações do Test Drive" columns="2" collapsible="false">
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Test Drive:" id="lblTestDrive" for="outTestDrive"/>
                    <apex:outputText id="outTestDrive" value="{!testDriveVO.name}"/>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Status:" id="lblStatus" for="optStatus"/>
                    <apex:selectList value="{!testDriveVO.status}" disabled="{!testDriveVO.statusDisabled}" id="optStatus" size="1" styleClass="customSelectList">
                        <apex:selectOptions value="{!testDriveVO.lstSelOptionStatus}"/>
                        <apex:actionSupport event="onchange" action="{!processStatusChange}" reRender="pbSectionTestDriveInformation, optVehiclesAvailable, panelAgenda, pbSectionAgendaVehiclesPart2, panelEvaluationTestDrive, panelInterestAfterTestDrive, messages" status="asStatusChange"/>
                        <apex:actionStatus id="asStatusChange" onstart="showLoad();" onstop="hideLoad();"/>      
                    </apex:selectList>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Vendedor:" id="lblSellerName" for="outSellerName"/>
                    <apex:outputText id="outSellerName" value="{!testDriveVO.sellerName}"/>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Motivo Cancelamento:" id="lblReasonCancellation" for="optReasonCancellation"/>
                    <apex:selectList value="{!testDriveVO.reasonCancellation}" id="optReasonCancellation" disabled="{!testDriveVO.reasonCancellationDisabled}" size="1" style="width: 320x;">
                        <apex:selectOptions value="{!testDriveVO.lstSelOptionReasonCancellation}"/>
                    </apex:selectList>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Oportunidade:" id="lblOpportunityName" for="outOpportunityName"/>
                    <apex:outputText id="outOpportunityName" value="{!testDriveVO.opportunityName}"/>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Modelo Desejado:" id="lblVehicleInterest" for="optVehicleInterest"/>
                    <apex:selectList value="{!testDriveVO.vehicleInterest}" disabled="{!testDriveVO.disabledFields}" id="optVehicleInterest" size="1" styleClass="customSelectList">
                        <apex:selectOptions value="{!testDriveVO.lstSelOptionVehicleInterest}"/>                       
                        <apex:actionSupport event="onchange" action="{!processVehicleInterestChange}" reRender="messages, optVehiclesAvailable, outModel, outVersion, outColor, panelAgenda, pbSectionDocRVA" status="asLoad"/>
                    </apex:selectList>
                </apex:pageBlockSectionItem>
                
            </apex:pageblockSection>
            <!-- fim seção informações test drive-->
            
            <!-- inicio da primeira parte da seção agenda veículos -->
            <apex:pageblockSection id="pbSectionAgendaVehicles" title="Agendamento de Test Drive" collapsible="false" columns="2">
                
                <apex:pageblockSectionItem >
                    <apex:outputLabel id="lblVehiclesAvailable" value="Veículos Disponíveis:" for="optVehiclesAvailable"/>
                    <apex:selectList value="{!testDriveVO.testDriveVehicleId}" disabled="{!testDriveVO.disabledFields}" id="optVehiclesAvailable" size="1" styleClass="customSelectList">
                        <apex:selectOptions value="{!testDriveVO.lstSelOptionVehiclesAvailable}"/>
                        <apex:actionSupport event="onchange" action="{!processVehicleAvailableChange}" reRender="outModel, outVersion, outColor, outSchedulingDate, panelAgenda, messages" status="asLoadAgenda"/>                         
                    </apex:selectList>                 
                </apex:pageblockSectionItem>
                
                <apex:pageblockSectionItem >     
                    <apex:outputLabel id="lblSchedulingDate" value="Data Agendamento:"/>
                    <apex:outputText id="outSchedulingDate" value="{!testDriveVO.dateBookingFmt}" styleClass="bold"/>
                </apex:pageblockSectionItem>
                
                <apex:pageblockSectionItem >                      
                    <apex:outputLabel id="lblModel" value="Modelo:"/>
                    <apex:outputText id="outModel" value="{!testDriveVO.model}"/>
                </apex:pageblockSectionItem>
                
                <apex:pageblockSectionItem >
                    <apex:outputLabel id="lblVehicleScheduled" value="Veículo Agendado:"/>
                    <apex:outputText id="outVehicleScheduled" value="{!testDriveVO.vehicleScheduled}" styleClass="bold"/>
                </apex:pageblockSectionItem>
                
                <apex:pageblockSectionItem >
                    <apex:outputLabel id="lblVersion" value="Versão:"/>
                    <apex:outputText id="outVersion" value="{!testDriveVO.version}"/>
                </apex:pageblockSectionItem> 
                
                <apex:pageblockSectionItem >
                    <apex:outputLabel value="Motor:"/>
                    <apex:outputText value="{!testDriveVO.motor}"/>
                </apex:pageblockSectionItem>
                
                <apex:pageblockSectionItem >
                    <apex:outputLabel id="lblColor" value="Cor:"/>
                    <apex:outputText id="outColor" value="{!testDriveVO.color}"/>
                </apex:pageblockSectionItem>
                
                <apex:pageblockSectionItem >
                    <apex:outputLabel value="Câmbio:"/>
                    <apex:outputText value="{!testDriveVO.cambio}"/>
                </apex:pageblockSectionItem>
            </apex:pageblockSection>
            
            <br/> 
            
            <div class="divLoadAgenda" align="center">
                <apex:image url="{!URLFOR($Resource.Icons, 'ajax-loader.gif')}"/> 
            </div>
            
            <apex:outputPanel id="panelAgenda">
                <div align="center">
                    <apex:outputPanel rendered="{!testDriveVO.lstAgendaVehicle.size > 0}">
                        <table class="tableCalendar">
                            <tr>
                                <td align="left">        
                                    <apex:commandLink action="{!getAgendaPreviousDay}" rendered="{!testDriveVO.navigationAgendaVisible}" reRender="outDateBooking, panelTabAgenda, messages" status="asLoadAgenda">
                                        <apex:image url="{!URLFOR($Resource.Icons, 'previous.png')}" />
                                    </apex:commandLink>
                                </td>
                                
                                <td align="center">
                                    <apex:outputText id="outDateBooking" value="{!testDriveVO.dateBookingNavigationFmt}"/>
                                </td>
                                
                                <td align="right">
                                    <apex:commandLink action="{!getAgendaNextDay}" rendered="{!testDriveVO.navigationAgendaVisible}" reRender="outDateBooking, panelTabAgenda, messages" status="asLoadAgenda">
                                        <apex:image url="{!URLFOR($Resource.Icons, 'next.png')}"/>
                                    </apex:commandLink>
                                </td>
                            </tr>
                        </table>
                    </apex:outputPanel>
                    
                    <br/>
                    
                    <apex:outputPanel id="panelTabAgenda" rendered="{!testDriveVO.lstAgendaVehicle.size > 0}">
                        <table class="tableAgenda" cellpadding="5" cellspacing="0" border="1" bordercolor="#EEE">   
                            <apex:repeat var="row" value="{!testDriveVO.lstAgendaVehicle}">
                                <tr>
                                    <apex:repeat var="col" value="{!row}">
                                        <td class="{!col.schedulingStatus}" onclick="verifySchedulingStatus('{!col.schedulingStatus}', '{!col.hour}');" >
                                            <apex:outputText value="{!col.hour}"/>
                                        </td>
                                    </apex:repeat>
                                </tr>
                            </apex:repeat>
                        </table> 
                    </apex:outputPanel>
                    
                    <br/>
                    
                </div>
                
            </apex:outputPanel>
            <!-- fim da primeira parte da seção agenda veículos -->
            
            <!-- inicio legenda -->
            <div align="center">
                <table width="37%">       
                    <tr>
                        <td class="bold" style="vertical-align: middle;text-align: right;">
                            Disponível
                        </td>                        
                        <td>    
                            <apex:image url="{!URLFOR($Resource.Icons, 'white.png')}" style="width: 20px;height: 20px;"/> 
                        </td>
                        <td class="bold" style="">
                            Agendado
                        </td>
                        <td>
                            <apex:image url="{!URLFOR($Resource.Icons, 'yellow.png')}" style="width: 20px;height: 20px;"/> 
                        </td>
                        
                        <td class="bold" style="vertical-align: middle;text-align: right;">
                            Confirmado
                        </td>
                        <td> 
                            <apex:image url="{!URLFOR($Resource.Icons, 'green.png')}" style="width: 20px;height: 20px;"/>
                        </td>                        
                    </tr>
                </table>
            </div>               
            <!-- fim agenda -->                   
            
            <apex:actionFunction name="afConfirmationSchedule" reRender="panelPopUpConfSchedule, messages" status="asConfSchedule">
                <apex:param name="selectedTime" assignTo="{!testDriveVO.selectedTime}" value=""/>
            </apex:actionFunction>
            
            <apex:actionStatus id="asConfSchedule" onstart="showLoadAgenda();" onstop="hideLoadAgenda(); openPopUpConfirmationSchedule();"/>
            <br/>
            <br/>
            <br/>
            <br/>
            <!-- inicio seção comentários e sugestões-->
            <apex:pageBlockSection id="pbSectionComments" columns="1" collapsible="false">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Outras Informações:" id="lblComments" for="txtComments"/>
                    <apex:inputtextarea id="txtComments" value="{!testDriveVO.comments}" disabled="{!testDriveVO.commentsDisabled}" cols="118" rows="4"/>                
                </apex:pageBlockSectionItem>
            </apex:pageblockSection>
            <!-- fim seção comentários e sugestões-->
            
        </apex:pageblock>    
        
        <apex:pageBlock mode="detail">
            <apex:outputPanel layout="block" style="text-align: center; font-size: 13px;">
                <apex:commandButton value="Agendar/Concluir" action="{!completeTestDrive}" disabled="{!testDriveVO.btnCompleteTestDriveDisabled}" styleClass="customButton"/> &nbsp; &nbsp;                                          
                <apex:commandButton value="Novo Test Drive" action="{!performNewTestDrive}" styleClass="customButton"/> &nbsp; &nbsp;
                <apex:commandButton value="Orçamento" action="{!verifyGenerateQuote}" reRender="panelPopUpGenerationQuote" status="asPopUpGenerationQuote" styleClass="customButton"/> &nbsp; &nbsp;
                <!--<apex:commandButton value="Cancelar Oportunidade" action="{!openPopUpCancellation}"
                                    reRender="panelPopUpCancellation" status="asPopUpCancelOpp" styleClass="customButton"/>
				-->
                <apex:commandButton value="Cancelar Oportunidade"
                                    onclick="showCancelarOpp(this); return false;"
                                    styleClass="customButton" reRender="motivoOppSelect"/> &nbsp;
                <apex:actionStatus id="asPopUpCancelOpp" onstart="showLoad();" onstop="hideLoad(); openPopUpCancellationOpportunity();"/>
                <apex:actionStatus id="asPopUpGenerationQuote" onstart="showLoad();" onstop="hideLoad(); openPopUpGenerationQuote();"/>
            </apex:outputPanel>
        </apex:pageBlock>
        
        <!-- inicio do pop-up de confirmação do agendamento do test drive -->
        <apex:outputPanel id="panelPopUpConfSchedule"> 
            <div id="divPopUpConfSchedule" class="divMain2">
                <apex:pageBlock id="pbConfSchedule" mode="detail">
                    <apex:pageBlockSection id="pbSectionConfSchedule" title="Confirmação do Agendamento" collapsible="false" columns="1">
                        <apex:outputPanel id="panelQuestionCondSchedule" layout="block" style="text-align: center; font-size: 13px;">
                            <br/>
                            <apex:outputLabel value="Confirma o agendamento para o dia {!testDriveVO.dateBookingNavigationFmt} às {!testDriveVO.selectedTime}hs?" id="lblQuestionConfSchedule" styleClass="labelCol"/>
                            <br/> <br/>
                            <apex:commandButton value="Sim" action="{!confirmSchedulingTestDrive}" styleClass="customButtonPopUpConfirmation" status="asConfScheduleYes" reRender="optStatus, outSchedulingDate, outVehicleScheduled, panelTabAgenda, messages"/> &nbsp; 
                            <apex:commandButton value="Não" onclick="closePopUpConfirmationSchedule();" reRender="panelPopUpConfSchedule" styleClass="customButtonPopUpConfirmation"/>
                            <apex:actionStatus id="asConfScheduleYes" onstart="closePopUpConfirmationSchedule(); showLoadAgenda();" onstop="hideLoadAgenda();"/>
                        </apex:outputPanel>
                    </apex:pageBlockSection>
                </apex:pageBlock>
            </div>
        </apex:outputPanel>
        <!-- fim do pop-up de confirmação do agendamento do test drive -->
        
        <div id="dialog2" title="Cancelamento de Oportunidade" style="display: none;">
            <apex:outputPanel id="panelCancelOpp" layout="block" style="text-align: center;">
                <br/>
                <apex:outputLabel value="Motivo:"/>
                <apex:selectList id="motivoOppSelect" value="{!motivoCancelamento}"  size="1" style="width: 362px;">
                    <apex:selectOptions value="{!motivoCancelList}"/>
                </apex:selectList>
                <br/> <br/>
                <apex:commandButton id="cancelButton" value="Cancelar Oportunidade" onclick="cancelarOpp(this); return false;" styleClass="customButtonPopUp"/>
                <div id="cancelarOppAguarde" style="display: none;">
                    <apex:image value="/img/loading.gif"/><apex:outputText value="{!$Label.VFP21_Loading}"/>
                </div>
            </apex:outputPanel>
        </div>
        
        <!-- inicio do pop-up geração orçamento -->
        <apex:outputPanel id="panelPopUpGenerationQuote">
            <div id="divPopUpGenerationQuote" class="divMain">
                <apex:pageBlock id="pbGenerationQuote" mode="detail">
                    <div class="divClose" onclick="closePopUpGenerationQuote();">
                        FECHAR
                    </div>
                    <apex:pageBlockSection id="pbSectionGenerationQuote" title="{!testDriveVO.titlePopUpGenerationQuote}" collapsible="false" columns="1">
                        <apex:outputPanel id="panelQuestion" rendered="{!testDriveVO.confirmationGenerationQuoteVisible}" layout="block" style="text-align: center; font-size: 13px;">
                            <br/>
                            <apex:outputLabel value="Deseja fazer o pedido sem Test Drive?" id="lblQuestion" styleClass="labelCol"/>
                            <br/> <br/>
                            <apex:commandButton value="Sim" action="{!confirmGenerationQuote}" styleClass="customButtonPopUpConfirmation" reRender="pbGenerationQuote"/> &nbsp; 
                            <apex:commandButton value="Não" onclick="closePopUpGenerationQuote();" reRender="panelPopUpGenerationQuote" styleClass="customButtonPopUpConfirmation"/>
                        </apex:outputPanel>
                        <apex:outputPanel id="panelCancelTestDrive" rendered="{!testDriveVO.reasonCancellationPopUpVisible}" layout="block" style="text-align: center;">
                            <br/>
                            <apex:outputLabel value="Motivo:" id="lblReasonCancellationPopUp" for="optReasonCancellationPopUp" styleClass="labelCol"/>
                            <apex:selectList value="{!testDriveVO.reasonCancellation}" id="optReasonCancellationPopUp" size="1" style="width: 320x;">
                                <apex:selectOptions value="{!testDriveVO.lstSelOptionReasonCancellation}"/>
                                <apex:actionSupport event="onchange" action="{!processReasonCancellationTestDriveChange}" reRender="generateQuoteButton"/>
                            </apex:selectList>
                            <br/> <br/>
                            <apex:commandButton id="generateQuoteButton" value="Fazer Pedido" action="{!generateQuote}" disabled="{!testDriveVO.btnGenerateQuoteDisabled}" styleClass="customButtonPopUp"/>
                        </apex:outputPanel>
                    </apex:pageBlockSection> 
                </apex:pageBlock>
            </div>
        </apex:outputPanel>
        <!-- fim do pop-up geração orçamento -->  
    </apex:form>
    
    <apex:form >
        <div id="dialogVoucher" title="Ações Promocionais" style="display: none;">
            <div class="voucherSelecao">
                <br/>
                <p style="text-align: center;">Este cliente possui ações promocionais disponíveis</p>
                <br/>
                <div class="divTableCampanha">
                    <table class="tableCampanha">
                        <thead>
                            <tr>
                                <th style="width: 25px;"></th>
                                <th>Campanha</th>
                                <th>Código Promocional</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>    
                </div>
                <br/>
                <br/>
                <p style="text-align: center;">Os vouchers que não estiverem disponíveis para seleção, exigem faturamento da negociação</p>
                <p style="text-align: center;">O resgate poderá ser efetuado pelo aplicativo Ações Promocionais</p>
                <br/>
                <p style="text-align: center;">
                    <button class="btnCancelarVoucher" style="font-weight: normal;">Cancelar</button>
                    <button class="btnResgatarVoucher" style="font-weight: normal;">Resgatar</button>
                </p>
            </div>
            <div class="voucherConfirmacao" style="display: none;">
                <br/>
                <p style="text-align: center;">Confirma o resgate do voucher <span></span> ?</p>
                <br/>
                <p style="text-align: center;">Lembre-se este voucher não é reembolsado</p>
                <br/>
                <p style="text-align: center;">
                    <button class="btnNaoVoucher" style="font-weight: normal;">Não</button>
                    <button class="btnSimVoucher" style="font-weight: normal;">Sim</button>
                </p>
            </div>
            
        </div>
    </apex:form>
    
    
</apex:page>