<apex:page controller="EstoqueSfa2Controller" sidebar="false" readOnly="true">
  <apex:stylesheet value="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
  <script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
 
    
  <script src="{!$Resource.jqdatatables}"></script>
  
    <style>
        .caption{
            border: thin solid gray;
            margin: 2px;
        }
        .pull-r{
            float:right;
        }
        .dataTables_paginate, .dataTables_filter{
            display: inline;
            float: right;
            vertical-align: baseline;
            font-weight: bold;
        }
        .dataTables_paginate, .dataTables_info, .dataTables_length, .dataTables_filter{
            margin: 4px 0px 2px 0px;
        }
        .dataTables_length, .dataTables_info{
            display: inline;
            font-weight: bold;
        }
        
        .dataTables_paginate a, .dataTables_paginate span a{
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            background: url("/img/alohaSkin/btn_sprite.png") repeat-x scroll right top #E8E8E9;
            border-color: #B5B5B5 #B5B5B5 #7F7F7F;
            border-image: none;
            border-radius: 3px;
            border-style: solid;
            border-width: 1px;
            color: #333333;
            font-size: 0.9em;
            font-weight: bold;
            margin: 1px;
            padding: 2px 3px;
        }
        th.headerRow div:after{
            content:url({!$Resource.tablesorticon});
        }
        .dataTables_paginate a:hover, .dataTables_paginate span a:hover{
            text-decoration: none;
            color: #333333;
        }
        #status, #dummyDiv{
            display:none;
        }
        .autoscroll{
            overflow: auto;
            max-height: 400px;
        }
        .pbBody{
            display: none;
        }
        .pbHeader{
            border-bottom: none !important;
        }
        div#filter{
            float: left;
            width: 50%;
        }
        div#filter label{
            font-weight: bold;
            font-size: 12px;
        }
        .greenRow{
            background-color: #CFFCCF;
        }
        .redRow{
            background-color: #FCCFD4;
        }
        .tableFooter {
            display: inline;
            float: left;
            margin-left: 20%;
            margin-top: 2px;
            position: absolute;
        }
        .linha-link {
            font-weight: bold;
        }
    </style>
    
  <script>
    j$ = $.noConflict();
    j$(document).ready( function( $ ) {        
        j$('#searchInput').on('keypress', function(event) {
            if(event.which === 13){
                buscarCliente();
            }
        });
    });
    
    function startStatus() {
        j$('#filter').hide();
        j$('#status').show();
    }
    
    function stopStatus() {
        j$('#status').hide();
        j$('#filter').show();
        j$('div[id$=resultTable] table').dataTable({
            sPaginationType: "full_numbers",
            bAutoWidth: true,
            fnRowCallback: function (nRow, aData, iDisplayIndex){
                j$('#dummyDiv').html( aData );
                var status = j$('span[data-status]').attr( 'data-status' );
                nRow.className += ( ( status == 'true' ) ? ' greenRow' : ' redRow' );
            },
            sDom: 'lfti<"tableFooter">p',
            oLanguage: {
                sLengthMenu: "{!$Label.VFP23_Records_per_page}",
                sZeroRecords: "{!$Label.VFP20_Desktop_No_Records}",
                sInfo: "{!$Label.VFP23_Record_Range}",
                sInfoEmpty: "{!$Label.VFP23_Empty_Range}",
                sInfoFiltered: "{!$Label.VFP23_Filtered_records}",
                sSearch: "{!$Label.VFP23_Search}:",
                oPaginate: {
                    sFirst: "{!$Label.VFP23_First}",
                    sPrevious: "{!$Label.VFP23_Previous}",
                    sNext: "{!$Label.VFP23_Next}",
                    sLast: "{!$Label.VFP23_Last}"
                }
            }
        });
        j$('.dataTables_paginate a, .dataTables_paginate span a').addClass( 'btn' );
        j$('.tableFooter').html( 
            '<label><strong>{!$Label.VFP23_Caption}: </strong></label><label class="redRow caption">{!$Label.VFP23_Unavailable}</label><label class="greenRow caption">{!$Label.VFP23_Available}</label>'
        );
    }
    
    function selection( select ){
        //if( j$( select ).val() == '' ) return;
        startStatus();
        selectVehicle();
    }
    
    function showTable(){
        j$('.pbBody').slideDown();
        j$(".pbHeader").animate( {borderBottom: "inherit"} );
    }
    
    function openDialog(veiculo) {
        j$( "#dialog" ).attr('veiculoId', veiculo);
        j$( "#dialog" ).dialog({
            modal: true,
            resizable: false,
            draggable: false,
            width: 500
        });
    }
    function buscarCliente() {
        var entrada = j$('#searchInput').val();
        var veiculoId = j$("#dialog").attr('veiculoId');
        if(entrada == '') {
            return;
        }
        
        window.location = '../apex/pesquisaSfa2?veh=' + veiculoId + '&entrada=' + entrada;
        //alert('Entrada:' + entrada + ' veiculo:' + veiculoId);
    }
    
  </script>
  
  <div id="dummyDiv"></div>
  
  <apex:form >
    
    <apex:actionFunction name="selectVehicle" action="{!selectVehicle}" rerender="selectCor, versaoSelect, opcionalSelect, resultTable, pbMessage" oncomplete="stopStatus();showTable();"/>
            
    <apex:pageMessages id="pbMessage"/>
    
    <apex:pageBlock id="SelectionPB" >
     
        
      <apex:pageblockButtons location="top">
        <div id="filter">
          <!--<apex:outputLabel value="{!$Label.VFP23_VehicleModels}: "/>
          <apex:selectList size="1" value="{!modelName}" onchange="selection( this )" id="vehicleSelect">
            <apex:selectOption itemValue="NONE" itemLabel="{!$Label.VFP23_Choose_Vehicle}"/>
            <apex:selectOption itemValue="CLIO" itemLabel="{!$Label.VFP23_Vehicle_1}"/>
            <apex:selectOption itemValue="SANDERO" itemLabel="{!$Label.VFP23_Vehicle_2}"/>
            <apex:selectOption itemValue="LOGAN" itemLabel="{!$Label.VFP23_Vehicle_3}"/>
            <apex:selectOption itemValue="DUSTER" itemLabel="{!$Label.VFP23_Vehicle_4}"/>
            <apex:selectOption itemValue="FLUENCE" itemLabel="{!$Label.VFP23_Vehicle_5}"/>
            <apex:selectOption itemValue="KANGOO" itemLabel="{!$Label.VFP23_Vehicle_6}"/>
            <apex:selectOption itemValue="MASTER" itemLabel="{!$Label.VFP23_Vehicle_7}"/>
          </apex:selectList>
            -->
            <apex:pageBlockSection columns="2" >
                <apex:pageBlockSectionItem >
                <apex:outputLabel value="{!$Label.VFP23_VehicleModels}: "/>
                <apex:selectList size="1" value="{!modelo}" onchange="selection( this )" id="vehicleSelect">
                    <apex:selectOptions value="{!modelos}"/>
                </apex:selectList>
                </apex:pageBlockSectionItem>
                
               <apex:pageBlockSectionItem >
                <apex:outputLabel value="Cor: "/>
                <apex:selectList size="1" value="{!cor}" onchange="selection( this )" id="selectCor">
                    <apex:selectOptions value="{!cores}"/>
                </apex:selectList>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                <apex:outputLabel value="Versão: "/>
                <apex:selectList size="1" value="{!versao}" onchange="selection( this )" id="versaoSelect">
                    <apex:selectOptions value="{!versoes}"/>
                </apex:selectList>
                </apex:pageBlockSectionItem>
                
               <apex:pageBlockSectionItem >
                <apex:outputLabel value="Opcionais: "/>
                <apex:selectList size="1" value="{!opcional}" onchange="selection( this )" id="opcionalSelect">
                    <apex:selectOptions value="{!opcionais}"/>
                </apex:selectList>
                </apex:pageBlockSectionItem>
                
            </apex:pageBlockSection>
        </div>
        <div id="status">
          <apex:image value="/img/loading.gif"/><apex:outputLabel value="{!$Label.VFP21_Loading}"/>
        </div>
      </apex:pageblockButtons>
      
    <apex:outputPanel id="resultTable" layout="block">
        <apex:pageblockTable value="{!vehicleList}" var="vehicle" rendered="{!vehicleList.size > 0}">
          <apex:column headerValue="Ação">
          <apex:outputLink styleClass="linha-link"
                           onclick="openDialog('{!vehicle.v.Id}');return false;"
                           disabled="{!(!vehicle.negociar) || !iniciarNeg}"
                           value="">Iniciar Negociação</apex:outputLink>
          </apex:column>
          <apex:column headerValue="{!$ObjectType.VEH_Veh__c.fields.Status__c.label}">
            <apex:outputField value="{!vehicle.v.VIN__r.Status__c}" html-data-status="{!vehicle.negociar}"/>
          </apex:column>
          <apex:column headerValue="{!$ObjectType.VEH_Veh__c.fields.State__c.label}" value="{!vehicle.v.VIN__r.State__c}"/>
          <apex:column headerValue="{!$ObjectType.VEH_Veh__c.fields.Booking_User__c.label}" value="{!vehicle.v.VIN__r.Booking_User__r.Name}"/>
          <apex:column headerValue="{!$ObjectType.VEH_Veh__c.fields.Name.label}" value="{!vehicle.v.VIN__r.Name}"/>
          <apex:column headerValue="{!$ObjectType.VEH_Veh__c.fields.Model__c.label}" value="{!vehicle.v.VIN__r.Model__c}"/>
          <apex:column headerValue="{!$ObjectType.VEH_Veh__c.fields.Version__c.label}" value="{!vehicle.v.VIN__r.Version__c}"/>
          <apex:column headerValue="{!$ObjectType.VEH_Veh__c.fields.Optional__c.label}" value="{!vehicle.v.VIN__r.Optional__c}"/>
          <apex:column headerValue="{!$ObjectType.VEH_Veh__c.fields.Color__c.label}" value="{!vehicle.v.VIN__r.Color__c}"/>
          <apex:column headerValue="{!$ObjectType.VEH_Veh__c.fields.Price__c.label}" value="{!vehicle.v.VIN__r.Price__c}"/>
          <apex:column headerValue="{!$ObjectType.VEH_Veh__c.fields.Year_Model_Version__c.label}" value="{!vehicle.v.VIN__r.Year_Model_Version__c}"/>
          <apex:column headerValue="{!$ObjectType.VRE_VehRel__c.fields.Days_in_Stock__c.label}" value="{!vehicle.v.Days_in_Stock__c}"/>
          <apex:column headerValue="{!$ObjectType.Account.fields.IDBIR__c.label}" value="{!vehicle.v.Account__r.IDBIR__c}"/>
        </apex:pageblockTable>
        <i>
          <apex:outputText value="{!$Label.VFP20_Desktop_No_Records}" rendered="{!vehicleList.size == 0}"/>
        </i>
      </apex:outputPanel>
    </apex:pageBlock>
  </apex:form>
    
    <apex:form >
        <div id="dialog" title="Insira os dados para localizar o cliente" style="display: none;">
            <p><input type="text" style="width:400px;" placeholder="{!$Label.VFP21_Search_For}" id="searchInput"/>
                <apex:commandButton onclick="buscarCliente();" value="Buscar" id="cancelButton"></apex:commandButton></p>
        </div>
    </apex:form>
</apex:page>