<apex:page controller="et4ae5.phoenixSendControl" tabStyle="et4ae5__SendDefinition__c" action="{!initialize}">
    <apex:composition template="et4ae5__SendTemplate">
        <apex:define name="customCSS">
            <style>
                .bPageBlock .pbHeader {
                    background-color: white;
                }
                .alert>p+p {
                    margin-top: 5px;
                }
                .alert-dismissable .close {
                    top: -2px;
                    right: -21px;
                }
            </style>
        </apex:define>
        <apex:define name="sendTypeImage">
            <img height="45" src="{!URLFOR( $Resource.ExactTargetImages, 'email.png' )}" />
        </apex:define>
        <apex:define name="buManagementImage">
            <img height="45" src="{!URLFOR( $Resource.ExactTargetImages, 'bumgmtemail.png' )}" />
        </apex:define>
        <apex:define name="sendTypeLabel">
            {!$Label.et4ae5__etEmSend}
        </apex:define>
    </apex:composition>
    <apex:form styleClass="fieldForm">
        <apex:outputPanel id="pageMessages">
            <c:pageMessages closableErrors="true" />
        </apex:outputPanel>
        <apex:outputPanel id="previewDialog">
        	<c:dynamicSendPreview />
        </apex:outputPanel>
        <apex:actionFunction name="selectEmailJS" action="{!selectEmail}" rerender="emailName,emailSubject,exactTargetEmails,emailPreviewLinkWrapper,recipientReportWrapper,sendEmailForm,sendButton" status="listEmailsStatus">
            <apex:param name="emailId" value="" />
            <apex:param name="emailName" value="" />
            <apex:param name="emailSubject" value="" />
        </apex:actionFunction>
        <apex:actionFunction name="selectReportJS" action="{!selectReport}" rerender="emailName,emailSubject,exactTargetEmails,emailPreviewLinkWrapper,recipientReportWrapper,sendEmailForm" status="listRecipientReportsStatus">
            <apex:param name="ReportId" value="" />
            <apex:param name="ReportName" value="" />
        </apex:actionFunction>
        <apex:actionFunction name="getFolderInfo" action="{!expandFolder}" rerender="pageMessages,emailName,emailSubject,exactTargetEmails,emailPreviewLinkWrapper,recipientReportWrapper" status="listEmailsStatus">
            <apex:param name="folderId" value="" />
        </apex:actionFunction>
        <apex:actionFunction name="openReportFolder" action="{!expandReportFolder}" rerender="pageMessages,emailName,emailSubject,exactTargetEmails,emailPreviewLinkWrapper,recipientReportWrapper" status="listRecipientReportsStatus">
            <apex:param name="reportFolderId" value="" />
        </apex:actionFunction>
        <apex:actionFunction name="toggleSort" action="{!toggleSort}" rerender="results">
            <apex:param name="tsSortField" value="" />
        </apex:actionFunction>
        <apex:actionFunction name="openExclusionReportFolder" action="{!expandExclusionReportFolder}" rerender="pageMessages,emailName,emailSubject,exactTargetEmails,emailPreviewLinkWrapper,exclusionReportWrapper" status="listExclusionReportsStatus">
            <apex:param name="exclusionReportFolderId" value="" />
        </apex:actionFunction>
        <apex:actionFunction name="openSubscriberListFolder" action="{!expandSubscriberListFolder}" rerender="emailName,emailSubject,exactTargetEmails,emailPreviewLinkWrapper,subscriberListWrapper" status="listSubscriberListsStatus">
            <apex:param name="subscriberListFolderId" value="" />
        </apex:actionFunction>
        <apex:actionFunction name="inclusionAdd" action="{!inclusionAdd}" rerender="emailName,emailSubject,exactTargetEmails,emailPreviewLinkWrapper,subscriberListWrapper,inclusionCampaignsZ,recipientReportsZ" status="recipPicklistStatus" />
        <apex:actionFunction name="inclusionRemove" action="{!removeCampaignList}" rerender="emailName,emailSubject,exactTargetEmails,emailPreviewLinkWrapper,subscriberListWrapper,inclusionCampaignsZ,recipSourcePicklists">
            <apex:param name="removeCampaignListId" value="" />
        </apex:actionFunction>
        <apex:actionFunction name="exclusionAdd" action="{!exclusionAdd}" rerender="emailName,emailSubject,exactTargetEmails,emailPreviewLinkWrapper,subscriberListWrapper,inclusionCampaignsZ,recipientReportsZ" />
        <apex:actionFunction name="exclusionRemove" action="{!removeExcluCampaignList}" rerender="emailName,emailSubject,exactTargetEmails,emailPreviewLinkWrapper,subscriberListWrapper,inclusionCampaignsZ,recipSourcePicklists">
            <apex:param name="removeCampaignListId" value="" />
        </apex:actionFunction>
        <apex:actionFunction name="selectLuBu" action="{!selectLuBu}" onComplete="hidepopup();" rerender="exactTargetEmails,pageMessages,sendEmailForm,fromBlock,recipientReports,recipientReportsZ,exclusionReports,exclusionReportsZ" status="wholePageBlock">
            <apex:param name="luBuId" value="" />
        </apex:actionFunction>
        <apex:actionFunction name="checkSendEmailReadiness" action="{!sendEnabler}" rerender="sendbutton" />
        <apex:actionFunction name="isSSon" action="{!isSSon}" rerender="sendbutton" />
        <apex:actionFunction name="isSSoff" action="{!isSSoff}" rerender="sendbutton" />
        <apex:actionFunction name="createBuFilter" action="{!createBuFilter}" oncomplete="showpopup();" status="wholePageBlock" rerender="popupOP,bottomBlock,exactTargetEmails,pageMessages,sendEmailForm,fromBlock,recipientReports,recipientReportsZ,exclusionReports,exclusionReportsZ"
        />
        <apex:actionFunction name="refreshPopup" action="{!voidReturn}" rerender="popupOP,opaqueOP" />
        <apex:stylesheet value="{!$Resource.et4ae5__ExactTargetStyles}" />
        <div align="right">
      <apex:outputpanel >
        <apex:commandLink style="text-decoration:none;color:#015ba7;" value="{!$Label.et4ae5__abTests}" onMouseOver="this.style.textDecoration='underline'" onMouseOut="this.style.textDecoration='none'"
        action="{!goToABTest}" />
        <apex:outputText value="{!pipe}" rendered="{!showDeepLinks}"/>
        <apex:outputLink target="_blank" style="text-decoration:none;color:#015ba7;" value="{!etLink}sessurl={!$Api.Partner_Server_URL_140}&sessid={!$Api.Session_ID}" onMouseOver="this.style.textDecoration='underline'" onMouseOut="this.style.textDecoration='none'" onclick="return confirm('{!$Label.et4ae5__msg0179}');" rendered="{!showDeepLinks}">
          {!$Label.et4ae5__goToEt}
        </apex:outputLink>
        <apex:outputText rendered="{!hasMobile}" value="{!pipe}" />
        <apex:commandLink rendered="{!hasMobile}" style="text-decoration:none;color:#015ba7;" value="{!$Label.et4ae5__mobileSend}" onMouseOver="this.style.textDecoration='underline'"
        onMouseOut="this.style.textDecoration='none'" action="{!goToMobile}" />
        <apex:outputText value="{!pipe}" rendered="{!hasTriggered}"/>
        <apex:commandLink style="text-decoration:none;color:#015ba7;" value="{!$Label.et4ae5__sendAtmtn}" onMouseOver="this.style.textDecoration='underline'" onMouseOut="this.style.textDecoration='none'"
        action="{!goToTriggeredSends}" rendered="{!hasTriggered}"/>        
        <apex:outputText rendered="{!isAdmin}" value="{!isAdminPipe}" />
        <apex:commandLink rendered="{!isAdmin}" style="text-decoration:none;color:#015ba7;" value="{!$Label.et4ae5__configInt}" onMouseOver="this.style.textDecoration='underline'"
        onMouseOut="this.style.textDecoration='none'" action="{!goToSettings}" />&nbsp;&nbsp;&nbsp;      	
      </apex:outputpanel>
        </div>
        <br />
        <apex:actionStatus id="wholePageBlock">
            <apex:facet name="start">
                <img class="spinnerLarge" src="{!URLFOR( $Resource.ExactTargetImages, 'spinEMAIL.GIF' )}" />
            </apex:facet>
            <apex:facet name="stop">
                <apex:pageBlock mode="view">
                    <div align="right">
                        <img style="vertical-align:middle;" height="18px" src="{!URLFOR( $Resource.ExactTargetImages, 'reqEmail.png' )}" />
                        <b> 
                            = {!$label.reqdInfo} 
                        </b>
                    </div>
                    <apex:pageBlockSection id="sendEmailForm" columns="1">
                        <apex:pageBlockSectionItem rendered="{!renderContact}" helptext="{!$Label.et4ae5__msg0062}">
                            <apex:outputLabel value="{!$Label.et4ae5__contact}" />
                            <apex:outputLabel value="{!ContactName}" />
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem rendered="{!renderLead}" helptext="{!$Label.et4ae5__msg0062}">
                            <apex:outputLabel value="{!$Label.et4ae5__lead}" />
                            <apex:outputLabel value="{!LeadName}" />
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem rendered="{!renderCampaign}" helptext="{!$Label.et4ae5__msg0061}">
                            <apex:outputLabel value="{!$Label.et4ae5__campaign}" />
                            <apex:outputLabel value="{!CampaignName}" />
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem rendered="{!renderBULookup}" helpText="{!$Label.et4ae5__msg0014}">
                            <apex:outputLabel value="{!$Label.et4ae5__busUnit}" />
                            <apex:outputPanel >
                                <table>
                                    <tr>
                                        <td>
                                            <apex:outputText value="{!selectedBuDisp}" />
                                        </td>
                                        <td>
                                            <input type="image" onclick="javascript:createBuFilter();return false;" src="/s.gif" id="showPopBtn" />
                                        </td>
                                        <td>
                                            <img style="vertical-align:middle;" height="18px" src="{!URLFOR( $Resource.ExactTargetImages, 'reqEmail.png' )}" />
                                        </td>
                                    </tr>
                                </table>
                            </apex:outputPanel>
                        </apex:pageBlockSectionItem>

                        <!-- Email -->
                        <apex:pageBlockSectionItem id="emailTemplate" helpText="{!$Label.et4ae5__emailHelpDynamicPreview}">
                            <apex:outputLabel for="emailName" value="{!$Label.et4ae5__email}" />
                            <apex:outputPanel id="emailWrapper" layout="block">
                                <apex:outputText id="emailName" value="{!localSend.email.name}" />
                                <apex:outputPanel id="emailPreviewLinkWrapper">
                                    <apex:outputPanel id="emailPreviewLink" rendered="{!IF( NOT( ISNULL( localSend.email ) ), true, false )}">
                                        <apex:actionStatus id="previewEmailStatus">
                                            <apex:facet name="start">
                                                <img class="spinnerLarge" src="{!URLFOR( $Resource.ExactTargetImages, 'spinEMAIL.GIF' )}" />
                                            </apex:facet>
                                            <apex:facet name="stop">
                                                <apex:outputpanel >
                                                    <apex:commandLink value="{!$Label.et4ae5__previewEm}" onclick="javascript:showPreview(jQuery('[id$=subjectline]').val(), '{!localSend.email.Id}','{!JSENCODE(send.et4ae5__Business_Unit__c)}','{!JSENCODE(singleSubId)}','{!JSENCODE(SubscriberName)}');return false;"  style="padding: 0 10px 0 10px;" status="previewEmailStatus" />
                                                    <apex:outputLink target="_blank" style="padding-right:10px;" value="{!etLink}sessurl={!$Api.Partner_Server_URL_140}&sessid={!$Api.Session_ID}&entityType=Email&displaynavi=false&entityid={!selectedEmail}" onclick="return confirm('{!$Label.et4ae5__msg0179}');" rendered="{!showDeepLinks}">
          				  								{!$Label.et4ae5__editEml}
        				  							</apex:outputLink>
                                                </apex:outputpanel>
                                            </apex:facet>
                                        </apex:actionStatus>
                                    </apex:outputPanel>
                                </apex:outputPanel>
                                <apex:outputPanel >
                                    <apex:actionStatus id="listEmailsStatus">
                                        <apex:facet name="start">
                                            <img class="spinnerLarge" src="{!URLFOR( $Resource.ExactTargetImages, 'spinEMAIL.GIF' )}" />
                                        </apex:facet>
                                        <apex:facet name="stop">
                                            <apex:commandButton id="listEmails" value="{!$Label.et4ae5__find}" action="{!listExactTargetEmails}" rerender="exactTargetEmails,pageMessages,sendEmailForm" status="listEmailsStatus" />
                                        </apex:facet>
                                    </apex:actionStatus>
                                    <apex:outputText value="{!pipe}" rendered="{!showDeepLinks}"/>
                  					<apex:outputLink target="_blank" style="padding-right:10px;" value="{!etLink}sessurl={!$Api.Partner_Server_URL_140}&sessid={!$Api.Session_ID}&entityType=Email&displaynavi=false&entityid=&entityAction=Create" onclick="return confirm('{!$Label.et4ae5__msg0179}');" rendered="{!showDeepLinks}">
          	      						{!$Label.et4ae5__new}
        		  					</apex:outputLink>
                                    <img style="vertical-align:middle;" height="18px" src="{!URLFOR( $Resource.ExactTargetImages, 'reqEmail.png' )}" />
                                    <apex:outputPanel id="exactTargetEmails" layout="block">
                                        <apex:actionStatus id="clickEmailStatus">
                                            <apex:facet name="start">
                                                <img class="spinnerLarge" src="{!URLFOR( $Resource.ExactTargetImages, 'spinEMAIL.GIF' )}" />
                                            </apex:facet>
                                            <apex:facet name="stop">
                                                <apex:outputPanel styleClass="popup" layout="block" rendered="{!ShowEmailChooser }">
                                                    <script type="text/javascript">
                                                        function toggleFolderDisplay(folderId)
                                                        {
                                                            // Identify folder div.
                                                            var folderDiv = document.getElementById(folderId);
                                                            // Pull the folder class.
                                                            var folderClass = folderDiv.className;
                                                            // Determine if the folder is open or closed.
                                                            var newFolderClass = 'emailFolder closed';
                                                            if (folderClass.indexOf('closed') > -1)
                                                            {
                                                                newFolderClass = 'emailFolder open';
                                                            }
                                                            // Assing new class.
                                                            folderDiv.className = newFolderClass;
                                                        }
                                                    </script>
                                                    <apex:pageBlock >
                                                        <apex:pageBlockButtons location="both">
                                                            <apex:commandButton action="{!selectEmailCancel}" value="{!$Label.et4ae5__cancel}" rerender="exactTargetEmails" status="clickEmailStatus" />
                                                        </apex:pageBlockButtons>
                                                        <apex:repeat value="{!localSend.emails}" var="emailFolder1">
                                                            +
                                                            <a href="#" onclick="javascript:getFolderInfo('{!emailFolder1.Id}'); javascript:toggleFolderDisplay( 'emailFolder_{!emailFolder1.Id}' )">
                                                                <b> 
                                                                    {!emailFolder1.name} 
                                                                </b> 
                                                            </a>
                                                            <br />
                                                            <div class="emailFolder closed" id="emailFolder_{!emailFolder1.Id}">
                                                                <apex:repeat value="{!emailFolder1.subfolders}" var="emailFolder2" rendered="{!NOT( ISBLANK( emailFolder1.subfolders ) )}">
                                                                    +
                                                                    <a href="#" onclick="javascript:getFolderInfo('{!emailFolder2.Id}'); javascript:toggleFolderDisplay( 'emailFolder_{!emailFolder2.Id}' )">
                                                                        <b> 
                                                                            {!emailFolder2.name} 
                                                                        </b> 
                                                                    </a>
                                                                    <br />
                                                                    <div class="emailFolder closed" id="emailFolder_{!emailFolder2.Id}">
                                                                        <apex:repeat value="{!emailFolder2.subfolders}" var="emailFolder3" rendered="{!NOT( ISBLANK( emailFolder2.subfolders ) )}">
                                                                            +
                                                                            <a href="#" onclick="javascript:getFolderInfo('{!emailFolder3.Id}'); javascript:toggleFolderDisplay( 'emailFolder_{!emailFolder3.Id}' )">
                                                                                <b> 
                                                                                    {!emailFolder3.name} 
                                                                                </b> 
                                                                            </a>
                                                                            <br />
                                                                            <div class="emailFolder closed" id="emailFolder_{!emailFolder3.Id}">
                                                                                <apex:repeat value="{!emailFolder3.subfolders}" var="emailFolder4" rendered="{!NOT( ISBLANK( emailFolder3.subfolders ) )}">
                                                                                    +
                                                                                    <a href="#" onclick="javascript:getFolderInfo('{!emailFolder4.Id}'); javascript:toggleFolderDisplay( 'emailFolder_{!emailFolder4.Id}' )">
                                                                                        <b> 
                                                                                            {!emailFolder4.name} 
                                                                                        </b> 
                                                                                    </a>
                                                                                    <br />
                                                                                    <div class="emailFolder closed" id="emailFolder_{!emailFolder4.Id}">
                                                                                        <apex:repeat value="{!emailFolder4.subfolders}" var="emailFolder5" rendered="{!NOT( ISBLANK( emailFolder4.subfolders ) )}">
                                                                                            +
                                                                                            <a href="#" onclick="javascript:getFolderInfo('{!emailFolder5.Id}'); javascript:toggleFolderDisplay( 'emailFolder_{!emailFolder5.Id}' )">
                                                                                                <b> 
                                                                                                    {!emailFolder5.name} 
                                                                                                </b> 
                                                                                            </a>
                                                                                            <br />
                                                                                            <div class="emailFolder closed" id="emailFolder_{!emailFolder5.Id}">
                                                                                                <apex:repeat value="{!emailFolder5.emails}" var="email5">
                                                                                                    &nbsp;-&nbsp;
                                                                                                    <a href="#" onclick="javascript:selectEmailJS( '{!email5.id}', '{!JSENCODE(email5.encName)}', '{!JSENCODE(email5.encTitle)}' );" status="sendButtonStatus"> 
                                                                                                        {!email5.name} 
                                                                                                    </a>
                                                                                                    <br />
                                                                                                </apex:repeat>
                                                                                            </div>
                                                                                        </apex:repeat>
                                                                                        <apex:repeat value="{!emailFolder4.emails}" var="email4">
                                                                                            &nbsp;-&nbsp;
                                                                                            <a href="#" onclick="javascript:selectEmailJS( '{!email4.id}', '{!JSENCODE(email4.encName)}','{!JSENCODE(email4.encTitle)}' );" status="sendButtonStatus"> 
                                                                                                {!email4.name} 
                                                                                            </a>
                                                                                            <br />
                                                                                        </apex:repeat>
                                                                                    </div>
                                                                                </apex:repeat>
                                                                                <apex:repeat value="{!emailFolder3.emails}" var="email3">
                                                                                    &nbsp;-&nbsp;
                                                                                    <a href="#" onclick="javascript:selectEmailJS( '{!email3.id}', '{!JSENCODE(email3.encName)}', '{!JSENCODE(email3.encTitle)}' );" status="sendButtonStatus"> {!email3.name} </a>
                                                                                    <br />
                                                                                </apex:repeat>
                                                                            </div>
                                                                        </apex:repeat>
                                                                        <apex:repeat value="{!emailFolder2.emails}" var="email2">
                                                                            &nbsp;-&nbsp;
                                                                            <a href="#" onclick="javascript:selectEmailJS( '{!email2.id}', '{!JSENCODE(email2.encName)}', '{!JSENCODE(email2.encTitle)}' );" status="sendButtonStatus"> 
                                                                                {!email2.name} 
                                                                            </a>
                                                                            <br />
                                                                        </apex:repeat>
                                                                    </div>
                                                                </apex:repeat>
                                                                <apex:repeat value="{!emailFolder1.emails}" var="email1">
                                                                    &nbsp;-&nbsp;
                                                                    <a href="#" onclick="javascript:selectEmailJS( '{!email1.id}', '{!JSENCODE(email1.encName)}','{!JSENCODE(email1.encTitle)}' );" status="sendButtonStatus"> 
                                                                        {!email1.name} 
                                                                    </a>
                                                                    <br />
                                                                </apex:repeat>
                                                            </div>
                                                        </apex:repeat>
                                                    </apex:pageBlock>
                                                </apex:outputPanel>
                                            </apex:facet>
                                        </apex:actionStatus>
                                    </apex:outputPanel>
                                </apex:outputPanel>
                            </apex:outputPanel>
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem id="emailsubject" helpText="{!$Label.et4ae5__msg0051}">
                            <apex:outputLabel value="{!$Label.et4ae5__subject}" />
                            <apex:inputText id="subjectline" style="width:350px" value="{!localSend.email.title}" />
                        </apex:pageBlockSectionItem>
                    </apex:pageblocksection>
                    <apex:pageblocksection id="bottomBlock" columns="1">
                        <!-- From -->
                        <div />
                        <apex:pageBlockSectionitem id="selectedFrom" helptext="{!$Label.et4ae5__sndClasHlp}">
                            <apex:outputLabel for="fromBlock" value="{!$Label.et4ae5__from}" />
                            <apex:outputPanel id="fromBlock" layout="block">
                                <apex:outputPanel layout="block">
                                    <input type="radio" id="fromSelectorEmail" name="fromSelector" value="{!!localSend.SendClassOption}" onclick="swapFromSource();" status="sendButtonStatus" />
                                    <apex:outputLabel for="from" value="{!$Label.et4ae5__emailAddr}" />
                                    <br />
                                    <apex:outputPanel id="fromPicklist">
                                        <apex:selectList id="from" value="{!localSend.fromEmailSelected}" size="1">
                                            <apex:selectOptions value="{!localSend.fromOptions}" />
                                            <apex:actionSupport event="onclick" action="{!sendEnabler}" rerender="sendbutton" />
                                        </apex:selectList>
                                        <img style="vertical-align:middle;" height="18px" src="{!URLFOR( $Resource.ExactTargetImages, 'reqEmail.png' )}" />
                                    </apex:outputPanel>
                                </apex:outputPanel>
                                <apex:outputPanel id="sendClassificationWrapper" layout="block" rendered="true">
                                    <input type="radio" id="fromSelectorSC" name="fromSelector" value="{!localSend.SendClassOption}" onclick="swapFromSource();" status="sendButtonStatus" />
                                    <apex:outputLabel for="sendClassification" value="{!$Label.et4ae5__sendClass}" />
                                    <br />
                                    <apex:outputPanel id="scPicklist">
                                        <apex:selectList id="sendClassification" value="{!localSend.sendClassificationSelected}" size="1">
                                            <apex:selectOptions value="{!localSend.sendClassificationOptions}" />
                                            <apex:actionSupport event="onclick" action="{!sendEnabler}" rerender="sendbutton,optInSection" />
                                        </apex:selectList>
                                        <img style="vertical-align:middle;" height="18px" src="{!URLFOR( $Resource.ExactTargetImages, 'reqEmail.png' )}" />
                                    </apex:outputPanel>
                                </apex:outputPanel>
                            </apex:outputPanel>
                        </apex:pageBlockSectionitem>
                        <!-- Reply-to -->
                        <apex:pageBlockSectionitem rendered="{!renderReplyTo}" id="selectedReplyTo" helptext="{!$Label.et4ae5__msg0132}">
                            <apex:outputLabel value="{!$Label.et4ae5__reply_to}" />
                            <apex:selectList id="reply-to" value="{!localSend.replyToEmailSelected}" size="1">
                                <apex:selectOptions value="{!localSend.replyToOptions}" />
                            </apex:selectList>
                        </apex:pageBlockSectionitem>
                        <!-- Dedupe Subscribers -->
                        <apex:pageBlockSectionItem rendered="{!renderCampaign}" helpText="{!$Label.et4ae5__msg0006}">
                            <apex:outputLabel value="{!$Label.et4ae5__dedupeSubs}" />
                            <apex:inputCheckbox value="{!send.et4ae5__DedupeSubscribers__c}" selected="true"/>
                        </apex:pageBlockSectionItem>
                        <!-- Disable Individual Tracking -->
                        <apex:pageBlockSectionItem rendered="{!renderDIT}" helpText="{!$Label.et4ae5__msg0007}">
                            <apex:outputLabel value="{!$Label.et4ae5__disILT}" />
                            <apex:inputCheckbox value="{!send.et4ae5__Individual_Tracking_Disabled__c}" />
                        </apex:pageBlockSectionItem>
                        <!-- Scheduled Send Date/Time -->
                      <apex:pageBlockSectionItem id="sendDateTimeRadios" helpText="{!sendDateTimeHelpText}">
                        <apex:outputLabel for="dateBlock" value="{!$Label.et4ae5__sndDAndT}" />
                        <apex:outputPanel id="dateBlock" layout="block">
                          <apex:outputPanel layout="block">
                            <input type="radio" id="fromSelectorIm" name="immeSelector" onclick="swapDateSource();" status="sendButtonStatus" />
                            <apex:outputLabel for="imme" value="{!$Label.et4ae5__immedtly}" />
                          </apex:outputPanel>
                          <apex:outputPanel id="sendDateTimeWrapper" layout="block" rendered="true">
                            <input type="radio" id="fromSelectorDT" name="immeSelector" onclick="swapDateSource();" status="sendButtonStatus" />
                            <apex:outputLabel for="sendDateTime" value="{!$Label.et4ae5__schedFutSd}" />
                            <br />
                            <apex:outputPanel id="schCalendar">
                              <apex:inputField id="sendDateTime" value="{!send.et4ae5__Scheduled_Date_Time__c}" />
                              <img style="vertical-align:middle;" height="18px" src="{!URLFOR( $Resource.ExactTargetImages, 'reqEmail.png' )}" />
                            </apex:outputPanel>
                          </apex:outputPanel>
                        </apex:outputPanel>
                        </apex:pageBlockSectionitem>
                    </apex:pageBlockSection>
                    <apex:pageBlockSection id="optInSection">
                        <!-- Opt in -->
                        <apex:pageBlockSectionItem helpText="{!$Label.et4ae5__msg0058}">
                            <apex:outputLabel value="{!IF((renderCampaign),$Label.et4ae5__optInCrtfy,$Label.et4ae5__optInSingle)}" />
                            <apex:inputCheckbox value="{!optIn}">
                                <apex:actionSupport event="onclick" action="{!sendEnabler}" rerender="sendbutton" />
                            </apex:inputCheckbox>
                        </apex:pageBlockSectionItem>
                    </apex:pageBlockSection>
                    <apex:pageBlockSection id="sendbutton">
                        <!-- Send Button -->
                        <apex:pageBlockSectionItem rendered="{!isOptIn}">
                            <apex:outputLabel value="" />
                            <apex:commandButton value="{!$Label.et4ae5__send}" onclick="return submitSend();" ondblclick="return submitSend();" action="{!sendWasPressed}" style="background:#ffa100;color:white" />
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem rendered="{!NOT( isOptIn )}">
                            <apex:outputLabel value="" />
                            <apex:commandButton value="{!$Label.et4ae5__send}" disabled="true" />
                        </apex:pageBlockSectionItem>
                    </apex:pageBlockSection>
                </apex:pageBlock>
            </apex:facet>
        </apex:actionStatus>
    </apex:form>
    <apex:includeScript value="{!URLFOR($Resource.et4ae5__jQueryUI, 'jquery-ui-1.9.2.custom/js/jquery-1.8.3.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.et4ae5__bootstrap, 'dist/js/bootstrap.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.et4ae5__bootstrap, 'dist/js/bootstrap.min.js')}" />
    <script type="text/javascript">
        var j$ = jQuery.noConflict();
         // Identify triggerable elements.
        var fsEmail = jQuery('[id$=fromSelectorEmail]');
        var fsSC = jQuery('[id$=fromSelectorSC]');
        var fsImme = jQuery('[id$=fromSelectorIm]');
        var fsDaTi = jQuery('[id$=fromSelectorDT]');

         // Assign event actions.
        fsEmail.onclick = swapFromSource;
        fsSC.onclick = swapFromSource;
        fsImme.onclick = swapDateSource;
        fsDaTi.onclick = swapDateSource;

        var sendBtnEnabled = true;

        function submitSend()
        {
            if (sendBtnEnabled)
            {
                sendBtnEnabled = false;
                return true;
            }
            return false;
        }

         // Initial swap execution.
        swapFromSource();
        swapDateSource();

         // Swap enablement for the picklists.
        function swapFromSource()
        {
            j$ = jQuery.noConflict();
            fsEmail = jQuery('[id$=fromSelectorEmail]');
            fsSC = jQuery('[id$=fromSelectorSC]');
            // Identify picklists.
            var fromList = jQuery('[id$=from]');
            var scList = jQuery('[id$=sendClassification]');
            var fromOP = jQuery('[id$=fromPicklist]');
            var scOP = jQuery('[id$=scPicklist]');

            // Disable both picklists.
            if (fromList != null) fromList.attr("disabled", true);
            if (scList != null) scList.attr("disabled", true);
            fromOP.hide();
            scOP.hide();

            if (jQuery('[id$=fromSelectorEmail]').is(':checked') == true || (jQuery('[id$=theHiddenInput1]').val() == "true" && jQuery('[id$=fromSelectorSC]').is(':checked') == false))
                fsEmail.attr("checked", "checked");
            if (jQuery('[id$=fromSelectorSC]').is(':checked') == true || (jQuery('[id$=theHiddenInput2]').val() == "true" && jQuery('[id$=fromSelectorEmail]').is(':checked') == false))
                fsSC.attr("checked", "checked");
            if (fsEmail.is(":checked") == false && fsSC.is(":checked") == false)
                fsEmail.attr("checked", "checked");

            // Enable the correct picklist.
            if (fsEmail.is(":checked") == true)
            {
                if (scList != null) scList.val("");
                if (fromList != null) fromList.removeAttr("disabled");
                fromOP.show();
            }
            if (fsSC.is(":checked") == true)
            {
                if (fromList != null) fromList.val("");
                if (scList != null) scList.removeAttr("disabled");
                scOP.show();
            }
        }


        function swapDateSource()
        {
            j$ = jQuery.noConflict();
            fsImme = jQuery('[id$=fromSelectorIm]');
            fsDaTi = jQuery('[id$=fromSelectorDT]');
            // Identify picklists.
            var SDT = jQuery('[id$=schCalendar]');
            var calChoice = jQuery('[id$=sendDateTime]');

            // Disable both picklists.
            SDT.hide();

            if (jQuery('[id$=fromSelectorDT]').is(':checked') == true)
                fsDaTi.attr("checked", "checked");
            if (jQuery('[id$=fromSelectorDT]').is(':checked') == false && jQuery('[id$=fromSelectorIm]').is(':checked') == false)
            {
                fsImme.attr("checked", "checked");
            }
            if (fsDaTi.is(":checked") == true)
            {
                SDT.show();
                isSSon();
            }
            else
            {
                calChoice.val(null);
                isSSoff();
            }

            checkSendEmailReadiness();
        }

        function changeTargetAudience()
        {
            changeTargetAudienceJS(jQuery('[id$=fromSelectorEmail]').is(':checked'), jQuery('[id$=fromSelectorSC]').is(':checked'));
        }

        function changeBusinessUnit()
        {
            changeBusinessUnitJS(jQuery('[id$=fromSelectorEmail]').is(':checked'), jQuery('[id$=fromSelectorSC]').is(':checked'));
        }

        function showpopup()
        {
            fsEmail.attr("checked", "checked");
            fsImme.attr("checked", "checked");
            swapFromSource();
            swapDateSource();
            var scOP = jQuery('[id$=scPicklist]');
            scOP.hide();
            document.getElementById('opaque').style.display = 'block';
            var popUp = document.getElementById("popupcontent");
            popUp.style.display = "block";
        }

        function hidepopup()
        {
            fsEmail.attr("checked", "checked");
            fsImme.attr("checked", "checked");
            swapFromSource();
            swapDateSource();
            var scOP = jQuery('[id$=scPicklist]');
            scOP.hide();
            var popUp = document.getElementById("popupcontent");
            popUp.style.display = "none";
            document.getElementById('opaque').style.display = 'none';
        }
        
        function uriDecodeSubject(subject)
	    {
	   	subject = subject.replace(/\+/g,' ');
	   	subject = decodeURIComponent(subject);
	   	subject = subject.replace(/&#39;/g, "\'");
	   	subject = subject.replace(/&(quot);/g, "\"");
	   	subject = subject.replace(/&(gt);/g, "\>");
	   	subject = subject.replace(/&(lt);/g, "\<");
	   	subject = subject.replace(/&(amp);/g, "\&");
	  	subject = jQuery('<textarea />').html(subject).text();
	   	return subject;
	   	}
    </script>
</apex:page>