<apex:page controller="FaturaDealerFilterController" sidebar="false" id="page" >
    <script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="{!$Resource.jqdatatables}"></script>
    
    <style>
        .brandSecondaryBrd {
        float: left;
        width: 100%;
        }
        .dataTables_paginate, .dataTables_filter{
        display: inline;
        float: right;
        vertical-align: baseline;
        font-weight: bold;
        }
        .dataTables_paginate, .dataTables_info, .dataTables_length, .dataTables_filter{
        margin: 10px;
        }
        .dataTables_length, .dataTables_info{
        display: inline;
        font-size: 12px;
        }
        .dataTables_paginate a, .dataTables_paginate span a{
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        background: url("/img/alohaSkin/btn_sprite.png") repeat-x scroll right top #E8E8E9;
        border-color: #B5B5B5 #B5B5B5 #7F7F7F;
        border-image: none;
        border-radius: 3px;
        border-style: solid;
        border-width: 1px;
        color: #333333;
        font-size: 0.9em;
        font-weight: bold;
        margin: 1px;
        padding: 2px 3px;
        }
        th.headerRow div:after{
        content:url({!$Resource.tablesorticon});
        }
        .dataTables_paginate a:hover, .dataTables_paginate span a:hover{
        color: #333333;
        cursor:pointer;
        }
    </style>
    
     <script>
    j$ = $.noConflict();
    j$(document).ready( function($) {
        j$('div[id$=loadImg').hide();
        j$('div[id$=loadExp').hide();
        updateTable();
    });
    function initSelect() {
        j$('.noRecords').hide();
    }
    function complSelect() {
        j$('.noRecords').show();
    }
    
    function updateTable() {
        j$('div[id$=resultTable] table').dataTable({
            sPaginationType: "full_numbers",
            bAutoWidth: true,
            sDom: 'lfti<"tableFooter">p',
            oLanguage: {
                sLengthMenu: "{!$Label.VFP23_Records_per_page}",
                sZeroRecords: "{!$Label.VFP20_Desktop_No_Records}",
                sInfo: "{!$Label.VFP23_Record_Range}",
                sInfoEmpty: "{!$Label.VFP23_Empty_Range}",
                sInfoFiltered: "{!$Label.VFP23_Filtered_records}",
                sSearch: "{!$Label.VFP23_Search}:",
                oPaginate: {
                    sFirst: "{!$Label.VFP23_First}",
                    sPrevious: "{!$Label.VFP23_Previous}",
                    sNext: "{!$Label.VFP23_Next}",
                    sLast: "{!$Label.VFP23_Last}"
                }
            }
        });
    }
    function loadImg(){
        j$('div[id$=resultsAvailable]').hide();
        j$('div[id$=loadImg').show();
    }
    function hideImg(){
        j$('div[id$=resultsAvailable]').show();
        j$('div[id$=loadImg').hide();
    }
    function loadExp(){
        j$('div[id$=resultsAvailable]').hide();
        j$('div[id$=loadExp').show();
        //setTimeout(function(){ window.location = '../cac/FaturaDealer'; },4000);
    }
    </script>
    
    <apex:form id="formId">
        <apex:pageMessages />
        
        <apex:pageBlock title="Filtrar resultados mostrados por:">            
            
            <apex:pageBlockSection columns="2" >
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="BIR Origem: "/>
                    <apex:inputText value="{!fDealer.NFBIRENV__c}" /> 
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="BIR Emissão: "/>
                    <apex:inputText value="{!fDealer.NFBIREMI__c}" /> 
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Tipo Registro: "/>
                    <apex:selectList size="1" value="{!fDealer.NFTIPREG__c}">
                        <apex:selectOption itemValue="" itemLabel="SELECIONE"></apex:selectOption>
                        <apex:selectOptions value="{!tipoRegList}"/>
                    </apex:selectList>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Código Operação: "/>
                    <apex:selectList size="1" value="{!fDealer.NFCODOPR__c}">
                        <apex:selectOption itemValue="" itemLabel="SELECIONE"></apex:selectOption>
                        <apex:selectOptions value="{!codList}"/>
                    </apex:selectList>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Data Nota Fiscal De: "/>
                    <apex:inputField value="{!fDealer.NFDTAORI_Mirror__c}" /> 
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Data Nota Fiscal Até: "/>
                    <apex:inputField value="{!fDealer.NFDTANFI_Mirror__c}" /> 
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Data Envio De: "/>
                    <apex:inputField value="{!fDealer.NFDTAENT_Mirror__c}" /> 
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Data Envio Até: "/>
                    <apex:inputField value="{!fDealer.NFDTASAI_Mirror__c}" /> 
                </apex:pageBlockSectionItem> 
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Regional: "/>
                    <apex:selectList value="{!fDealer.NFBIREMI_Mirror__r.NameZone__c}" size="1">
                        <apex:selectOption itemValue="" itemLabel="SELECIONE"></apex:selectOption>
                        <apex:selectOptions value="{!regionalList}"></apex:selectOptions>
                    </apex:selectList>
                </apex:pageBlockSectionItem> 
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Setor: "/>
                    <apex:selectList value="{!fDealer.NFBIREMI_Mirror__r.RegionalSector__c}" size="1">
                        <apex:selectOption itemValue="" itemLabel="SELECIONE"></apex:selectOption>
                        <apex:selectOptions value="{!setorList}"></apex:selectOptions>
                    </apex:selectList>
                </apex:pageBlockSectionItem> 
                
            </apex:pageBlockSection>
            
            <div style="text-align: center;">
                <apex:commandButton value="Filtrar" action="{!filtrarFat}"/>
                <apex:commandButton value="Limpar Filtros" action="{!limparFiltro}"/>
            </div>
        </apex:pageBlock>
        
        <apex:pageBlock title="Resultados disponíveis" id="resultsAvailable">
            
            <div style="  width: 100%; margin: 10px 0px 20px 0px;">
                <table width="100%">
                    <tr>
                        <td>
                            <apex:outputLabel value="Registros: "/>
                            <apex:selectList size="1" value="{!situacao}">
                                <apex:actionSupport event="onchange" reRender="resultTable" action="{!filtrarFat}" onsubmit="loadImg();" oncomplete="updateTable();hideImg();"/>
                                <apex:selectOptions value="{!sitOptList}"/>
                            </apex:selectList>
                        </td>
                        <td align="right">
                            <apex:commandButton action="{!exportarFat}" value="Exportar para CSV" reRender="page" />
                            &nbsp;
                            <apex:outputLink target="_blank" value="/servlet/servlet.FileDownload?file=01557000003mJ6v">Tabela Tradução</apex:outputLink>
                        </td>
                    </tr>
                </table> 
            </div>        
            
            <apex:outputPanel id="resultTable" layout="block" title="Resultados">
                <apex:pageblockTable value="{!fatList}" var="fat" rendered="{!fatList.size > 0}">
                    <apex:column headerValue="Nome">
                        <apex:outputLink value="/{!fat.Id}">{!fat.Name}</apex:outputLink>
                    </apex:column>
                    <apex:column headerValue="Data Envio" >
                        <apex:outputText value="{0,date,dd'/'MM'/'yyyy}">
                            <apex:param value="{!fat.NFDTASIS_Mirror__c}"/>
                        </apex:outputText>
                    </apex:column>
                    <apex:column headerValue="BIR Origem" value="{!fat.NFBIRENV__c}"/>
                    <apex:column headerValue="BIR Emissão" value="{!fat.NFBIREMI__c}"/>
                    <apex:column headerValue="Data NF" >
                        <apex:outputText value="{0,date,dd'/'MM'/'yyyy}">
                            <apex:param value="{!fat.NFDTANFI_Mirror__c}"/>
                        </apex:outputText>
                    </apex:column>
                    <apex:column headerValue="Núm. NF" value="{!fat.NFNRONFI__c}" />
                    <apex:column headerValue="CHASSI" value="{!fat.NFCHASSI__c}"/> 
                    <apex:column headerValue="CPF/CNPJ" value="{!fat.NFCPFCGC__c}"/> 
                    <apex:column headerValue="Tipo" value="{!fat.NFTIPREG__c}"/>
                    <apex:column headerValue="Mensagens de Erro" value="{!fat.Error_Messages__c}"/>
                </apex:pageblockTable>
                <i>
                    <apex:outputText styleClass="noRecords" value="{!$Label.VFP20_Desktop_No_Records}" rendered="{!fatList.size == 0}"/>
                </i>
            </apex:outputPanel>
            
        </apex:pageBlock>
       
    </apex:form>
    
    <apex:pageBlock id="loadImg" title="Resultados disponíveis" >
        <div align='center'>
            <br/>
            <br/>
            <br/>
            <apex:image url="/img/loading32.gif"/>
            <br/>
            <p><strong><font size="3">Carregando resultados, aguarde...</font></strong></p>
            <br/>
            <br/>
            <br/>
        </div>
    </apex:pageBlock>
    
</apex:page>