<apex:page showHeader="false" sidebar="false">
<img id="liveagent_button_online_573D0000000CcH6" style="display:none; border: 0px none; cursor: pointer" onclick="onlineopen()" src="http://m2.br.f6m.fr//fale-conosco/attd7c47ebedfe249748c696bbc7ccd1660/acesseAgoraBT.jpg" />
<img id="liveagent_button_offline_573D0000000CcH6" style="display:none; border: 0px none;  cursor: pointer" onclick="offlineopen()"  src="http://m2.br.f6m.fr//fale-conosco/attd7c47ebedfe249748c696bbc7ccd1660/acesseAgoraBT.jpg" />
<script type='text/javascript' src='https://c.la1c1.salesforceliveagent.com/content/g/js/29.0/deployment.js'></script>
<script type='text/javascript'>
liveagent.init('https://d.la1c1.salesforceliveagent.com/chat', '572D00000008PiZ', '00DD0000000rYsz');
</script>
<a id="liveagent_button_online_573D0000000CcH6" href="javascript://Chat" style="display: none;" onclick="liveagent.startChat('573D0000000CcH6')"><!-- Online Chat Content --></a><div id="liveagent_button_offline_573D0000000CcH6" style="display: none;"><!-- Offline Chat Content --></div><script type="text/javascript">
if (!window._laq) { window._laq = []; }
window._laq.push(function(){liveagent.showWhenOnline('573D0000000CcH6', document.getElementById('liveagent_button_online_573D0000000CcH6'));
liveagent.showWhenOffline('573D0000000CcH6', document.getElementById('liveagent_button_offline_573D0000000CcH6'));
});</script>

<script>

function onlineopen() {
    window.open("http://contactrenault.force.com/customprechat", "prechatpage", "location=1,status=1,scrollbars=0,  width=480,height=480");}

function offlineopen() {
    window.open("http://contactrenault.force.com/OfflineChat", "offlinepage", "location=1,status=1,scrollbars=0,  width=480,height=480");}
</script>
</apex:page>