<apex:page standardController="Opportunity" extensions="OportunidadeButtonController" action="{!actionButtonReturn}">
    <apex:form >
       <apex:pageBlock >
           <apex:pageMessages /> 
           <apex:pageBlockButtons location="bottom">
               <apex:commandButton value="Nova Oportunidade" action="{!actionNovaOportunidade}"/>
                <apex:commandButton value="Voltar" action="{!actionDetalheOportunidade}"/>
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
</apex:page>