<apex:page showHeader="false" controller="liveagentcontroller">

<html lang="en-us">
<head>

<link rel="stylesheet" href="{!URLFOR($Resource.prechatResources,'web2case/css/validationEngine.jquery.css')}" type="text/css" media="screen" title="no title" charset="utf-8" />


<script src="{!URLFOR($Resource.web2caseResources,'web2case/js/jquery_min.js')}" type="text/javascript"></script>
<script src="{!URLFOR($Resource.prechatResources,'web2case/js/jquery.validationEngine-en.js')}" type="text/javascript"></script>
<script src="{!URLFOR($Resource.prechatResources,'web2case/js/jquery.validationEngine.js')}" type="text/javascript"></script>
<style type="text/css">




  .frmLoginCamposPanel {
      position: relative; width: 400px; text-align: center; top: 130px;
      font-size: 11px;font-family: Arial, Helvetica, sans-serif; 
      color: #67625b; font-weight: normal; left:35px;border:0px solid #00FFFF;
      vertical-align:middle;
  }

  .frmLoginCamposPanel .labelInput {
      border: 0px solid #00FF00; float: left; width: 130px;
      height: 25px; text-align: right; line-height: 20px;
  }

  .frmLoginCamposPanel .formInput {
      float: right; width: 250px; height: 25px;
      border: 0px solid #a2a2a2; text-align: left; color:#67625b; font-size:11px;
  }

  .frmLoginCamposPanel .formTextBox {
      width: 200px; border: 1px solid #a2a2a2; height:15px;
  }

  .frmLoginCamposPanel .formComboBox {
      width: 200px; border: 1px solid #a2a2a2;
  }   

  </style>
  </head>


  <script type="text/javascript">

   
   $(document).ready(function() {


              $("#complete").validationEngine()
              
       
        });

  </script>

  <script type="text/javascript">

  (function() {

  function handlePageLoad() {

  var endpointMatcher = new RegExp("[\\?\\&]endpoint=([^&#]*)");
  document.getElementById('prechatForm').setAttribute('action',
  decodeURIComponent(endpointMatcher.exec(document.location.search)[1]));
  } if (window.addEventListener) {
  window.addEventListener('load', handlePageLoad, false);
  } else { window.attachEvent('onload', handlePageLoad, false);
  }})();

  </script>
  <script>
  function validationcomplete(){
  
      redirectPage();
     
     
  }
  </script>
  



  <div id='complete'>
      <apex:form > 
  <form id="prechatForm" method="post" name="myform" >
  
  
  
  <div id="cliente_header">
        <div class="cliente_header_fechar" align="right">
            <a id="closeButton" href="javascript:window.close();"><apex:image url="{!$Resource.button_fechar}"  onclick="javascript:window.close();"/></a>
        </div>
        <div class="cliente_header_logo"> 
            <apex:image url="{!$Resource.chat_header}" />
        </div>
</div>

  <table align="center" cellspacing="5">
  

  <tr>

  <table align="center"  class=".frmLoginCamposPanel clearfix">
           <tr>
               <td class="labelInput">Primeiro Nome* :</td><td>
             <input name="FirstNameMapping" type="text" maxlength="50" id="FirstNameMapping" style="formTextBox" class="validate[required,custom[noSpecialCaracters],length[0,20]] text-input" onblur="firstName()" />

              <apex:inputHidden value="{!FirstName}" id="FirstNameMappedValue"/>
               </td>
           </tr>
            <tr>
            <td class="labelInput">Sobrenome* :</td><td> 
             <input name="SecondNameMapping" type="text" maxlength="50" id="SecondNameMapping" style="formTextBox" class="validate[required,custom[noSpecialCaracters],length[0,20]] text-input" onblur="secondName()" />
          <apex:inputHidden value="{!lastName}" id="SecondNameMappingValue"/>
            </td>
         </tr>
         <tr>
           <td class="labelInput">E-mail*:</td><td> 
          <input name="EmailMapping" type="text" maxlength="50" id="EmailMapping" style="formTextBox" class="validate[required,custom[email],length[0,70]] text-input" onblur="email()" />
          <apex:inputHidden value="{!email}" id="EmailMappingValue"/>

         </td>
         </tr>
         <tr>
           <td class="labelInput">CPF*:</td>
           <td>
           
            <input name="CpfMapping" type="text" maxlength="50" id="CpfMapping" style="formTextBox" class="validate[required,custom[onlyNumber],length[0,15]] text-input" onblur="cpf()" />
          <apex:inputHidden value="{!cpf}" id="CpfMappingValue"/>

          </td>
          </tr>
         <tr>
            <td class="labelInput">Telefone*:</td><td>

               <input name="TelMapping" type="text" maxlength="50" id="TelMapping" style="formTextBox" class="validate[custom[telephone]] text-input" onblur="tel()" />
                <apex:inputHidden value="{!telephone}" id="TelMappingValue"/>

            </td>
         </tr>
      
         <tr><td class="labelInput">Assunto:</td>
         <td>
       
        <apex:selectList value="{!Casesubject}" multiselect="false" size="1">
            <apex:selectOptions value="{!items}"/>
        </apex:selectList>
       
       
            </td>
     
     </tr>
     <tr><td></td></tr>
     <tr>
         <table align="center" cellspacing="9" cellpadding="3">
             <tr>
              <td colspan="2"> 
                <input id="chkReceberEmail" type="checkbox" />
                <label for="chkReceberEmail">Deseja receber email da Renault?</label>
              </td>
             </tr> 
         </table>
     </tr>
      
       <tr>
       <table cellpadding="0" cellspacing="10" align="center">
       <tr>
           <td width="25%">&nbsp;</td>
           <td> 
 <input type="submit" class="button1" style="font-size: 12px;border:0 none;cursor:pointer; padding:3px; background-color:#000; color:#fff" value="Enviar" name="submit" >
   
 </input><br></br> 
           </td>
        </tr>
       
      <tr>
        <td colspan="2">(*) Campos de preenchimento obrigatório.</td>
     </tr>
     
  </table>
       </tr>
  </table>
  </tr>
  </table>
  </form>

<apex:actionFunction id="redirectPage" name="redirectPage" action="{!redirect}"/>
 <script>
                                    function firstName(){
                                    
                                     jQuery('[id$=FirstNameMappedValue]').val(jQuery('#FirstNameMapping').val());
                                     
                                     
                                     }    

                                     
                                     function secondName(){
                                     
                                    
                                     jQuery('[id$=SecondNameMappingValue]').val(jQuery('#SecondNameMapping').val());
                                     }  
                                     
                                     function email(){
                                     jQuery('[id$=EmailMappingValue]').val(jQuery('#EmailMapping').val());
                                     }  
                                     
                                     function tel(){
                                     jQuery('[id$=TelMappingValue]').val(jQuery('#TelMapping').val());
                                     }    
                                     
                                      function cpf(){
                                     jQuery('[id$=CpfMappingValue]').val(jQuery('#CpfMapping').val());
                                     }  
               
           </script>
              
</apex:form>
</div>
  

          
           </html>
  </apex:page>