<apex:page controller="PromotionalActionsController">
    
    <apex:includeScript value="{!URLFOR($Resource.jQuery1_12_4)}"/>
    <apex:includeScript value="{!URLFOR($Resource.jqdatatables)}"/>
    
    <script>
    
    $(document).ready(function() {  
        formatTable();
    });
    
    function formatTable(){
        
        $('div[id$=resultTable] table').dataTable({
            sPaginationType: "full_numbers",
            bAutoWidth: true,
            sDom: 'lfti<"tableFooter">p',
            oLanguage: {
                sLengthMenu: "{!$Label.VFP23_Records_per_page}",
                sZeroRecords: "{!$Label.VFP20_Desktop_No_Records}",
                sInfo: "{!$Label.VFP23_Record_Range}",
                sInfoEmpty: "{!$Label.VFP23_Empty_Range}",
                sInfoFiltered: "{!$Label.VFP23_Filtered_records}",
                sSearch: "{!$Label.VFP23_Search}:",
                oPaginate: {
                    sFirst: "{!$Label.VFP23_First}",
                    sPrevious: "{!$Label.VFP23_Previous}",
                    sNext: "{!$Label.VFP23_Next}",
                    sLast: "{!$Label.VFP23_Last}"
                }
            }
        });
    }
    
    var oppId;
    
    //metodo para add na lista os checkboxes selecionados
    $( document ).delegate( '.radio', 'change', function(){
        oppId = '';
        oppId = $( this ).attr( 'id' );
        console.log('delegate: '+oppId);
    } );
    
    function jsConsultarVouchers(){
        console.log('consultarVouchers: '+oppId);
        if(oppId == 'undefined' || oppId == '' || oppId == null)
            alert('Escolha uma oportunidade');
        else{
            actionConsultarVouchers(oppId);
        }
    }
    
    function leadsEmCursoBtn(){
        $('input[id=btnPassante]').removeAttr('disabled');
        $('input[id=btnLeadsEmCurso]').attr('disabled','disabled');
        $('div[id$=resultTable]').slideDown();
        $('input[id=btnConsultarVouchers]').slideDown();
    }
    
    function passanteBtn(){
        $('input[id=btnLeadsEmCurso]').removeAttr('disabled');
        $('input[id=btnPassante]').attr('disabled','disabled');
        $('div[id$=resultTable]').slideUp();
        $('input[id=btnConsultarVouchers]').slideUp();
        actionLoadPageInCourseLeads('passante');
    }
    
    </script>
    
    <style>
        b{
        font-size:14px;
        }
        .mini-padding{
        padding: 8px 1% 0px 2%;
        }
        .pull-r{
        float: right;
        }
                <!-- Para jqDataTables -->
        
        .dataTables_paginate, .dataTables_filter{
        display: inline;
        float: right;
        vertical-align: baseline;
        font-weight: bold;
        }
        .dataTables_paginate, .dataTables_info, .dataTables_length, .dataTables_filter{
        margin: 10px;
        }
        .dataTables_length, .dataTables_info{
        display: inline;
        font-size: 12px;
        }
        .dataTables_paginate a, .dataTables_paginate span a{
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        background: url("/img/alohaSkin/btn_sprite.png") repeat-x scroll right top #E8E8E9;
        border-color: #B5B5B5 #B5B5B5 #7F7F7F;
        border-image: none;
        border-radius: 3px;
        border-style: solid;
        border-width: 1px;
        color: #333333;
        font-size: 0.9em;
        font-weight: bold;
        margin: 1px;
        padding: 2px 3px;
        }
        th.headerRow div:after{
        content:url({!$Resource.tablesorticon});
        }
        .dataTables_paginate a:hover, .dataTables_paginate span a:hover{
        color: #333333;
        cursor:pointer;
        }
        
        <!-- -->
    </style>
    
    <apex:form >
        <apex:pageblock >
            
            <apex:pageBlockSection columns="1">
                <div align="center">
                    <p><b>RESGATE DE VOUCHERS</b></p><br/>
                    <p>Para qual tipo de lead deseja efetuar o resgate?</p><br/>
                    <input type="button" value="LEADS EM CURSO" 
                           onclick="leadsEmCursoBtn()" id="btnLeadsEmCurso"/>
                    <input type="button" value="PASSANTE" onclick="passanteBtn()" id="btnPassante"/>
                </div>
            </apex:pageBlockSection>
            
            <apex:outputPanel id="resultTable" layout="block" style="display:none">
                <apex:pageblockTable value="{!lsOpp}" var="opp" id="table" rendered="{!lsOpp != null && lsOpp.size > 0}">
                    <apex:column headerValue="Selecione">
                        <input type="radio" class="radio" name="radio" id="{!opp.Id}" value="{!opp.Id}"/>
                    </apex:column>
                    <apex:column value="{!opp.Name}" />
                    <apex:column value="{!opp.Account_CPF__c}" />
                    <apex:column value="{!opp.LastModifiedDate}"/>
                    <apex:column value="{!opp.StageName}" />
                    <apex:column value="{!opp.Dealer__c}"/>
                    <apex:column value="{!opp.Seller__c}"/>
                </apex:pageblockTable>  
            </apex:outputPanel>
            
            <i>
                <apex:outputText value="{!$Label.VFP20_Desktop_No_Records}"
                                 rendered="{!lsOpp == null || lsOpp.size == 0}" styleClass="mini-padding"/>
            </i>
            
            <br/>
            <br/>
            <br/>
            <input type="button" class="btn pull-r" value="CONSULTAR VOUCHERS" style="display:none"
                   onclick="jsConsultarVouchers()" id="btnConsultarVouchers"/>
            <br/>
            <br/>
            <br/>
            
            <apex:actionFunction name="actionConsultarVouchers" action="{!consultarVouchers}" reRender="resultTable"
                                 oncomplete="formatTable()">
                <apex:param name="oppId" value=""/>
                <apex:param name="stage" value=""/>
            </apex:actionFunction>
            
            <apex:actionFunction name="actionLoadPageInCourseLeads" action="{!loadPageInCourseLeads}" reRender="none">
                <apex:param name="tpVoucher" value=""/>
            </apex:actionFunction>

        </apex:pageblock>
    </apex:form>
</apex:page>