<apex:page standardController="VEH_Veh__c" extensions="Rforce_VehicleAttributesEnhanced" showHeader="false" sidebar="false">


<script src="{!URLFOR($Resource.jquerysort,'jquery-latest.js')}" type="text/javascript" charset="UTF-8"></script>
<script src="{!URLFOR($Resource.jquerysort,'jquery.tablesorter.js')}" type="text/javascript"></script>
  

<apex:includeScript value="/support/console/30.0/integration.js"/>
<style>
 #title{
     background-color:Navy;
     color:white;
     text-align:center;
 }
</style>
<script>
$(document).ready(function()
     {         
     $("#myTable").tablesorter();     } );  
</script>

<script>
$(document).ready(function(){
                  //important to specify the sorting param otherwise it wont always choose the 'correct' one
                  $("#table1").tablesorter({
                    headers: {
                        4: {sorter: 'shortDate'}
                        
                        
                    }
                });
            });   

</script>
<apex:form >


<apex:pageBlock title="{!$Label.VFP05_CaseDetail}">

<apex:pageblockSection columns="2" id="Output">

<apex:pageBlockSectionItem >
            <apex:outputLabel value="{!$Label.VFP05_CaseIdDetail}"></apex:outputLabel>
            {!xmlData.IdCase}
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
            <apex:outputLabel value="{!$Label.VFP05_StatusDetail}"></apex:outputLabel>
            {!xmlData.Status}
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
            <apex:outputLabel value="{!$Label.VFP05_CommentDetail}"></apex:outputLabel>
{!xmlData.Comment}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_DescriptionDetail}"></apex:outputLabel>
{!xmlData.Description}
</apex:pageBlockSectionItem>
<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_NegociationResultDetail}"></apex:outputLabel>
{!xmlData.NegociationResult}
</apex:pageBlockSectionItem>
<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_CaseTypeDetail}"></apex:outputLabel>
{!xmlData.Area}
</apex:pageBlockSectionItem>

 <apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_CreatedDetail}"></apex:outputLabel>
{!xmlData.Created}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_QuoteTypeDetail}"></apex:outputLabel>
{!xmlData.QuoteType}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_FromValueDetail}"></apex:outputLabel>
{!xmlData.FromValue}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_CreatedByNameDetail}"></apex:outputLabel>
{!xmlData.CreatedByName}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_OwnerDetail}"></apex:outputLabel>
{!xmlData.Owner}
</apex:pageBlockSectionItem>

 <apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_SourceDetail}"></apex:outputLabel>
{!xmlData.Source}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_ClosedDateDetail}"></apex:outputLabel>
{!xmlData.ClosedDate}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_ClosedByDetail}"></apex:outputLabel>
{!xmlData.ClosedBy}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_ResolutionDateDetail}"></apex:outputLabel>
{!xmlData.ResolutionDate}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_ResolutionAuthorDetail}"></apex:outputLabel>
{!xmlData.ResolutionAuthor}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_MileageDetail}"></apex:outputLabel>
{!xmlData.Mileage}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_PreferedLanguage2Detail}"></apex:outputLabel>
{!xmlData.PreferedLanguage2}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_SubArea2Detail}"></apex:outputLabel>
{!xmlData.SubArea2}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_CustomerRefNumberDetail}"></apex:outputLabel>
{!xmlData.CustomerRefNumber}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_RCDetailDetail}"></apex:outputLabel>
{!xmlData.RCDetail}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_AccessPointDetail}"></apex:outputLabel>
{!xmlData.AccessPoint}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_SeverityDetail}"></apex:outputLabel>
{!xmlData.Severity}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_DecisionDetail}"></apex:outputLabel>
{!xmlData.Decision}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_TestDataDetail}"></apex:outputLabel>
{!xmlData.TestData}
</apex:pageBlockSectionItem>

</apex:pageblockSection>


<div class="title" >
<h2>{!$Label.VFP05_ActivityList}</h2>
</div>

<table id="table1" class="list tablesorter"> 
<thead class="rich-table-thead"> 
<tr trspacing="30px" class="headerRow"> 
<th>{!$Label.VFP08_Activity_Number}</th>
<th>{!$Label.VFP08_Activity_Type}</th>
<th>{!$Label.VFP01_AccountName}</th>
<th>{!$Label.VFP01_CaseViewVIN}</th>
<th>{!$Label.VFP08_Immat}</th>
<th>{!$Label.VFP05_CreatedDate}</th>
<th>{!$Label.VFP08_Closure_Date}</th>

</tr> 
</thead> 
<tbody> 
 <apex:repeat value="{!xmlData.ActivitiesLists}" var="a" rendered="{!NOT(ISNULL(xmlData.ActivitiesLists.size))}">  
      <tr class="dataRow">
      <td>{!a.SRNumber2}</td>      
      <td>{!a.Type2}</td>
      <td>{!a.ContactLastName} {!a.ContactFirstName}</td>      
      <td>{!$CurrentPage.parameters.vName}</td>
      <td>{!$CurrentPage.parameters.sImmat}</td>
      <td>{!a.Created}</td>
      <td></td>
      </tr>
    </apex:repeat>
</tbody> 
</table> 


<apex:pageblockSection columns="1" >
<div class="title" >
<h3>{!$Label.VFP05_Attachments}</h3>
</div>

<apex:pageBlockSectionItem rendered="{!ArchAttachmentsList.size > 0}">

<!--<apex:pageBlockSectionItem rendered="{!NOT(ISNULL(ArchAttachmentsList))}}">-->

<apex:pageBlockTable value="{!ArchAttachmentsList}" var="t">
<apex:column >
<apex:facet name="header">{!$Label.VFP05_ActivityFileName}</apex:facet>
<apex:commandLink value="{!t.attachmentName}" action="{!getAttachementData}">
                            <apex:param name="AttachmentName" value="{!t.attachmentName}" />
                            <apex:param name="IdCase" value="{!t.IdCase}" />
                            <apex:param name="country" value="{!t.country}" />
                            <apex:param name="contentType" value="{!t.extension}" />
                        </apex:commandLink>
</apex:column>

<apex:column >
  <apex:facet name="header">{!$Label.VFP05_Extension}</apex:facet>
  <apex:outputText value="{!t.extension}" />
</apex:column>

<apex:column >
<apex:facet name="header">{!$Label.VFP05_CreatedDate}</apex:facet>
                        <apex:outputText value="{0,date,dd'/'MM'/'yyyy}">
                            <apex:param value="{!t.createdDate}" /> 
                        </apex:outputText>
</apex:column>

</apex:pageBlockTable>    
</apex:pageBlockSectionItem>
        <br/> <apex:actionStatus startText="{!$Label.VFP05_OpeningAttachment}" id="OpeningAttachmentStatus" />           
           <apex:outputPanel id="idAttachmentPanelFine">
           <apex:pagemessages ></apex:pagemessages>
                 <apex:pageblock rendered="{!IF(showDetail = 14, true, false)}"> 
                 <apex:pageblocksection title="{!$Label.VFP05_AttachmentData}">
                  <a href="/servlet/servlet.FileDownload?file={!attachmentURL}" target="_blank">Open Attachment/Save Attachment</a>
                 </apex:pageblocksection>
                </apex:pageblock>
            </apex:outputPanel>

<apex:variable value="{!xmlData.Vehicle}" var="veh"/>
<div class="title">
<h2>{!$Label.VFP05_Vehicle}</h2>
</div>
<apex:pageBlockSection >
<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_Build}"></apex:outputLabel>
{!veh.Build}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_SerialNumber2}"></apex:outputLabel>
{!veh.SerialNumber2}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_ProductModel}"></apex:outputLabel>
{!veh.ProductModel}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_Origin}"></apex:outputLabel>
{!veh.Origin}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_FactoryNumber2}"></apex:outputLabel>
{!veh.FactoryNumber2}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_DealerName2}"></apex:outputLabel>
{!veh.DealerName2}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_ProductVersionSIC}"></apex:outputLabel>
{!veh.ProductVersionSIC}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_UsedNew}"></apex:outputLabel>
{!veh.UsedNew}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_AssetSICId}"></apex:outputLabel>
{!veh.AssetSICId}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_DealerNumber2}"></apex:outputLabel>
{!veh.DealerNumber2}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_InstallDate}"></apex:outputLabel>
{!veh.InstallDate}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_UsedCarPurchaseDate}"></apex:outputLabel>
{!veh.UsedCarPurchaseDate}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_RegisteredDate}"></apex:outputLabel>
{!veh.RegisteredDate}
</apex:pageBlockSectionItem>
</apex:pageBlockSection>
<apex:variable value="{!xmlData.Concerned}" var="c"/>
<div class="title">
<h2>{!$Label.VFP05_Concerned}</h2>
</div>
<apex:pageBlockSection >
<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_DealerNumber}"></apex:outputLabel>
{!c.DealerNumber}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_Name22}"></apex:outputLabel>
{!c.Name22}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_CorporateShortName}"></apex:outputLabel>
{!c.CorporateShortName}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_TradeRegistration}"></apex:outputLabel>
{!c.TradeRegistration}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_ParentDivisionName}"></apex:outputLabel>
{!c.ParentDivisionName}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_RCDealerBrand}"></apex:outputLabel>
{!c.RCDealerBrand}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_CorporateStatus}"></apex:outputLabel>
{!c.CorporateStatus}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_Type}"></apex:outputLabel>
{!c.Type}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_Zone}"></apex:outputLabel>
{!c.Zone}
</apex:pageBlockSectionItem>
</apex:pageBlockSection>

<apex:pageblockSectionItem >
<apex:pageBlockTable value="{!c.ConcernedBusinessAddressList}" var="ce">
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_CompleteAddress}</apex:facet>
        {!ce.CompleteAddress}
</apex:column> 

<apex:column >
    <apex:facet name="header">{!$Label.VFP05_AdditionalAddress}</apex:facet>
        {!ce.AdditionalAddress}
</apex:column>

<apex:column >
    <apex:facet name="header">{!$Label.VFP05_StreetNumber}</apex:facet>
        {!ce.StreetNumber}
</apex:column>

<apex:column >
    <apex:facet name="header">{!$Label.VFP05_StreetType}</apex:facet>
        {!ce.StreetType}
</apex:column>

<apex:column >
    <apex:facet name="header">{!$Label.VFP05_City}</apex:facet>
        {!ce.City}
</apex:column>

<apex:column >
    <apex:facet name="header">{!$Label.VFP05_PostalCode}</apex:facet>
        {!ce.PostalCode}
</apex:column>

<apex:column >
    <apex:facet name="header">{!$Label.VFP05_MailBox}</apex:facet>
        {!ce.MailBox}
</apex:column>     
</apex:pageBlockTable>
</apex:pageblockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_MainPhoneNumber}"></apex:outputLabel>
{!c.MainPhoneNumber}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_MainFaxNumber}"></apex:outputLabel>
{!c.MainFaxNumber}
</apex:pageBlockSectionItem>


<div class="title">
<h2>{!$Label.VFP05_FleetOrganization}</h2>
</div>
<apex:variable value="{!xmlData.FleetOrganization}" var="fo"/>
<apex:pageBlockSection >
<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_Name2}"></apex:outputLabel>
{!fo.Name2}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_OrgIdentificationNr2}"></apex:outputLabel>
{!fo.OrgIdentificationNr2}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_Type}"></apex:outputLabel>
{!fo.Type}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_ParentAccountName}"></apex:outputLabel>
{!fo.ParentAccountName}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_Preferedlanguage}"></apex:outputLabel>
{!fo.Preferedlanguage}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_OrgIdentificationType}"></apex:outputLabel>
{!fo.OrgIdentificationType}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_SICId}"></apex:outputLabel>
{!fo.SICId}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_OrgIdentificationNr1}"></apex:outputLabel>
{!fo.OrgIdentificationNr1}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_Siret}"></apex:outputLabel>
{!fo.Siret}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_Location2}"></apex:outputLabel>
{!fo.Location2}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_MainPhoneNumber}"></apex:outputLabel>
{!fo.MainFaxNumber}
</apex:pageBlockSectionItem>
</apex:pageBlockSection>
<apex:pageBlockSectionItem >
<apex:pageBlockTable value="{!fo.BusinessAddressList}" var="foba">
         <apex:column >
            <apex:facet name="header">{!$Label.VFP05_CompleteAddress}</apex:facet>
                {!foba.CompleteAddress}
        </apex:column>
       
         <apex:column >
            <apex:facet name="header">{!$Label.VFP05_StreetNumber}</apex:facet>
                {!foba.StreetNumber}
        </apex:column>

         <apex:column >
            <apex:facet name="header">{!$Label.VFP05_StreetType}</apex:facet>
                {!foba.StreetType}
        </apex:column>
        
         <apex:column >
            <apex:facet name="header">{!$Label.VFP05_StreetName}</apex:facet>
                {!foba.StreetName}
        </apex:column>
      
         <apex:column >
            <apex:facet name="header">{!$Label.VFP05_City}</apex:facet>
                {!foba.City}
        </apex:column>
       
         <apex:column >
            <apex:facet name="header">{!$Label.VFP05_PostalCode}</apex:facet>
                {!foba.PostalCode}
        </apex:column>

         <apex:column >
            <apex:facet name="header">{!$Label.VFP05_MailBox}</apex:facet>
                {!foba.MailBox}
        </apex:column>                                               
</apex:pageBlockTable>
</apex:pageBlockSectionItem>


<div class="title">
<h2>{!$Label.VFP05_EffectPerception}</h2>
</div>
<apex:variable value="{!xmlData.EffectPerception}" var="ep"/>
<apex:pageBlockSection >
<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_ClientView}"></apex:outputLabel>
{!ep.ClientView}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_ClientDemand}"></apex:outputLabel>
{!ep.ClientDemand}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_ServiceCause}"></apex:outputLabel>
{!ep.ServiceCause}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_Risk}"></apex:outputLabel>
{!ep.Risk}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_CommercialCause}"></apex:outputLabel>
{!ep.CommercialCause}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_ProductCauseFunction}"></apex:outputLabel>
{!ep.ProductCauseFunction}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_NITGCode}"></apex:outputLabel>
{!ep.NITGCode}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_ProductCause}"></apex:outputLabel>
{!ep.ProductCause}
</apex:pageBlockSectionItem>
</apex:pageblockSection>
</apex:pageBlockSection>
<apex:pageblockSection columns="1" >

<div class="title">
<h3>{!$Label.VFP05_GoodwillList}</h3>
</div>

<apex:pageBlockSectionItem rendered="{!xmlData.CompensationBudgetList.size > 0}">
<apex:pageBlockTable value="{!xmlData.CompensationBudgetList}" var="a" border="1" title="{!$Label.VFP05_GoodwillList}">
<apex:column title="Type2" >
    <apex:facet name="header">{!$Label.VFP05_AgreementNumber}</apex:facet>
        {!a.AgreementNumber}
    </apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_ClaimAmount}</apex:facet>
        {!a.AssociatedCost}
</apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_ResolutionCode}</apex:facet>
        {!a.ResolutionCode}
</apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_ResolutionCode2}</apex:facet>
        {!a.ResolutionCode2}
</apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_Description}</apex:facet>
        {!a.Description}
</apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_BudgetCode}</apex:facet>
        {!a.BudgetCode}
</apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_AssociatedCost}</apex:facet>
        {!a.AssociatedCost}
</apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_PaymentMode}</apex:facet>
        {!a.PaymentMode}
</apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_PaidAmountClient}</apex:facet>
        {!a.PaidAmountClient}
</apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_PaymentModeNr}</apex:facet>
        {!a.PaymentModeNr}
</apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_PaymentModeDate}</apex:facet>
        {!a.PaymentModeDate}
</apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_Created}</apex:facet>
        {!a.Created}
</apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_PotentialCompensation}</apex:facet>
        {!a.PotentialCompensation}
</apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_AssociatedCostIncludingVAT}</apex:facet>
        {!a.AssociatedCostIncludingVAT}
</apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_ContactDebiteur}</apex:facet>
        {!a.ContactDebiteur}
</apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_BankName}</apex:facet>
        {!a.BankName}
</apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_RCCodeAvoir}</apex:facet>
        {!a.RCCodeAvoir}
</apex:column>  
</apex:pageBlockTable>
</apex:pageBlockSectionItem>

</apex:pageblockSection>

</apex:pageBlock>

</apex:form>
</apex:page>