<apex:page standardController="Account" extensions="Rforce_AccountAttributes" showHeader="false" sidebar="false">
<style>
 #title{
     background-color:Navy;
     color:white;
     text-align:center;
 }
</style>
<apex:form >

<apex:pageBlock title="{!$Label.VFP05_CaseDetail}">

<apex:pageblockSection columns="2" id="Output">

<apex:pageBlockSectionItem >
            <apex:outputLabel value="{!$Label.VFP05_CaseIdDetail}"></apex:outputLabel>
            {!xmlData.IdCase}
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
            <apex:outputLabel value="{!$Label.VFP05_StatusDetail}"></apex:outputLabel>
            {!xmlData.Status}
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
            <apex:outputLabel value="{!$Label.VFP05_CommentDetail}"></apex:outputLabel>
{!xmlData.Comment}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_DescriptionDetail}"></apex:outputLabel>
{!xmlData.Description}
</apex:pageBlockSectionItem>
<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_NegociationResultDetail}"></apex:outputLabel>
{!xmlData.NegociationResult}
</apex:pageBlockSectionItem>
<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_CaseTypeDetail}"></apex:outputLabel>
{!xmlData.Area}
</apex:pageBlockSectionItem>

 <apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_CreatedDetail}"></apex:outputLabel>
{!xmlData.Created}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_QuoteTypeDetail}"></apex:outputLabel>
{!xmlData.QuoteType}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_FromValueDetail}"></apex:outputLabel>
{!xmlData.FromValue}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_CreatedByNameDetail}"></apex:outputLabel>
{!xmlData.CreatedByName}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_OwnerDetail}"></apex:outputLabel>
{!xmlData.Owner}
</apex:pageBlockSectionItem>

 <apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_SourceDetail}"></apex:outputLabel>
{!xmlData.Source}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_ClosedDateDetail}"></apex:outputLabel>
{!xmlData.ClosedDate}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_ClosedByDetail}"></apex:outputLabel>
{!xmlData.ClosedBy}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_ResolutionDateDetail}"></apex:outputLabel>
{!xmlData.ResolutionDate}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_ResolutionAuthorDetail}"></apex:outputLabel>
{!xmlData.ResolutionAuthor}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_MileageDetail}"></apex:outputLabel>
{!xmlData.Mileage}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_PreferedLanguage2Detail}"></apex:outputLabel>
{!xmlData.PreferedLanguage2}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_SubArea2Detail}"></apex:outputLabel>
{!xmlData.SubArea2}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_CustomerRefNumberDetail}"></apex:outputLabel>
{!xmlData.CustomerRefNumber}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_RCDetailDetail}"></apex:outputLabel>
{!xmlData.RCDetail}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_AccessPointDetail}"></apex:outputLabel>
{!xmlData.AccessPoint}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_SeverityDetail}"></apex:outputLabel>
{!xmlData.Severity}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_DecisionDetail}"></apex:outputLabel>
{!xmlData.Decision}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_TestDataDetail}"></apex:outputLabel>
{!xmlData.TestData}
</apex:pageBlockSectionItem>

</apex:pageblockSection>

<apex:pageblockSection columns="1" >

<div class="title">
<h2>{!$Label.VFP05_ActivityList}</h2>
</div>
<apex:pageBlockSectionItem rendered="{!xmlData.ActivitiesLists.size > 0}">
<apex:pageBlockTable value="{!xmlData.ActivitiesLists}" var="a" border="1" title="{!$Label.VFP05_ActivityList}">
<apex:column title="Type2" >
    <apex:facet name="header">{!$Label.VFP05_Type2}</apex:facet>
        {!a.Type2}
    </apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_OriginDestination}</apex:facet>
        {!a.OriginDestination}
</apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_Status2}</apex:facet>
        {!a.Status2}
</apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_CreatedDate}</apex:facet>
        {!a.Created}
</apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_Done}</apex:facet>
        {!a.Done}
</apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_Comment2}</apex:facet>
        {!a.Comment2}
</apex:column>
<apex:column >
       <apex:facet name="header">{!$Label.VFP05_Description}</apex:facet>
       {!a.Description2}
</apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_OwnedBy}</apex:facet>
        {!a.OwnedBy}
</apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_ContactLastName}</apex:facet>
        {!a.ContactLastName}
</apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_ContactFirstName}</apex:facet>
        {!a.ContactFirstName}
</apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_AccountName}</apex:facet>
        {!a.AccountName}
</apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_RCFleetName}</apex:facet>   
        {!a.RCFleetName}
</apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_AccountLocation}</apex:facet>
        {!a.AccountLocation}
</apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_SRNumber2}</apex:facet>
        {!a.SRNumber2}
</apex:column>
</apex:pageBlockTable>
</apex:pageBlockSectionItem>

<div class="title" style="margin-left:200px;">
<h3>{!$Label.VFP05_Attachments}</h3>
</div>
<apex:pageBlockSectionItem rendered="{!xmlData.ActivitiesLists.size > 0}">
<apex:variable value="{!xmlData.ActivitiesLists[0]}" var="atv"/>
<apex:pageBlockTable value="{!atv.AttachmentsList}" var="atc">
    <apex:column >
        <apex:facet name="header">{!$Label.VFP05_ActivityFileName}</apex:facet>
            {!atc.ActivityFileName}   
    </apex:column>

    <apex:column >
        <apex:facet name="header">{!$Label.VFP05_CreatedByName2}</apex:facet>
            {!atc.CreatedByName2}
    </apex:column>
    
    <apex:column >
        <apex:facet name="header">{!$Label.VFP05_ActivityFileDate}</apex:facet>
            {!atc.ActivityFileDate}
    </apex:column>
    
    <apex:column >
        <apex:facet name="header">{!$Label.VFP05_Comment3}</apex:facet>
            {!atc.Comment3}
    </apex:column>
    <apex:column >
        <apex:facet name="header">{!$Label.VFP05_ActivityFileSAFName}</apex:facet>
            {!atc.ActivityFileSAFName}
    </apex:column>       

</apex:pageBlockTable> 
</apex:pageBlockSectionItem>

<!--<apex:pageBlockTable value="{!xmlData.ContactList}" var="a">-->
<div class="title">
<h2>{!$Label.VFP05_ContactDetail}</h2>
</div>
<apex:variable value="{!xmlData.ContactList[0]}" var="a" rendered="{!xmlData.ContactList.size > 0}"/>
<apex:pageBlockSection rendered="{!xmlData.ContactList.size > 0}">

<apex:pageBlockSectionItem rendered="{!xmlData.ContactList.size > 0}">

<apex:outputLabel value="{!$Label.VFP05_TitleSICDetail}"></apex:outputLabel>
    {!a.TitleSIC}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem rendered="{!xmlData.ContactList.size > 0}">

<apex:outputLabel value="{!$Label.VFP05_LastNameDetail}"></apex:outputLabel>
{!a.LastName}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem rendered="{!xmlData.ContactList.size > 0}">

<apex:outputLabel value="{!$Label.VFP05_FirstNameDetail}"></apex:outputLabel>
{!a.FirstName}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem rendered="{!xmlData.ContactList.size > 0}">

<apex:outputLabel value="{!$Label.VFP05_NoClientDetail}"></apex:outputLabel>
{!a.NoClient}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem rendered="{!xmlData.ContactList.size > 0}">

<apex:outputLabel value="{!$Label.VFP05_CustomerIdentificationTypeDetail}"></apex:outputLabel>
{!a.CustomerIdentificationType}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem rendered="{!xmlData.ContactList.size > 0}">

<apex:outputLabel value="{!$Label.VFP05_CustomerIdentificationNr2Detail}"></apex:outputLabel>
{!a.CustomerIdentificationNr2}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem rendered="{!xmlData.ContactList.size > 0}">

<apex:outputLabel value="{!$Label.VFP05_PreferedLanguage2Detail}"></apex:outputLabel>
{!a.PreferedLanguage2}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem rendered="{!xmlData.ContactList.size > 0}">

<apex:outputLabel value="{!$Label.VFP05_PreferedMethodContactDetail}"></apex:outputLabel>
{!a.PreferedMethodContact}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem rendered="{!xmlData.ContactList.size > 0}">

<apex:outputLabel value="{!$Label.VFP05_EmailAddressDetail}"></apex:outputLabel>
{!a.EmailAddress}
</apex:pageBlockSectionItem>
</apex:pageBlockSection>
<!--<apex:pageBlockSectionItem >
<apex:outputLabel value="PersonalWorkPhone:"></apex:outputLabel>
{!a.PersonalWorkPhone}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="PersonalCellularPhone:"></apex:outputLabel>
{!a.PersonalCellularPhone}
</apex:pageBlockSectionItem>-->

<apex:pageBlockTable value="{!a.PersonalAddressList}" var="pa">
<apex:column >
<apex:facet name="header">{!$Label.VFP05_PersonalCompleteStreetAddressDetailPa}</apex:facet>
{!pa.PersonalCompleteStreetAddress}
</apex:column>

<apex:column >
<apex:facet name="header">{!$Label.VFP05_PersonalAdditionalStreetAddressDetailPa}</apex:facet>
{!pa.PersonalAdditionalStreetAddress}
</apex:column>

<apex:column >
<apex:facet name="header">{!$Label.VFP05_PersonalStreetNumberDetailPa}</apex:facet>
{!pa.PersonalStreetNumber}
</apex:column>

<apex:column >
<apex:facet name="header">{!$Label.VFP05_PersonalStreetTypeDetailPa}</apex:facet>
{!pa.PersonalStreetType}
</apex:column>

<apex:column >
<apex:facet name="header">{!$Label.VFP05_PersonalStreetNameDetailPa}</apex:facet>
{!pa.PersonalStreetName}
</apex:column>

<apex:column >
<apex:facet name="header">{!$Label.VFP05_PersonalCityDetailPa}</apex:facet>
{!pa.PersonalCity}
</apex:column>

<apex:column >
<apex:facet name="header">{!$Label.VFP05_PersonalMailBoxDetailPa}</apex:facet>
{!pa.PersonalMailBox}
</apex:column>

<apex:column >
<apex:facet name="header">{!$Label.VFP05_PersonalCountry2DetailPa}</apex:facet>
{!pa.PersonalCountry2}
</apex:column>

</apex:pageBlockTable>

<apex:variable value="{!xmlData.Vehicle}" var="veh"/>
<div class="title">
<h2>{!$Label.VFP05_Vehicle}</h2>
</div>
<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_Build}"></apex:outputLabel>
{!veh.Build}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_SerialNumber2}"></apex:outputLabel>
{!veh.SerialNumber2}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_ProductModel}"></apex:outputLabel>
{!veh.ProductModel}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_Origin}"></apex:outputLabel>
{!veh.Origin}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_FactoryNumber2}"></apex:outputLabel>
{!veh.FactoryNumber2}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_DealerName2}"></apex:outputLabel>
{!veh.DealerName2}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_ProductVersionSIC}"></apex:outputLabel>
{!veh.ProductVersionSIC}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_UsedNew}"></apex:outputLabel>
{!veh.UsedNew}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_AssetSICId}"></apex:outputLabel>
{!veh.AssetSICId}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_DealerNumber2}"></apex:outputLabel>
{!veh.DealerNumber2}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_InstallDate}"></apex:outputLabel>
{!veh.InstallDate}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_UsedCarPurchaseDate}"></apex:outputLabel>
{!veh.UsedCarPurchaseDate}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_RegisteredDate}"></apex:outputLabel>
{!veh.RegisteredDate}
</apex:pageBlockSectionItem>

<apex:variable value="{!xmlData.Concerned}" var="c"/>
<div class="title">
<h2>{!$Label.VFP05_Concerned}</h2>
</div>
<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_DealerNumber}"></apex:outputLabel>
{!c.DealerNumber}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_Name22}"></apex:outputLabel>
{!c.Name22}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_CorporateShortName}"></apex:outputLabel>
{!c.CorporateShortName}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_TradeRegistration}"></apex:outputLabel>
{!c.TradeRegistration}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_ParentDivisionName}"></apex:outputLabel>
{!c.ParentDivisionName}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_RCDealerBrand}"></apex:outputLabel>
{!c.RCDealerBrand}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_CorporateStatus}"></apex:outputLabel>
{!c.CorporateStatus}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_Type}"></apex:outputLabel>
{!c.Type}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_Zone}"></apex:outputLabel>
{!c.Zone}
</apex:pageBlockSectionItem>


<apex:pageblockSectionItem >
<apex:pageBlockTable value="{!c.ConcernedBusinessAddressList}" var="ce">
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_CompleteAddress}</apex:facet>
        {!ce.CompleteAddress}
</apex:column> 

<apex:column >
    <apex:facet name="header">{!$Label.VFP05_AdditionalAddress}</apex:facet>
        {!ce.AdditionalAddress}
</apex:column>

<apex:column >
    <apex:facet name="header">{!$Label.VFP05_StreetNumber}</apex:facet>
        {!ce.StreetNumber}
</apex:column>

<apex:column >
    <apex:facet name="header">{!$Label.VFP05_StreetType}</apex:facet>
        {!ce.StreetType}
</apex:column>

<apex:column >
    <apex:facet name="header">{!$Label.VFP05_City}</apex:facet>
        {!ce.City}
</apex:column>

<apex:column >
    <apex:facet name="header">{!$Label.VFP05_PostalCode}</apex:facet>
        {!ce.PostalCode}
</apex:column>

<apex:column >
    <apex:facet name="header">{!$Label.VFP05_MailBox}</apex:facet>
        {!ce.MailBox}
</apex:column>     
</apex:pageBlockTable>
</apex:pageblockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_MainPhoneNumber}"></apex:outputLabel>
{!c.MainPhoneNumber}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_MainFaxNumber}"></apex:outputLabel>
{!c.MainFaxNumber}
</apex:pageBlockSectionItem>

<div class="title">
<h2>{!$Label.VFP05_ConcerenedDealerEmployee}</h2>
</div>
<apex:pageblockSectionItem >
<apex:pageblockTable value="{!xmlData.employeeList}" var="cde">
     <apex:column >
         <apex:facet name="header">{!$Label.VFP05_Position}</apex:facet>
            {!cde.Position}
    </apex:column>
    
    <apex:column >
         <apex:facet name="header">{!$Label.VFP05_LastName}</apex:facet>
            {!cde.LastName}
    </apex:column>    
    
    <apex:column >
         <apex:facet name="header">{!$Label.VFP05_FirstName}</apex:facet>
            {!cde.FirstName}
    </apex:column> 
    
    <apex:column >
         <apex:facet name="header">{!$Label.VFP05_ActivePhone}</apex:facet>
            {!cde.ActivePhone}
    </apex:column>    
    
    <apex:column >
         <apex:facet name="header">{!$Label.VFP05_Description}</apex:facet>
            {!cde.Description3}
    </apex:column> 
    
    <apex:column >
         <apex:facet name="header">{!$Label.VFP05_JobTitle}</apex:facet>
            {!cde.JobTitle}
    </apex:column> 

</apex:pageblockTable>
</apex:pageblockSectionItem>


<div class="title">
<h2>{!$Label.VFP05_Paying}</h2>
</div>
<apex:variable value="{!xmlData.Paying}" var="p"/>
<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_DealerNumber}"></apex:outputLabel>
{!p.DealerNumber}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_Name22}"></apex:outputLabel>
{!p.Name22}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_CorporateShortName}"></apex:outputLabel>
{!p.CorporateShortName}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_TradeRegistration}"></apex:outputLabel>
{!p.TradeRegistration}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_ParentDivisionName}"></apex:outputLabel>
{!p.ParentDivisionName}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_RCDealerBrand}"></apex:outputLabel>
{!p.RCDealerBrand}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_CorporateStatus}"></apex:outputLabel>
{!p.CorporateStatus}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_Type}"></apex:outputLabel>
{!p.Type}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_Zone}"></apex:outputLabel>
{!p.Zone}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
    <apex:pageBlockTable value="{!p.PayingBusinessAddressList}" var="pb">
        
        <apex:column >
            <apex:facet name="header">{!$Label.VFP05_CompleteAddress}</apex:facet>
                {!pb.CompleteAddress}
        </apex:column>
        
        <apex:column >
            <apex:facet name="header">{!$Label.VFP05_AdditionalAddress}</apex:facet>
                {!pb.AdditionalAddress}
        </apex:column>
        
        <apex:column >
            <apex:facet name="header">{!$Label.VFP05_StreetNumber}</apex:facet>
                {!pb.StreetNumber}
        </apex:column>
        
        <apex:column >
            <apex:facet name="header">{!$Label.VFP05_StreetType}</apex:facet>
                {!pb.StreetType}
        </apex:column>
        
        <apex:column >
            <apex:facet name="header">{!$Label.VFP05_StreetName}</apex:facet>
                {!pb.StreetName}
        </apex:column>
        
        <apex:column >
            <apex:facet name="header">{!$Label.VFP05_City}</apex:facet>
                {!pb.City }
        </apex:column>                                        
    
        <apex:column >
            <apex:facet name="header">{!$Label.VFP05_PostalCode}</apex:facet>
                {!pb.PostalCode}
        </apex:column>
        
        <apex:column >
            <apex:facet name="header">{!$Label.VFP05_MailBox}</apex:facet>
                {!pb.MailBox}
        </apex:column>                   
        
    </apex:pageBlockTable>
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_MainPhoneNumber}"></apex:outputLabel>
{!p.MainPhoneNumber}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_MainFaxNumber}"></apex:outputLabel>
{!p.MainFaxNumber}
</apex:pageBlockSectionItem>


<div class="title">
<h2>{!$Label.VFP05_OwnerOrganization}</h2>
</div>
<apex:variable value="{!xmlData.OwnerOrganization}" var="oo"/>
<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_Name2}"></apex:outputLabel>
{!oo.Name2}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_OrgIdentificationNr2}"></apex:outputLabel>
{!oo.OrgIdentificationNr2}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_Type}"></apex:outputLabel>
{!oo.Type}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_ParentAccountName}"></apex:outputLabel>
{!oo.ParentAccountName}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_Preferedlanguage}"></apex:outputLabel>
{!oo.Preferedlanguage}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_OrgIdentificationType}"></apex:outputLabel>
{!oo.OrgIdentificationType }
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_SICId}"></apex:outputLabel>
{!oo.SICId}
</apex:pageBlockSectionItem>

<!--<apex:pageBlockSectionItem >
<apex:outputLabel value="PostalCode:"></apex:outputLabel>
{!oo.PostalCode}
</apex:pageBlockSectionItem>-->

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_MailBox}"></apex:outputLabel>
{!oo.MainPhoneNumber}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_ProvinceSIC}"></apex:outputLabel>
{!oo.Siret}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_Country}"></apex:outputLabel>
{!oo.Location2}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
    <apex:pageBlockTable value="{!oo.BusinessAddressList}" var="ooa">
         <apex:column >
            <apex:facet name="header">{!$Label.VFP05_CompleteAddress}</apex:facet>
                {!ooa.CompleteAddress}
        </apex:column>
          
         <apex:column >
            <apex:facet name="header">{!$Label.VFP05_AdditionalAddress}</apex:facet>
                {!ooa.AdditionalAddress}
        </apex:column>         
        
         <apex:column >
            <apex:facet name="header">{!$Label.VFP05_StreetNumber}</apex:facet>
                {!ooa.StreetNumber}
        </apex:column>                

         <apex:column >
            <apex:facet name="header">{!$Label.VFP05_StreetType}</apex:facet>
                {!ooa.StreetType}
        </apex:column>

         <apex:column >
            <apex:facet name="header">{!$Label.VFP05_StreetName}</apex:facet>
                {!ooa.StreetName}
        </apex:column>

         <apex:column >
            <apex:facet name="header">{!$Label.VFP05_City}</apex:facet>
                {!ooa.City}
        </apex:column>

         <apex:column >
            <apex:facet name="header">{!$Label.VFP05_PostalCode}</apex:facet>
                {!ooa.PostalCode}
        </apex:column>
        
         <apex:column >
            <apex:facet name="header">{!$Label.VFP05_MailBox}</apex:facet>
                {!ooa.MailBox}
        </apex:column>
        
         <apex:column >
            <apex:facet name="header">{!$Label.VFP05_ProvinceSIC}</apex:facet>
                {!ooa.ProvinceSIC}
        </apex:column>

         <apex:column >
            <apex:facet name="header">{!$Label.VFP05_Country}</apex:facet>
                {!ooa.Country}
        </apex:column>
                                                                 
    </apex:pageBlockTable>
</apex:pageBlockSectionItem>


<div class="title">
<h2>{!$Label.VFP05_FleetOrganization}</h2>
</div>
<apex:variable value="{!xmlData.FleetOrganization}" var="fo"/>
<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_Name2}"></apex:outputLabel>
{!fo.Name2}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_OrgIdentificationNr2}"></apex:outputLabel>
{!fo.OrgIdentificationNr2}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_Type}"></apex:outputLabel>
{!fo.Type}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_ParentAccountName}"></apex:outputLabel>
{!fo.ParentAccountName}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_Preferedlanguage}"></apex:outputLabel>
{!fo.Preferedlanguage}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_OrgIdentificationType}"></apex:outputLabel>
{!fo.OrgIdentificationType}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_SICId}"></apex:outputLabel>
{!fo.SICId}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_OrgIdentificationNr1}"></apex:outputLabel>
{!fo.OrgIdentificationNr1}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_Siret}"></apex:outputLabel>
{!fo.Siret}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_Location2}"></apex:outputLabel>
{!fo.Location2}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_MainPhoneNumber}"></apex:outputLabel>
{!fo.MainFaxNumber}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:pageBlockTable value="{!fo.BusinessAddressList}" var="foba">
         <apex:column >
            <apex:facet name="header">{!$Label.VFP05_CompleteAddress}</apex:facet>
                {!foba.CompleteAddress}
        </apex:column>
       
         <apex:column >
            <apex:facet name="header">{!$Label.VFP05_StreetNumber}</apex:facet>
                {!foba.StreetNumber}
        </apex:column>

         <apex:column >
            <apex:facet name="header">{!$Label.VFP05_StreetType}</apex:facet>
                {!foba.StreetType}
        </apex:column>
        
         <apex:column >
            <apex:facet name="header">{!$Label.VFP05_StreetName}</apex:facet>
                {!foba.StreetName}
        </apex:column>
      
         <apex:column >
            <apex:facet name="header">{!$Label.VFP05_City}</apex:facet>
                {!foba.City}
        </apex:column>
       
         <apex:column >
            <apex:facet name="header">{!$Label.VFP05_PostalCode}</apex:facet>
                {!foba.PostalCode}
        </apex:column>

         <apex:column >
            <apex:facet name="header">{!$Label.VFP05_MailBox}</apex:facet>
                {!foba.MailBox}
        </apex:column>                                               
</apex:pageBlockTable>
</apex:pageBlockSectionItem>


<div class="title">
<h2>{!$Label.VFP05_EffectPerception}</h2>
</div>
<apex:variable value="{!xmlData.EffectPerception}" var="ep"/>
<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_ClientView}"></apex:outputLabel>
{!ep.ClientView}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_ClientDemand}"></apex:outputLabel>
{!ep.ClientDemand}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_ServiceCause}"></apex:outputLabel>
{!ep.ServiceCause}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_Risk}"></apex:outputLabel>
{!ep.Risk}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_CommercialCause}"></apex:outputLabel>
{!ep.CommercialCause}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_ProductCauseFunction}"></apex:outputLabel>
{!ep.ProductCauseFunction}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_NITGCode}"></apex:outputLabel>
{!ep.NITGCode}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_ProductCause}"></apex:outputLabel>
{!ep.ProductCause}
</apex:pageBlockSectionItem>

<div class="title">
<h2>{!$Label.VFP05_CustomerCompensation}</h2>
</div>
<apex:variable value="{!xmlData.CustomerCompensation}" var="cc"/>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_Mileage}"></apex:outputLabel>
{!cc.Mileage}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_InvoiceAmount}"></apex:outputLabel>
{!cc.InvoiceAmount}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="{!$Label.VFP05_ClaimAmount}"></apex:outputLabel>
{!cc.ClaimAmount}
</apex:pageBlockSectionItem>

</apex:pageblockSection>


<apex:pageblockSection columns="1" >

<div class="title">
<h3>{!$Label.VFP05_GoodwillList}</h3>
</div>

<apex:pageBlockSectionItem rendered="{!xmlData.CompensationBudgetList.size > 0}">
<apex:pageBlockTable value="{!xmlData.CompensationBudgetList}" var="a" border="1" title="{!$Label.VFP05_GoodwillList}">
<apex:column title="Type2" >
    <apex:facet name="header">{!$Label.VFP05_AgreementNumber}</apex:facet>
        {!a.AgreementNumber}
    </apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_ClaimAmount}</apex:facet>
        {!a.AssociatedCost}
</apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_ResolutionCode}</apex:facet>
        {!a.ResolutionCode}
</apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_ResolutionCode2}</apex:facet>
        {!a.ResolutionCode2}
</apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_Description}</apex:facet>
        {!a.Description}
</apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_BudgetCode}</apex:facet>
        {!a.BudgetCode}
</apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_AssociatedCost}</apex:facet>
        {!a.AssociatedCost}
</apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_PaymentMode}</apex:facet>
        {!a.PaymentMode}
</apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_PaidAmountClient}</apex:facet>
        {!a.PaidAmountClient}
</apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_PaymentModeNr}</apex:facet>
        {!a.PaymentModeNr}
</apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_PaymentModeDate}</apex:facet>
        {!a.PaymentModeDate}
</apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_Created}</apex:facet>
        {!a.Created}
</apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_PotentialCompensation}</apex:facet>
        {!a.PotentialCompensation}
</apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_AssociatedCostIncludingVAT}</apex:facet>
        {!a.AssociatedCostIncludingVAT}
</apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_ContactDebiteur}</apex:facet>
        {!a.ContactDebiteur}
</apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_BankName}</apex:facet>
        {!a.BankName}
</apex:column>
<apex:column >
    <apex:facet name="header">{!$Label.VFP05_RCCodeAvoir}</apex:facet>
        {!a.RCCodeAvoir}
</apex:column>  
</apex:pageBlockTable>
</apex:pageBlockSectionItem>

</apex:pageblockSection>

</apex:pageBlock>

</apex:form>
</apex:page>