<apex:page controller="Rforce_CommercialOffers_CTR" >
<apex:stylesheet value="{!URLFOR($Resource.Rforce_CommercialOfferCSS)}"/>
<apex:includeScript value="/support/console/33.0/integration.js" />
<apex:includeScript value="{!URLFOR($Resource.Rforce_CaseCommercialOffer_STR)}"/>      
<apex:form id="formId">
     <apex:actionFunction name="searchlistmethod" action="{!searchList}" status="mySaveStatus1" rerender="formId">
        <apex:param name="objType" assignTo="{!strObjectType}" value="Account"/> 
    </apex:actionFunction> 

    <apex:actionFunction name="Checkoffersmethod" action="{!checkOffersBasedOnEmailOrVIN}" status="mySaveStatus1" rerender="formId">
        <apex:param name="objType" assignTo="{!strObjectType}" value="Account"/> 
    </apex:actionFunction>

   <table cellpadding="0" cellspacing="0" width="100%" border="0" align="Center" margin= "0">  
	   <tr>
			<td colspan="2" class="TableBorder">
				<table cellpadding="5" cellspacing="0" width="100%" border="0">
						<tr>
							<td class="TopBelowLeft "><img src="{!URLFOR($Resource.Rforce_topbelowIMG)}" id="IDNewMenu" valign="middle" onclick="fnShowSmallDiv()" style="padding: 0px ;cursor:pointer;position:relative;"/>
							</td>
							<td>
							<table cellpadding="0" cellspacing="0" width="100%" border="0">
								<apex:inputHidden value="{!strSearchList}" id="myHiddenVar" />
									<tr>
										<td width="2%"><img src="{!URLFOR($Resource.Rforce_searchIMG)}" onclick="searchlistmethod()" style="cursor:pointer;"/></td>
										<td><input type="text" style="font-family: Arial,Helvetica,sans-serif;font-size: 110%;font-weight: Bold;" name ="{!strSearchList}" placeholder="{!$Label.Commercial_Search}" id="IDTextInput" onblur="document.getElementById('{!$Component.myHiddenVar}').value = this.value;"/></td>
									</tr>
								</table>
							</td>
						</tr>
				</table>
			</td>
		</tr> 
    
		<tr>
			<td colspan="2" width='100%'>
				<div class="InsideDiv" style="position:fixed; overflow-y:auto;overflow-x: auto;width:97%; height:88%;" >
					<apex:actionStatus id="mySaveStatus1">
						<apex:facet name="start">
							<apex:outputPanel >
								<apex:commandButton value="{!$Label.ACC_Searching}" status="mySaveStatus1" disabled="true" style="height: 33px;width: 119px;position: absolute;top: 50%;left: 50%;margin-right: -50%;transform: translate(-50%, -50%);"/>
								<apex:image value="{!URLFOR($Resource.Rforce_LoadingIMG)}" style="height: 15px ;position: absolute;top: 50%;left: 41%;margin-right: -50%;transform: translate(-50%, -50%);"/>
							</apex:outputPanel>
					   </apex:facet> 
					</apex:actionStatus>
				 
					<apex:repeat value="{!rforceCommercialOffers}" var="offs" rendered="{!NOT(ISNULL(rforceCommercialOffers))}"> 
						<table> 
							<tbody>        
								<tr>
									<td colspan="2" width='100%'>
										<apex:CommandLink styleClass="tooltips">
											<br></br>
											<apex:image id="offImage" value="{!offs.strPictDetail}" width="180px" height="87px;"/>
											<span>
												<b><font color="#015ba7">{!$Label.Rforce_Label}</font></b> :{!offs.strPropLabel}<br/>
												<b><font color="#015ba7">{!$Label.Rforce_ValidityDate}</font></b> : {!offs.strValidityDate}<br/>
												<b><font color="#015ba7">{!$Label.Rforce_MktDesc}</font></b> : {!offs.strDesMkt}<br/>
												<b><font color="#015ba7">{!$Label.Rforce_LegalDesc}</font></b>: {!offs.strDeskLeg}<br/>
											</span>
										</apex:CommandLink>
									</td>
								</tr>
								<tr>
									<td width="50%"><apex:image value="{!$Resource.Rforce_Interested}" style="cursor:pointer;" onclick="callPrimaryTab('true','{!offs.strPropOfferID}')"/>
										<span class="InterestedGreen classforcefont" onclick="callPrimaryTab('true','{!offs.strPropOfferID}')">{!$Label.Rforce_Interested}</span>
										<apex:image value="{!$Resource.Rforce_Notinterested}" style="cursor:pointer;" onclick="callPrimaryTab('false','{!offs.strPropOfferID}')"/>
										<span class="InterestedRed classforcefont" onclick="callPrimaryTab('false','{!offs.strPropOfferID}')">{!$Label.Rforce_Notinterested}</span>
									</td>
								</tr> 
							</tbody>  
						</table> 
					</apex:repeat> 
				</div>
			</td>
		</tr> 
	</table> 

	<div class="WholeBoxSmallDiv" id="NewSmallDiv" style="display:none">
		<table cellpadding="5" cellspacing="0" width="%" border="0">
			<tr>
				<td width="10%"><img src="{!URLFOR($Resource.Rforce_offerIMG)}" style="cursor:pointer"/></td>
				<td class="classBold classforcefont" onclick="CheckoffersJavaScript()">{!$Label.Offer_Search}</td>
			</tr>
		</table>
	</div>
    
	<apex:actionFunction name="setSelectedValues" action="{!createOffer}" oncomplete="redirect('{!strOffersSelected}','{!strInterestedOrNotSelected}');loadPrimaryTab(true);return false;" rerender="myHiddenValues">
		<apex:param name="interestedOrNot" value="" assignTo="{!strInterestedOrNotSelected}" />
		<apex:param name="offerId" value="" assignTo="{!strOffersSelected}" />
	</apex:actionFunction>
		
	<apex:actionFunction name="loadPrimaryTab" action="{!refreshPage}">
		<apex:param name="objType" assignTo="{!strObjectType}" value="Case"/>
		<apex:param name="rforceCommercialOffers" assignTo="{!rforceCommercialOffers}" value=""/> 
	</apex:actionFunction>
		
	<apex:pageBlock rendered="{!rforceCommercialOffers.size==0}">
		<apex:outputLabel style="color:#FF0000; font-weight: bold;" value="{!$Label.ACC_NOOFFERS}"></apex:outputLabel>
	</apex:pageBlock>

	<apex:pageBlock rendered="{!bCountry==true}">
		<apex:outputLabel style="color:#FF0000; font-weight: bold;" value="{!$Label.Offer_Activated_Country}"></apex:outputLabel>
	</apex:pageBlock>

</apex:form>
</apex:page>