<apex:page standardController="VEH_Veh__c" extensions="VeiculoRecallListController" showHeader="false" sidebar="false">
    
    <apex:includeScript value="{!URLFOR($Resource.jQuery1_12_4)}"/>
    
    <script>
    
    $(document).ready(function() {
        colorChange(); 
    });
    
    function colorChange(){
        $('.No').parent().parent().css('background-color','#FF7F50');
        $('.Yes').parent().parent().css('background-color','#90EE90');
    }
    
    </script>
    
    <style> 
        .table{
        border-spacing: 1px;
        }
        .headerClass{
        background-color: #C0C0C0;
        }
    </style>
    
    <apex:form id="form">
        
        <apex:outputPanel layout="block" style="overflow:auto;height:200px" >
            
            <!--<apex:pageBlock rendered="{!recallList != null && recallList.size > 0}">-->
                
                <apex:dataTable value="{!recallList}" var="r" styleClass="table" rendered="{!recallList != null && recallList.size > 0}">
                    <apex:column headerValue="{!$ObjectType.Recall_Relation__c.fields.Status__c.Label}" headerClass="headerClass">
                        <apex:facet name="header">
                        </apex:facet>
                        <apex:commandLink styleClass="{!r.Status__c}" value="Cliente Não Informado" action="{!clienteInformado}"
                                          rendered="{!r.Status__c == 'No'}" reRender="form" oncomplete="colorChange();">
                            <apex:param name="recallId" value="{!r.Id}" />
                        </apex:commandLink>
                        <apex:outputLabel styleClass="{!r.Status__c}" value="Cliente Informado" rendered="{!r.Status__c == 'Yes'}" />                  
                    </apex:column>
                    <apex:column headerClass="headerClass" headerValue="{!$ObjectType.Recall_Relation__c.fields.Recall_Name__c.Label}" value="{!r.Recall_Name__c}" />
                    <apex:column headerClass="headerClass" headerValue="{!$ObjectType.Recall_Relation__c.fields.Risk__c.Label}" value="{!r.Risk__c}" />
                    <apex:column headerClass="headerClass" headerValue="{!$ObjectType.Recall_Relation__c.fields.Solution__c.Label}" value="{!r.Solution__c}" />
                    <apex:column headerClass="headerClass" headerValue="{!$ObjectType.Recall_Relation__c.fields.Technical_Reasons__c.Label}" value="{!r.Technical_Reasons__c}" />
                </apex:dataTable>
                
            <!--</apex:pageBlock>-->
            
        </apex:outputPanel>
        
        <apex:outputPanel rendered="{!recallList == null || recallList.size == 0}">
            <i class="no-records">Nenhum Recall localizado para este cliente.</i>
        </apex:outputPanel>
    </apex:form>
    
</apex:page>