<apex:page controller="VFC02_SearchVehicle" sidebar="false">
<style type="text/css">
    hr {
        height:1px;
        border-width:0;
        color:#ECECEC;
        background-color:#ECECEC;
    }
</style>
<apex:form >
    <br/>
    <apex:pageblock title="{!$Label.SearchVehicle}" id="SearchVehicle">
    <apex:pageMessages escape="false"/>    
    <apex:pageBlockSection >
        <apex:pageBlockSectionItem >
            <apex:outputLabel value="{!$ObjectType.VEH_Veh__c.fields.Name.label}"/>
            <apex:inputText value="{!VIN}"/>
        </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel style="font-weight:bold" value="{!$ObjectType.VEH_Veh__c.fields.VehicleRegistrNbr__c.label}"/>
            <apex:inputText value="{!VRN}"/>
        </apex:pageBlockSectionItem>
        
     <!--    <apex:pageBlockSectionItem >
           <apex:outputLabel style="font-weight:bold" value="{!$Label.LanguageCode}"/>
            <apex:inputText value="{!LanguageCode}"/>  
        </apex:pageBlockSectionItem>   -->
      
     <!--   <apex:pageBlockSectionItem >
            <apex:outputLabel style="font-weight:bold" value="{!$Label.CountryCode}"/>
            <apex:inputText value="{!CountryCode}"/>
        </apex:pageBlockSectionItem>   -->
    </apex:pageBlockSection>
    
    <hr/>
    <center><apex:commandButton action="{!searchVehicle}" value="{!$Label.Search}" /></center>
      
    </apex:pageblock>   
 </apex:form>
 </apex:page>