<apex:page standardController="Account" 
	       extensions="VFC19_AccountCustomerActivity" 
	       action="{!createLeadUsingAccount}" 
	       showHeader="true" 
	       sidebar="true" 
	       id="customerActivityPage">
	<script type="text/javascript">
        var __sfdcSessionId = '{!GETSESSIONID()}';
    </script>
    
    <script src="/soap/ajax/24.0/connection.js" type="text/javascript"></script>
    <script src="/soap/ajax/24.0/apex.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript">
        var geocoder = new google.maps.Geocoder();
        var infowindowForAccountAndLead = new google.maps.InfoWindow({});
        var infowindowChangeTheMarker = new google.maps.InfoWindow({});
        var isMapChangedByConcessionaire = false;
        var accountIdToSave;
        var accountNameToSave;
        var recordCount = 0;
        var result;
        var records;
        var accountIdArray                    =   new Array();
        var accountIdString                   =   '';
        var accountAddressArray               =   new Array();
        var accountLatitude                   =   new Array();
        var accountLongitude                  =   new Array();
        var accountArrayLength                =   0;
        var accountIdNow                      =   new Array();
        var compareAccountArrayLength         =   0;
        var splitedId;
        var closestThreeAccounts              =   0;
        var compareLowestThreeRecords         =   0;
        var arrayDisplayAccountStreet         =   new Array();
        var arrayDisplayAccountCity           =   new Array();
        var arrayDisplayAccountState          =   new Array();
        var arrayDisplayAccountPostalCode     =   new Array();
        var arrayDisplayAccountCountry        =   new Array();
        var arrayDisplayAccountAddress        =   new Array();
        var arrayDisplayAccountIdArray        =   new Array();
        var arrayDisplayAccountNameArray      =   new Array();
        var arrayDisplayAccountShortNameArray =   new Array();
        var accountMarkersArray               =   new Array();
        var marker;
        var myOptions;
        var dealerIdInLeadRecord;
        
        var leadStreet, leadCity, leadState, leadPostalCode, leadCountry, leadAddress, leadName;
        var leadLatitude;
        var leadLongitude;
        var currentAccountDistance;
        var emptyString = ' ';
        
        var imageRenault = "{!URLFOR($Resource.symbolRenault)}";
        var imageCustomerMarker = "{!URLFOR($Resource.customerMarker)}";
        var imageMarkerAsPreferred = "{!URLFOR($Resource.markAsPreferredDealerMarker)}";
                
        var accountRecordTypeId;
        var map;
        
        var concessionaire;
        var concessionaireId;
        
        $(document).ready( function(){
            initialization();
        });
        
        function getUrlVars() {
            var vars = {};
            var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
                vars[key] = value;
            });
            return vars;
        }
        
        function saveAccountIdtoLead(){
            var currentInfowindowContent = infowindowForAccountAndLead.getContent();
            infowindowChangeTheMarker.setContent( currentInfowindowContent );
            
            document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:clientInterestSection:clientInterestSectionDealerInterest:DealerInterest}_lkid').value = accountIdToSave;
            document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:clientInterestSection:clientInterestSectionDealerInterest:DealerInterest}').value = accountNameToSave;
        }
        
        function updateMapViaConcessionaireUsingPopUp()
        {
	        // campaign
        	jsFetchListCampaigns();

            concessionaireId = document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:clientInterestSection:clientInterestSectionDealerInterest:DealerInterest}_lkid').value;
            concessionaire = document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:clientInterestSection:clientInterestSectionDealerInterest:DealerInterest}').value;
            
            if( concessionaire != '' ){
                getAccountRecordsUsingAccountName( concessionaire, accountRecordTypeId );
            }
            else{
                if( accountMarkersArray ) {
                    for ( i in accountMarkersArray ) {
                        accountMarkersArray[i].setIcon( imageRenault );
                    }
                }
            }
        }
        
        function updateMapWithAddressInformation()
        {    
            accountRecordTypeId = ''; 
            accountArrayLength = 0;
            accountAddressArray = new Array();
            accountLatitude =   new Array();
            accountLongitude = new Array();
            accountIdArray = new Array();
            accountIdString = '';
            recordCount = 0;
            arrayDisplayAccountStreet = new Array();
            arrayDisplayAccountCity = new Array();
            arrayDisplayAccountState = new Array();
            arrayDisplayAccountPostalCode = new Array();
            arrayDisplayAccountCountry = new Array();
            arrayDisplayAccountAddress = new Array();
            arrayDisplayAccountIdArray = new Array();
            arrayDisplayAccountNameArray = new Array();
            arrayDisplayAccountShortNameArray = new Array();
            splitedId = '';
            compareAccountArrayLength = 0;
            closestThreeAccounts = 0;
            compareLowestThreeRecords = 0;
            leadAddress = '';
            leadStreet  =   '';
            leadCity    =   '';
            leadState   =   '';
            leadPostalCode  =   '';
            leadCountry =   ''; 
            
            geocoder = new google.maps.Geocoder();
            infowindowForAccountAndLead = new google.maps.InfoWindow({});
            infowindowChangeTheMarker = new google.maps.InfoWindow({});
            
            leadStreet      =   document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:residentialAddressSection:streetResidentialItem:residentialStreet}').value;
            leadCity        =   document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:residentialAddressSection:cityResidentialItem:residentialCity}').value;
            leadState       =   document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:residentialAddressSection:stateResidentialItem:residentialState}').value;
            leadPostalCode  =   document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:residentialAddressSection:postalCodeResidentialItem:residentialPostalCode}').value;
            leadCountry     =   document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:Country}').value;
            leadAddress     =   leadStreet + ', ' + leadCity + ', ' + leadState + ', ' + leadPostalCode + ', ' + leadCountry;
            drawLeadRecordOnMap();
        }
        
        function initialization(){
            var recordID        =   getUrlVars()["id"];
            var leadQuery       =   "SELECT Id, Name, isResAddressRef__c, RefAddressStreet__c, RefAddressCity__c, RefAddressPostalCode__c, RefAddressState__c, RefAddressCountry__c FROM Account WHERE Id = '"+ recordID +"' limit 1";
            result              =   sforce.connection.query(leadQuery);
            records             =   result.getArray("records");
            for (var i = 0; i < records.length; i++) {
                leadStreet      =   ( records[i].RefAddressStreet__c != null ? records[i].RefAddressStreet__c : emptyString );
                leadCity        =   ( records[i].RefAddressCity__c != null ? records[i].RefAddressCity__c : emptyString );
                leadState       =   ( records[i].RefAddressState__c != null ? records[i].RefAddressState__c : emptyString );
                leadPostalCode  =   ( records[i].RefAddressPostalCode__c != null ? records[i].RefAddressPostalCode__c : emptyString );
                leadCountry     =   ( records[i].RefAddressCountry__c != null ? records[i].RefAddressCountry__c : emptyString );
                leadName        =   records[i].Name;
                leadAddress     =   leadStreet + ', ' + leadCity + ', ' + leadState + ', ' + leadPostalCode + ', ' + leadCountry;
            }
            drawLeadRecordOnMap();
        }
        
        function drawLeadRecordOnMap(){
            myOptions = {
                zoom            :   10,
                mapTypeId       :   google.maps.MapTypeId.ROADMAP,
                mapTypeControl  :   false,
                scrollwheel     :   false,
                draggable       :   false
            }
            
            geocoder.geocode( { address: leadAddress }, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK&&  results.length) {
                    if (status != google.maps.GeocoderStatus.ZERO_RESULTS) {

                        map = new google.maps.Map(document.getElementById("map"), myOptions);
                        map.setCenter( results[0].geometry.location );
                        
                        marker = new google.maps.Marker({
                            position    :   results[0].geometry.location,
                            map         :   map,
                            title       :   leadName,
                            icon        :   imageCustomerMarker
                        });
                        
                        google.maps.event.addListener(marker, 'click', function() {
                            var infoWindowHtml = '<div style="width:100%; height:20%"><table align="left" valign="center"><tr><td><b>' + leadName + '</b></td></tr><tr><td>' + leadStreet + '</td></tr><tr><td>' + leadCity + ', ' + leadState + ', ' + leadPostalCode + '</td></tr><tr><td>' + leadCountry + '</td></tr></table></div>';
                            
                            infowindowForAccountAndLead.setContent( infoWindowHtml );
                            infowindowForAccountAndLead.open(map,marker);
                        });
                        
                        leadLatitude    =   results[0].geometry.location.lat();
                        leadLongitude   =   results[0].geometry.location.lng();
                        
                        plotMarkers();
                    }
                }
                else {
                    $('#map').html('{!$Label.ERRNoInputAddressForGoogleMap}');
                    resizeIframe();
                }
            });
            
            function resizeIframe() {
                var me = window.name;
                if (me) {
                    var iframes = parent.document.getElementsByName(me);
                    if (iframes&&  iframes.length == 1) {
                        height = document.body.offsetHeight;
                        iframes[0].style.height = height + "px";
                    }
                }
            }
        }
        
        function plotMarkers(){
            accountRecordTypeId = getRecordTypeIdForAccount();
            getAccountRecordsWithinLead_State( accountRecordTypeId );
            accountArrayLength = accountAddressArray.length;
            displayAllDealers();
        }
        
        function displayAllDealers(){
            if(compareAccountArrayLength < accountArrayLength){
                window.setTimeout("displayAllDealers()",300);
                displayClosestAccounts();
                compareAccountArrayLength++;
            }
            else{
                // enable the drag option in Map.
                myOptions.draggable = true;
                map.setOptions( myOptions );
            }
        }
        /*
        function validatingAllAccounts(){
            if(compareAccountArrayLength < accountArrayLength){
                window.setTimeout("validatingAllAccounts()",100);
                calculateDistanceForCurrentAccount( accountAddressArray[compareAccountArrayLength], accountLatitude[compareAccountArrayLength], accountLongitude[compareAccountArrayLength], accountIdArray[compareAccountArrayLength] );
                compareAccountArrayLength++;
            }
        }
        
        function calculateDistanceForCurrentAccount( accountAddress, latitude, longitude, accountId ){
            currentAccountDistance = 0;
            currentAccountDistance = distance( leadLatitude, leadLongitude, latitude, longitude);
            
            var distanceInKiloMeter =   currentAccountDistance.indexOf("km");
            var distanceInMeter     =   currentAccountDistance.indexOf("m");
            var distanceInFeet      =   currentAccountDistance.indexOf("ft");
            var distanceConvertToMeter = 0;
            var formAccountIdWithDistance = '';
            
            if( distanceInMeter >= 0 ){
                distanceConvertToMeter = 0;
                distanceConvertToMeter = parseInt( currentAccountDistance );
            }
            if( distanceInKiloMeter >= 0 ){
                distanceConvertToMeter = 0;
                distanceConvertToMeter = parseInt( currentAccountDistance );
                distanceConvertToMeter = distanceConvertToMeter * 1000;
            }
            if( distanceInFeet >= 0 ){
                distanceConvertToMeter = 0.0;
                distanceConvertToMeter = parseInt( currentAccountDistance );
                distanceConvertToMeter = distanceConvertToMeter * 0.3048;
                distanceConvertToMeter = parseInt( distanceConvertToMeter );
            }
            
            formAccountIdWithDistance = accountId + ':' + distanceConvertToMeter;
            accountIdString = accountIdString + formAccountIdWithDistance + ',';
            recordCount++;
            
            if( recordCount == accountArrayLength ){
                findNearestAccounts( accountIdString );
            }
        }
        */
        
        function getRecordTypeIdForAccount(){
            var recordTypeQuery = "select Id, SobjectType, Name, DeveloperName from RecordType where (SobjectType = 'Account' and DeveloperName in ('Network_Site_Acc')) limit 1";
            var recordTypeResult    =   sforce.connection.query(recordTypeQuery);
            var recordTypeRecords   =   recordTypeResult.getArray("records");
            var recordTypeId;
            for (var i = 0; i < recordTypeRecords.length; i++) {
                recordTypeId = recordTypeRecords[i].Id;
            }
            return recordTypeId;
        }
        
        function getAccountRecordsWithinLead_State( accountRecordTypeId ){
            var accountQuery = "SELECT Id, Name, ShortndName__c, ShippingCity, ShippingCountry, ShippingState, ShippingStreet, ShippingPostalCode, RecordTypeId, Latitude__c, Longitude__c FROM Account  WHERE RecordTypeId = '"+ accountRecordTypeId + "' AND ShippingState = '"+ leadState +"' AND Latitude__c != null AND Longitude__c != null ORDER BY Name DESC";
            var accountResult = sforce.connection.query(accountQuery);
            var accountRecords = accountResult.getArray("records");
            var Street, City, State, PostalCode, Country, latitude, longitude, ShortName;
            
            for (var i = 0; i < accountRecords.length; i++) {
                
                ShortName   =   ( accountRecords[i].ShortndName__c != null ? accountRecords[i].ShortndName__c : accountRecords[i].Name );
                Street      =   ( accountRecords[i].ShippingStreet != null ? accountRecords[i].ShippingStreet : emptyString );
                City        =   ( accountRecords[i].ShippingCity != null ? accountRecords[i].ShippingCity : emptyString );
                State       =   ( accountRecords[i].ShippingState != null ? accountRecords[i].ShippingState : emptyString );
                PostalCode  =   ( accountRecords[i].ShippingPostalCode != null ? accountRecords[i].ShippingPostalCode : emptyString );
                Country     =   ( accountRecords[i].ShippingCountry != null ? accountRecords[i].ShippingCountry : emptyString );
                latitude    =   ( accountRecords[i].Latitude__c != null ? accountRecords[i].Latitude__c : emptyString );
                longitude   =   ( accountRecords[i].Longitude__c != null ? accountRecords[i].Longitude__c : emptyString );
                var accountAddressFormation = Street + ', ' + City + ', ' + State + ', ' + PostalCode + ', ' + Country;
                accountAddressArray.push( accountAddressFormation );
                arrayDisplayAccountStreet.push( Street );
                arrayDisplayAccountCity.push( City );
                arrayDisplayAccountState.push( State );
                arrayDisplayAccountPostalCode.push( PostalCode );
                arrayDisplayAccountCountry.push( Country );
                arrayDisplayAccountAddress.push( accountAddressFormation );
                arrayDisplayAccountIdArray.push( accountRecords[i].Id );
                arrayDisplayAccountNameArray.push( accountRecords[i].Name );
                arrayDisplayAccountShortNameArray.push( ShortName );
                accountLatitude.push( latitude );
                accountLongitude.push( longitude );
                accountIdArray.push( accountRecords[i].Id );
            }
        }
        
        
        function getAccountRecordsUsingAccountName( accountName, accountRecordTypeId ){
            var accountQuery = "SELECT Id, Name, ShortndName__c, ShippingCity, ShippingCountry, ShippingState, ShippingStreet, ShippingPostalCode, RecordTypeId, latitude__c, longitude__c FROM Account WHERE RecordTypeId = '"+ accountRecordTypeId + "'" + " AND Name = '" + accountName + "'" + " AND ShippingStreet != null AND ShippingCity != null AND ShippingCountry != null AND ShippingState != null limit 1";
            var accountResult = sforce.connection.query(accountQuery);
            var accountRecords = accountResult.getArray("records");
            var Id, Name, Street, City, State, PostalCode, Country, accountAddressFormation, latitude, longitude, ShortName;
            
            if( accountRecords != '' ){
                if( accountMarkersArray ) {
                    for ( i in accountMarkersArray ) {
                        accountMarkersArray[i].setIcon( imageRenault );
                    }
                }
                for (var i = 0; i < accountRecords.length; i++) {
                    ShortName   =   ( accountRecords[i].ShortndName__c != null ? accountRecords[i].ShortndName__c : accountRecords[i].Name );
                    Street      =   ( accountRecords[i].ShippingStreet != null ? accountRecords[i].ShippingStreet : emptyString );
                    City        =   ( accountRecords[i].ShippingCity != null ? accountRecords[i].ShippingCity : emptyString );
                    State       =   ( accountRecords[i].ShippingState != null ? accountRecords[i].ShippingState : emptyString );
                    PostalCode  =   ( accountRecords[i].ShippingPostalCode != null ? accountRecords[i].ShippingPostalCode : emptyString );
                    Country     =   ( accountRecords[i].ShippingCountry != null ? accountRecords[i].ShippingCountry : emptyString );
                    Id          =   ( accountRecords[i].Id != null ? accountRecords[i].Id : emptyString );
                    Name        =   ( accountRecords[i].Name != null ? accountRecords[i].Name : emptyString );
                    latitude    =   ( accountRecords[i].Latitude__c != null ? accountRecords[i].Latitude__c : emptyString );
                    longitude   =   ( accountRecords[i].Longitude__c != null ? accountRecords[i].Longitude__c : emptyString );                   
                    accountAddressFormation = Street + ', ' + City + ', ' + State + ', ' + PostalCode + ', ' + Country;
                }
                isMapChangedByConcessionaire = true;
                document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:clientInterestSection:clientInterestSectionDealerInterest:DealerInterest}_lkid').value = Id;
                dealerIdInLeadRecord = Id;
                document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:clientInterestSection:clientInterestSectionDealerInterest:DealerInterest}').value = Name;
                codeAddresses( accountAddressFormation, Street, City, State, PostalCode, Country, Name, ShortName, Id , latitude, longitude );
            }
            else{
                document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:clientInterestSection:clientInterestSectionDealerInterest:DealerInterest}_lkid').value = '';
                document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:clientInterestSection:clientInterestSectionDealerInterest:DealerInterest}').value = '';
            }
        }
        
        /*
        function getAccountRecordsUsingRecordId( accountId1 ){
            var accountQuery = "SELECT Id, Name, ShippingCity, ShippingCountry, ShippingState, ShippingStreet, ShippingPostalCode, RecordTypeId, latitude__c, longitude__c FROM Account WHERE Id IN ('" + accountId1 + "')";
            var accountResult = sforce.connection.query(accountQuery);
            var accountRecords = accountResult.getArray("records");
            var Street, City, State, PostalCode, Country, latitude, longitude;
            
            for (var i = 0; i < accountRecords.length; i++) {
                Street      =   ( accountRecords[i].ShippingStreet != null ? accountRecords[i].vStreet : emptyString );
                City        =   ( accountRecords[i].ShippingCity != null ? accountRecords[i].ShippingCity : emptyString );
                State       =   ( accountRecords[i].ShippingState != null ? accountRecords[i].ShippingState : emptyString );
                PostalCode  =   ( accountRecords[i].ShippingPostalCode != null ? accountRecords[i].ShippingPostalCode : emptyString );
                Country     =   ( accountRecords[i].ShippingCountry != null ? accountRecords[i].ShippingCountry : emptyString );
                latitude    =   ( accountRecords[i].Latitude__c != null ? accountRecords[i].Latitude__c : emptyString );
                longitude   =   ( accountRecords[i].Longitude__c != null ? accountRecords[i].Longitude__c : emptyString );
                var accountAddressFormation = Street + ', ' + City + ', ' + State + ', ' + PostalCode + ', ' + Country;
                
                arrayDisplayAccountStreet.push( Street );
                arrayDisplayAccountCity.push( City );
                arrayDisplayAccountState.push( State );
                arrayDisplayAccountPostalCode.push( PostalCode );
                arrayDisplayAccountCountry.push( Country );
                arrayDisplayAccountAddress.push( accountAddressFormation );
                arrayDisplayAccountIdArray.push( accountRecords[i].Id );
                arrayDisplayAccountNameArray.push( accountRecords[i].Name );
            }
        }
        
        function distance( lat1, lon1, lat2, lon2 ) {
            var R = 6371;
            var dLat = ( lat2 - lat1 )  * Math.PI / 180;
            var dLon = ( lon2 - lon1 ) * Math.PI / 180;
            var a = Math.sin( dLat / 2 ) * Math.sin( dLat / 2 ) +
                Math.cos( lat1 * Math.PI / 180 ) * Math.cos( lat2 * Math.PI / 180 ) *
                Math.sin( dLon / 2 ) * Math.sin( dLon / 2 );
            var c = 2 * Math.atan2(Math.sqrt( a ), Math.sqrt( 1 - a ));
            var d = R * c;
            if ( d > 1 ) return Math.round( d ) + "km";
            else if ( d <= 1 ) return Math.round( d * 1000 ) + "m";
            return d;
        }
        
        function sortNumber( a, b ) {
            return a - b;
        }
        
        function findNearestAccounts( accountString ){
            var AccountIdsToPrint = '';
            
            var lstAccountIdWithDistance = new Array();
            var lstInteger = new Array();
            lstAccountIdWithDistance = accountString.split(",");
            for( var s = 0; s < lstAccountIdWithDistance.length; s++){
                var str = new Array();
                str = lstAccountIdWithDistance[s].split(":");
                var existFlag = false;
                for(var m = 0; m < lstInteger.length; m++) {
                    if (str[1] == lstInteger[m]) {
                        existFlag = true;
                        break;
                    } else {
                        existFlag = false;
                    }
                }
        
                if (!existFlag) {
                    lstInteger.push( str[1] );
                }
            }
            lstInteger = lstInteger.sort( sortNumber );
            var tempList = new Array();
            
            for (var j = 0; j < lstInteger.length && tempList.length < 3; j++) {
                for( var s = 0; s < lstAccountIdWithDistance.length; s++){
                    var str = new Array();
                    str = lstAccountIdWithDistance[s].split(":");
                    if ( str[1] == lstInteger[j] ) {
                        var existFlag = false;
                        for(var m = 0; m < tempList.length; m++) {
                            if ( tempList[m] == lstAccountIdWithDistance[s] ) {
                                existFlag = true;
                            } else {
                                existFlag = false;
                            }
                        }
            
                        if (!existFlag) {
                            if( tempList.length < 3 ){
                                tempList.push(lstAccountIdWithDistance[s]);
                            }
                        }
                    }
                }
            }
            for(var k = 0; k < tempList.length; k++ ){
                var myFinalString = tempList[k];
                
                var myFinalArray = new Array();
                myFinalArray = myFinalString.split(":");
                
                if( k == 0 ){
                    AccountIdsToPrint = myFinalArray[0] + ',';
                }
                else if ( k == 1 ){
                    AccountIdsToPrint = AccountIdsToPrint + myFinalArray[0] + ',';
                }
                else{
                    AccountIdsToPrint = AccountIdsToPrint + myFinalArray[0];
                }
            }
            
            var convertToString = AccountIdsToPrint.toString();
            splitedId = convertToString.split(",");
            setTimeout('fetchAccountById()', 2000);
        }
        
        function fetchAccountById(){
            if(compareLowestThreeRecords < 3){
                window.setTimeout("fetchAccountById()",100);
                getAccountRecordsUsingRecordId( splitedId[compareLowestThreeRecords] );
                compareLowestThreeRecords++;
            }
            if( compareLowestThreeRecords == 3 ){
                displayClosestAccounts();
            }
        }
        */
        function displayClosestAccounts(){
            if(closestThreeAccounts < arrayDisplayAccountIdArray.length){
                window.setTimeout("displayClosestAccounts()",800);
                codeAddresses( arrayDisplayAccountAddress[closestThreeAccounts], arrayDisplayAccountStreet[closestThreeAccounts], arrayDisplayAccountCity[closestThreeAccounts], arrayDisplayAccountState[closestThreeAccounts], arrayDisplayAccountPostalCode[closestThreeAccounts], arrayDisplayAccountCountry[closestThreeAccounts], arrayDisplayAccountNameArray[closestThreeAccounts], arrayDisplayAccountShortNameArray[closestThreeAccounts], arrayDisplayAccountIdArray[closestThreeAccounts] , accountLatitude[closestThreeAccounts], accountLongitude[closestThreeAccounts]);
                closestThreeAccounts++;
                if( arrayDisplayAccountIdArray.length == closestThreeAccounts ){
                    updateMapViaConcessionaireUsingPopUp();
                    myOptions.draggable = true;
                    myOptions.scrollwheel = true;
                    map.setOptions( myOptions );
                }
            }
        }
        
        function codeAddresses( currentAccountAddress, Street, City, State, PostalCode, Country, currentAccountName, currentShortAccountName, accountId, latitude, longitude){

                    if( isMapChangedByConcessionaire == true ){
                        isMapChangedByConcessionaire = false;
                    }
                    var accountMarker = new google.maps.Marker({
                        map         :   map,
                        position    :   new google.maps.LatLng(latitude,longitude),
                        title       :   currentAccountName,
                        icon        :   imageRenault
                    });
                    if( dealerIdInLeadRecord == accountId ){
                        accountMarker.setIcon( imageMarkerAsPreferred );
                    }
                    else{
                        accountMarker.setIcon( imageRenault );
                    }
                    accountMarkersArray.push( accountMarker );
                    
                    google.maps.event.addListener( accountMarker, 'click', function() {
                        var infoWindowHtml = '<div style="width:100%; height:20%"><table align="left" valign="center"><tr><td><b>' + currentShortAccountName + '</b></td></tr><tr><td>' + Street + '</td></tr><tr><td>' + City + ', ' + State + ', ' + PostalCode + '</td></tr><tr><td></td><td align="right"><input type="button" value="Marcar como preferida" onClick="saveAccountIdtoLead();"/></td></tr></table></div>';
                        
                        infowindowForAccountAndLead.setContent( infoWindowHtml );
                        accountIdToSave = accountId;
                        accountNameToSave = currentAccountName;
                        infowindowForAccountAndLead.open( map, accountMarker);
                    });
                    
                    google.maps.event.addListener( infowindowChangeTheMarker, 'content_changed', function() {                       
                        if( accountNameToSave == accountMarker.getTitle() ){
                            accountMarker.setIcon( imageMarkerAsPreferred );
                        }
                        else{
                            accountMarker.setIcon( imageRenault );
                        }
                    });
                    
                    google.maps.event.addListener( infowindowForAccountAndLead, 'closeclick', function() {
                        accountIdToSave = '';
                        accountNameToSave = '';
                    });

        }
        
        function limitField() {
            var maxlimit = 2;
            var field = document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:addressInformationSection:stateSectionItem:State}');
            if (field.value.length > 2) {
             field.value = field.value.substring(0, maxlimit);
            }
        }
        
         function changeAccessPermission(){
            var isChecked = document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:residentialAddressSection:useResidentialItem:useResidential}').checked;
            if( isChecked == true ){
                
                document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:residentialAddressSection:streetResidentialItem:residentialStreet}').value = document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:addressInformationSection:streetSectionItem:Street}').value;
                document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:residentialAddressSection:numberResidentialItem:residentialNumber}').value = document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:addressInformationSection:numberSectionItem:Number}').value;
                document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:residentialAddressSection:complementResidentialItem:residentialComplement}').value = document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:addressInformationSection:complementSectionItem:Complement}').value;
                document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:residentialAddressSection:neighborhoodResidentialItem:residentialNeighborhood}').value = document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:addressInformationSection:neighborhoodSectionItem:Neighborhood}').value;
                document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:residentialAddressSection:countryResidentialItem:residentialCountry}').value = document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:addressInformationSection:countrySectionItem:Country}').value;
                document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:residentialAddressSection:cityResidentialItem:residentialCity}').value = document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:addressInformationSection:citySectionItem:City}').value;
                document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:residentialAddressSection:stateResidentialItem:residentialState}').value = document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:addressInformationSection:stateSectionItem:State}').value;
                document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:residentialAddressSection:postalCodeResidentialItem:residentialPostalCode}').value = document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:addressInformationSection:postalCodeSectionItem:PostalCode}').value;
                
                document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:residentialAddressSection:streetResidentialItem:residentialStreet}').disabled = true;
                document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:residentialAddressSection:cityResidentialItem:residentialCity}').disabled = true;
                document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:residentialAddressSection:stateResidentialItem:residentialState}').disabled = true;
                document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:residentialAddressSection:postalCodeResidentialItem:residentialPostalCode}').disabled = true;
                document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:residentialAddressSection:numberResidentialItem:residentialNumber}').disabled = true;
                document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:residentialAddressSection:complementResidentialItem:residentialComplement}').disabled = true;
                document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:residentialAddressSection:countryResidentialItem:residentialCountry}').disabled = true;
                document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:residentialAddressSection:neighborhoodResidentialItem:residentialNeighborhood}').disabled = true;
            }
            else{
                document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:residentialAddressSection:streetResidentialItem:residentialStreet}').disabled = false;
                document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:residentialAddressSection:cityResidentialItem:residentialCity}').disabled = false;
                document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:residentialAddressSection:stateResidentialItem:residentialState}').disabled = false;
                document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:residentialAddressSection:postalCodeResidentialItem:residentialPostalCode}').disabled = false;
                 document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:residentialAddressSection:numberResidentialItem:residentialNumber}').disabled = false;
                document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:residentialAddressSection:complementResidentialItem:residentialComplement}').disabled = false;
                document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:residentialAddressSection:countryResidentialItem:residentialCountry}').disabled = false;
                document.getElementById('{!$Component.customerActivityPage:customerActivityForm:customerActivityPageBlock:residentialAddressSection:neighborhoodResidentialItem:residentialNeighborhood}').disabled = false;
            }
        }
    </script>

    <style>
        #map {
          font-family: Arial;
          font-size:12px;
          line-height:normal !important;
          height:250px;
          background:transparent;
        }
        #inner
        {
            font-family: Arial;
            font-size:24px;
            top: 40px;
            left: 500px;
            margin-top:-50px;
        }
        .bPageBlock .requiredInput .requiredBlock {
            background-color:red;
        }
    </style>
    
    <apex:form id="customerActivityForm">
        <apex:pageBlock id="customerActivityPageBlock" mode="edit">
            <apex:inputHidden value="{!objCustomerActivityEntityForm.leadInfo.Country}" id="Country"/>
            <script>document.getElementById('{!$Component.Country}').value = 'Brasil';</script>
            <apex:inputHidden value="{!objCustomerActivityEntityForm.leadInfo.RefAddressCountry__c}" id="ResCountry"/>
            <script>document.getElementById('{!$Component.ResCountry}').value = 'Brasil';</script>
            <center>
                <div>
                    <apex:image url="{!URLFOR($Resource.customerActivityPageHeader)}" width="100%" />
                    <div id="inner"> <b> <apex:outputText value="{!$Label.VFPHeaderName}" /> </b></div>
                </div>
                <br/><br/>
            </center>
            <apex:pageMessages id="errors" />
            
            <!-- <apex:pageBlockSection title="{!$Label.TSTServiceStatus}" columns="1" id="SeviceStausId">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$Label.TSTContactType}" for="ContactType" />
                    <apex:outputPanel id="ContactTypeId">
                        <div class="requiredInput"><div class="requiredBlock"></div>
                            <apex:inputField value="{!objCustomerActivityEntityForm.transactionRecord.TypeOfContact__c}" id="ContactType" style="width:160px;"/>
                        </div>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$Label.TSTContactStatus}" for="ContactStatus"/>
                    <apex:outputPanel id="ContactStatuspanelId">
                        <div class="requiredInput"><div class="requiredBlock"></div>
                            <apex:inputField value="{!objCustomerActivityEntityForm.transactionRecord.ContactStatus__c}" id="ContactStatus" style="width:160px;">
                                <apex:actionSupport event="onchange" action="{!enableNotContactReason}" rerender="ReasonPanelId,ConclusionSecId" />
                            </apex:inputField>
                        </div>
                    </apex:outputPanel>
                    
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem id="ReasonId">
                    <apex:outputLabel value="{!$Label.TSTReason}" for="Whynotcontact"/>
                    <apex:outputPanel id="ReasonPanelId">
                        <apex:outputPanel styleClass="requiredInput" layout="block">
                            <apex:outputPanel styleClass="requiredBlock" layout="block" rendered="{!!objCustomerActivityEntityForm.enableWhyNotContact}"></apex:outputPanel>
                        </apex:outputPanel>
                        <apex:inputField value="{!objCustomerActivityEntityForm.transactionRecord.WhyNotContact__c}" id="Whynotcontact" style="width:160px;"/>
                        <script>document.getElementById('{!$Component.Whynotcontact}').disabled = {!objCustomerActivityEntityForm.enableWhyNotContact}; </script>
                    </apex:outputPanel>
                    
                </apex:pageBlockSectionItem>
                
            </apex:pageBlockSection> -->
            
            <!-- Informações do Lead -->
            <apex:pageBlockSection title="{!$Label.LDDLeadInfo}" columns="2">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$Label.LDDFirstName}" for="LeadName"/>
                    <apex:inputField value="{!objCustomerActivityEntityForm.leadInfo.FirstName}" id="LeadName" style="width:160px;"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$Label.LDDCpfCnpj}" for="CPF_CNPJ"/>
                    <apex:inputField value="{!objCustomerActivityEntityForm.leadInfo.CPF_CNPJ__c}" id="CPF_CNPJ" style="width:160px;"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$Label.LDDLastName}" for="LastName"/>
                    <apex:inputField value="{!objCustomerActivityEntityForm.leadInfo.LastName}" id="LastName" style="width:160px;"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$Label.LDDBirthDate}" for="DOB"/>
                    <apex:inputField value="{!objCustomerActivityEntityForm.leadInfo.Birthdate__c}" id="DOB" style="width:160px;"/>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            
            <!--  Removed
            <apex:pageBlockSection title="{!$Label.LDDEventSection}" columns="2">
                <apex:pageBlockSectionItem id="EventId">
                    <apex:outputLabel value="{!$Label.LDDEvent}" for="Event"/>
                    <apex:inputField value="{!objCustomerActivityEntityForm.leadInfo.Event__c}" id="Event" style="width:160px;"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem id="TestDriveModelId">
                    <apex:outputLabel value="{!$Label.LDDTestModel}" for="TestDriveModel"/>
                    <apex:inputField value="{!objCustomerActivityEntityForm.leadInfo.TestDriveModel__c}" id="TestDriveModel" style="width:160px;"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem id="TestDriveHeldId">
                    <apex:inputCheckbox value="{!objCustomerActivityEntityForm.testDriveHeld}" id="TestDriveHeld" disabled="true"/>
                    <apex:outputLabel value="{!$Label.LDDTestHeld}" for="TestDriveHeld"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem id="TestDriveDateId">
                    <apex:outputLabel value="{!$Label.LDDTestDate}" for="TestDriveDate"/>
                    <apex:inputField value="{!objCustomerActivityEntityForm.leadInfo.TestDriveDate__c}" id="TestDriveDate" style="width:160px;"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem id="OptInDealerId">
                    <apex:inputCheckbox value="{!objCustomerActivityEntityForm.optInDealership}" id="OptInDealer" disabled="true"/>
                    <apex:outputLabel value="{!$Label.LDDOptDealer}" for="OptInDealer"/>
                </apex:pageBlockSectionItem>
                <script>document.getElementById('{!$Component.EventId.Event}').disabled = {!objCustomerActivityEntityForm.enableEvent}; </script>
                <script>document.getElementById('{!$Component.TestDriveModelId.TestDriveModel}').disabled = {!objCustomerActivityEntityForm.enableTestDriveModel}; </script>
                <script>document.getElementById('{!$Component.TestDriveDateId.TestDriveDate}').disabled = {!objCustomerActivityEntityForm.enableTestDriveDate}; </script>
            </apex:pageBlockSection>
            -->

			<!-- Informações de Interesse do Cliente -->
            <apex:pageBlockSection title="{!$Label.LDDCusInterestSection}" columns="2" id="clientInterestSection">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$Label.LDDInterestType}" for="TypeofInterest"/>
                    <apex:inputField value="{!objCustomerActivityEntityForm.leadRecord.TypeOfInterest__c}" id="TypeofInterest"/>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$Label.LDDVehicleInterest}" for="VehicleInterest"/>
                    
                    <!-- Old -->
                    <!-- apex:inputField value="{!objCustomerActivityEntityForm.leadInfo.VehicleOfInterest__c}" id="VehicleInterest" style="width:160px;" -->
                        <!-- apex:actionSupport event="onchange" action="{!getRecommendationByVehicleofInterest}" rerender="RecommendationId" / -->
                    <!-- /apex:inputField -->
                    
                    <!-- New -->
                    <apex:selectList id="VehicleInterest" value="{!objCustomerActivityEntityForm.leadInfo.VehicleOfInterestLookup__c}" multiselect="false" size="1">
                        <apex:selectOptions value="{!objCustomerActivityEntityForm.lstSelectOptionVehicles}"/>
                        <apex:actionSupport event="onchange" action="{!getRecommendationByVehicleofInterest}" rerender="RecommendationId" />
                    </apex:selectList>

                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem id="clientInterestSectionDealerInterest">
                    <apex:outputLabel value="{!$Label.LDDConcessionaireInterest}" for="DealerInterest"/>
                    <apex:inputField value="{!objCustomerActivityEntityForm.leadRecord.DealerOfInterest__c}" id="DealerInterest" 
                    	onchange="updateMapViaConcessionaireUsingPopUp();" />
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$Label.LDDSecondVehicle}" for="SeccondVehicle"/>
                    
                    <!-- Old -->
                    <!-- apex:inputField value="{!objCustomerActivityEntityForm.leadRecord.SecondVehicleOfInterest__c}" id="SeccondVehicle" style="width:160px;"/ -->
                    
                    <!-- New -->
                    <apex:selectList id="SeccondVehicle" value="{!objCustomerActivityEntityForm.leadInfo.SecondVehicleOfInterestLookup__c}" multiselect="false" size="1">
                        <apex:selectOptions value="{!objCustomerActivityEntityForm.lstSelectOptionVehicles}"/>
                    </apex:selectList>
                    
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$Label.LDDCampaign}" for="lblcampaignId"/>
                    <apex:outputPanel id="lblcampaignId">
                        <apex:selectList id="campaignList" value="{!objCustomerActivityEntityForm.campaignId}" disabled="{!ISNULL(objCustomerActivityEntityForm.leadRecord.DealerOfInterest__c)}" multiselect="false" size="1">
                            <apex:selectOptions value="{!objCustomerActivityEntityForm.lstSelectOptionCampaigns}"/>
                        </apex:selectList>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>

            </apex:pageBlockSection>

			<!-- Perguntas Estratégicas -->
            <apex:pageBlockSection title="{!$Label.LDDStrategicSection}" columns="1" id="StrategicId">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$Label.LDDHaveaReanult}" for="HaveaRenault"/>
                    <apex:inputField value="{!objCustomerActivityEntityForm.leadInfo.IsRenaultVehicleOwner__c}" id="HaveaRenault" style="width:160px;">
                        <apex:actionSupport event="onchange" action="{!enableStrategicQuestions}" rerender="WhatKMPanelId,HasvehiclePanelId,WhatBrandPanelId,RecommendationId" />
                    </apex:inputField>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem id="WhatKMId">
                    <apex:outputLabel value="{!$Label.LDDWhatKM}" for="WhatKM"/>
                    <apex:outputPanel id="WhatKMPanelId">
                        <apex:inputField value="{!objCustomerActivityEntityForm.leadInfo.CurrentMilage__c}" id="WhatKM" style="width:160px;">
                            <apex:actionSupport event="onchange" action="{!getRecommendationByCurrentMilage}" rerender="RecommendationId" />
                        </apex:inputField>
                        <script>document.getElementById('{!$Component.WhatKM}').disabled = {!objCustomerActivityEntityForm.enableWhatKM}; </script>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem id="HasvehicleId">
                    <apex:outputLabel value="{!$Label.LDDHasVehicle}?" for="HasVehicle"/>
                    <apex:outputPanel id="HasvehiclePanelId">
                        <apex:inputField value="{!objCustomerActivityEntityForm.leadInfo.IsVehicleOwner__c}" id="HasVehicle" style="width:160px;">
                            <apex:actionSupport event="onchange" action="{!enableBrandModel}" rerender="WhatBrandPanelId,RecommendationId"/>
                        </apex:inputField>
                        <script>document.getElementById('{!$Component.HasVehicle}').disabled = {!objCustomerActivityEntityForm.enableHasVehicle}; </script>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem id="WhatBrandId">
                    <apex:outputLabel value="{!$Label.LDDWhatBrand}" for="Brand"/>
                    <apex:outputPanel id="WhatBrandPanelId">
                        <apex:selectList id="Brand" value="{!objCustomerActivityEntityForm.thisBrand}" size="1" style="width:160px;">
                            <apex:selectOptions value="{!Brands}"/>
                                <apex:actionSupport event="onchange" action="{!getModelDetails}" rerender="Model"/>
                        </apex:selectList>
                        <apex:selectList id="Model" value="{!objCustomerActivityEntityForm.thisModel}" size="1" style="width:160px;">
                            <apex:selectOptions value="{!Models}"/>
                            <apex:actionSupport event="onchange" action="{!getRecommendationByCurrentVehicle}" rerender="RecommendationId" />
                        </apex:selectList>
                        <script>document.getElementById('{!$Component.Brand}').disabled = {!objCustomerActivityEntityForm.enableBrand}; </script>
                        <script>document.getElementById('{!$Component.Model}').disabled = {!objCustomerActivityEntityForm.enableModel}; </script>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$Label.LDDBuyTradeVehicle}" for="BuyTradeCar"/>
                    <apex:inputField value="{!objCustomerActivityEntityForm.leadInfo.IntentToPurchaseNewVehicle__c}" id="BuyTradeCar" style="width:160px;"/>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            

            <apex:pageBlockSection title="{!$Label.LDDRecommendation}" columns="1" id="RecommendationId">
                <apex:pageBlockSectionItem id="noRecommendations" >
                    <apex:outputText value="{!objCustomerActivityEntityForm.infoMessageforNonRecommendations}" />
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem id="RecomSec1" rendered="{!objCustomerActivityEntityForm.noRecommendationFoundCondition}" >
                    <apex:inputCheckbox value="{!objCustomerActivityEntityForm.recommendation1}" id="Recommendation1" rendered="{!objCustomerActivityEntityForm.chkRecommendation1}" />
                    <apex:outputPanel >
                        <apex:outputText value="{!objCustomerActivityEntityForm.recommendationValue1}" id="Recommendation11"/>
                        <apex:inputHidden value="{!objCustomerActivityEntityForm.recommendationValueId1}" id="RecommendationValueId1"/>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem id="RecomSec2" rendered="{!objCustomerActivityEntityForm.noRecommendationFoundCondition}">
                    <apex:inputCheckbox value="{!objCustomerActivityEntityForm.recommendation2}" id="Recommendation2" rendered="{!objCustomerActivityEntityForm.chkRecommendation2}" />
                    <apex:outputPanel >
                        <apex:outputText value="{!objCustomerActivityEntityForm.recommendationValue2}" id="Recommendation22"/>
                        <apex:inputHidden value="{!objCustomerActivityEntityForm.recommendationValueId2}" id="RecommendationValueId2"/>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem id="RecomSec3" rendered="{!objCustomerActivityEntityForm.noRecommendationFoundCondition}">
                    <apex:inputCheckbox value="{!objCustomerActivityEntityForm.recommendation3}" id="Recommendation3" rendered="{!objCustomerActivityEntityForm.chkRecommendation3}" />
                    <apex:outputPanel >
                        <apex:outputText value="{!objCustomerActivityEntityForm.recommendationValue3}" id="Recommendation33"/>
                        <apex:inputHidden value="{!objCustomerActivityEntityForm.recommendationValueId3}" id="RecommendationValueId3"/>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>


            <apex:pageBlockSection title="{!$Label.LDDAddressSection}" columns="2" id="addressInformationSection">
                
                
                <apex:pageBlockSectionItem id="postalCodeSectionItem">
                    <apex:outputLabel value="{!$Label.LDDPostal}" for="PostalCode"/>
                    <apex:outputPanel id="PostalCodePanel">
	                    <apex:inputText value="{!objCustomerActivityEntityForm.leadInfo.PostalCode__c}" id="PostalCode" maxlength="8" style="width:160px;"/>
	                    <apex:actionSupport event="onchange" 
		                                        action="{!getAddressGivenZipCode}" 
		                                        reRender="StreetPanel, CityPanel, StatePanel, NeighborhoodPanel, CountryPanel"
		                                        status="postalCodeStatus"/>
		                    <apex:actionStatus id="postalCodeStatus" 
					                           startText=" carregando..." 
					                           stopText=" "/>
					</apex:outputPanel>
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem id="streetSectionItem">
                    <apex:outputLabel value="{!$Label.LDDStreet}" for="Street"/>
                    <apex:outputPanel id="StreetPanel">
                        <apex:inputField value="{!objCustomerActivityEntityForm.leadInfo.Street__c}" id="Street" style="width:160px;"/>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem id="numberSectionItem">
                    <apex:outputLabel value="Número" for="Number"/>
                    <apex:outputPanel id="NumberPanel">
                        <apex:inputField value="{!objCustomerActivityEntityForm.leadInfo.Number__c}" id="Number" style="width:160px;"/>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem id="complementSectionItem">
                    <apex:outputLabel value="Complemento" for="Complement"/>
                    <apex:outputPanel id="ComplementPanel">
                        <apex:inputField value="{!objCustomerActivityEntityForm.leadInfo.Complement__c}" id="Complement" style="width:160px;"/>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem id="neighborhoodSectionItem">
                    <apex:outputLabel value="Bairro" for="Neighborhood"/>
                    <apex:outputPanel id="NeighborhoodPanel">
                        <apex:inputField value="{!objCustomerActivityEntityForm.leadInfo.Neighborhood__c}" id="Neighborhood" style="width:160px;"/>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem id="citySectionItem">
                    <apex:outputLabel value="{!$Label.LDDCity}" for="City"/>
                    <apex:outputPanel id="CityPanel">
                    	<apex:inputField value="{!objCustomerActivityEntityForm.leadInfo.City__c}" id="City" style="width:160px;"/>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem id="stateSectionItem">
                    <apex:outputLabel value="{!$Label.LDDState}" for="State"/>
                    <apex:outputPanel id="StatePanel">
	                    <apex:selectList id="State" value="{!objCustomerActivityEntityForm.leadInfo.State__c}" size="1" >
	                        <apex:selectOptions value="{!AccountState}"/>
	                    </apex:selectList>
	                </apex:outputPanel>
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem id="countrySectionItem">
                    <apex:outputLabel value="País" for="Country"/>
                    <apex:outputPanel id="CountryPanel">
                        <apex:inputField value="{!objCustomerActivityEntityForm.leadInfo.Country__c}" id="Country" style="width:160px;"/>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>

            </apex:pageBlockSection>
            
            <!-- Endereço de Referência -->
            <apex:pageBlockSection title="{!$Label.LDDAddressReference}" columns="2" id="residentialAddressSection">
                <apex:pageBlockSectionItem id="useResidentialItem">
                    <apex:outputLabel value="{!$Label.LDDUseResidentialAddress}" for="useResidential"/>
                    <apex:inputField value="{!objCustomerActivityEntityForm.leadInfo.isResAddressRef__c}" id="useResidential" onchange="changeAccessPermission();" onclick="changeAccessPermission();"/>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem />
                
               
                <apex:pageBlockSectionItem id="postalCodeResidentialItem">
                    <apex:outputLabel value="{!$Label.LDDPostal}" for="residentialPostalCode"/>
                    <apex:actionRegion >
                    <apex:outputPanel >
                    <apex:inputField value="{!objCustomerActivityEntityForm.leadInfo.RefAddressPostalCode__c}" id="residentialPostalCode" style="width:160px;" />
                    <apex:actionSupport event="onchange" 
                                                action="{!getAddressGivenZipCodeRef}" 
                                                reRender="residentialStreet, residentialNeighborhood, residentialCity, residentialState, residentialCountry"
                                                status="postalCodeStatus"/>
                            <apex:actionStatus id="postalCodeStatus" 
                                               startText=" carregando..." 
                                               stopText=" "/>
                    </apex:outputPanel>
                    </apex:actionRegion>
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem id="streetResidentialItem">
                    <apex:outputLabel value="{!$Label.LDDStreet}" for="residentialStreet"/>
                    <apex:inputField value="{!objCustomerActivityEntityForm.leadInfo.RefAddressStreet__c}" id="residentialStreet" style="width:160px;" />
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem id="numberResidentialItem">
                    <apex:outputLabel value="Número" for="residentialNumber"/>
                    <apex:inputField value="{!objCustomerActivityEntityForm.leadInfo.RefAddressNumber__c}" id="residentialNumber" style="width:160px;" />
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem id="complementResidentialItem">
                    <apex:outputLabel value="Complemento" for="residentialComplement"/>
                    <apex:inputField value="{!objCustomerActivityEntityForm.leadInfo.RefAddressComplement__c}" id="residentialComplement" style="width:160px;" />
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem id="neighborhoodResidentialItem">
                    <apex:outputLabel value="Bairro" for="residentialNeighborhood"/>
                    <apex:inputField value="{!objCustomerActivityEntityForm.leadInfo.RefAddressNeighborhood__c}" id="residentialNeighborhood" style="width:160px;" />
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem id="cityResidentialItem">
                    <apex:outputLabel value="{!$Label.LDDCity}" for="residentialCity"/>
                    <apex:inputField value="{!objCustomerActivityEntityForm.leadInfo.RefAddressCity__c}" id="residentialCity" style="width:160px;" >
                        <script>document.getElementById('{!$Component.residentialCity}').disabled = {!objCustomerActivityEntityForm.enabledReferenceAddress};</script>
                    </apex:inputField>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem id="stateResidentialItem">
                    
                    <apex:outputLabel value="{!$Label.LDDState}" for="residentialState"/>
                    <apex:selectList id="residentialState" value="{!objCustomerActivityEntityForm.leadInfo.RefAddressState__c}" size="1" >
                        <apex:selectOptions value="{!AccountState}"/>
                    </apex:selectList>
                    
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem id="countryResidentialItem">
                    <apex:outputLabel value="País" for="residentialCountry"/>
                    <apex:inputField value="{!objCustomerActivityEntityForm.leadInfo.RefAddressCountry__c}" id="residentialCountry" style="width:160px;" />
                </apex:pageBlockSectionItem>


                <apex:pageBlockSectionItem >
                    <apex:outputText value="" />
                    <apex:commandButton value="{!$Label.BTNUpdateMap}" id="updateMap" onClick="updateMapWithAddressInformation();" reRender="customerActivityPage" style="width:120px; font-size:13px;"/>
                </apex:pageBlockSectionItem>
                 <script>document.getElementById('{!$Component.stateResidentialItem.residentialState}').disabled = {!objCustomerActivityEntityForm.enabledReferenceAddress};</script>
                 <script>document.getElementById('{!$Component.streetResidentialItem.residentialStreet}').disabled = {!objCustomerActivityEntityForm.enabledReferenceAddress};</script>
                 <script>document.getElementById('{!$Component.postalCodeResidentialItem.residentialPostalCode}').disabled = {!objCustomerActivityEntityForm.enabledReferenceAddress};</script>
            </apex:pageBlockSection>
            
            <!-- Atribuição Concessionária -->
            <apex:pageBlockSection title="{!$Label.LDDAssignmentMapSection}" columns="1" id="googleMapSection">
                <apex:pageBlockSectionItem id="googleMapSectionItem" >
                    <div id="map"></div>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>

			<!-- Informações de Contato -->
            <apex:pageBlockSection title="{!$Label.LDDContactSection}" columns="2">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$Label.LDDEmail}" for="Email"/>
                    <apex:inputField value="{!objCustomerActivityEntityForm.leadInfo.Email}" id="Email" style="width:250px;"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$Label.LDDHomePhone}" for="HomePhone"/>
                    <apex:inputText value="{!objCustomerActivityEntityForm.leadInfo.HomePhone__c}" id="HomePhone" maxlength="11" style="width:160px;"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:inputCheckbox value="{!objCustomerActivityEntityForm.receiveNewsbyPhone}" id="ReceiveNewsbyPhone"/>
                    <apex:outputLabel value="{!$Label.LDDReceivePhone}?" for="ReceiveNewsbyPhone"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$Label.LDDWorkPhone}" for="WorkPhone"/>
                    <apex:inputText value="{!objCustomerActivityEntityForm.leadInfo.BusinessPhone__c}" id="WorkPhone" maxlength="11" style="width:160px;"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:inputCheckbox value="{!objCustomerActivityEntityForm.receiveNewsviaEmail}" id="ReceiveNewsviaEmail"/>
                    <apex:outputLabel value="{!$Label.LDDReceiveEmail}?" for="ReceiveNewsviaEmail"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$Label.LDDMobileWorking}" for="MobileWorking"/>
                    <apex:inputText value="{!objCustomerActivityEntityForm.leadInfo.BusinessMobilePhone__c}" maxlength="11" id="MobileWorking" style="width:160px;"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:inputCheckbox value="{!objCustomerActivityEntityForm.receiveUpdateviaSMS}" id="ReceiveUpdateviaSMS"/>
                    <apex:outputLabel value="{!$Label.LDDReceiveSMS}?" for="ReceiveUpdateviaSMS"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$Label.LDDCellular}" for="Cellular"/>
                    <apex:inputText value="{!objCustomerActivityEntityForm.leadInfo.MobilePhone}" maxlength="11" id="Cellular" style="width:160px;"/>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            
			<!-- Conclusão -->
            <apex:pageBlockSection title="{!$Label.LDDConclusion}" columns="2" Id="ConclusionSecId">
                <apex:pageBlockSectionItem Id="LeadStatusId">
                    <apex:outputLabel value="{!$Label.LDDLeadStatus}" for="LeadStatus"/>
                    <apex:outputPanel >
                        <apex:outputPanel styleClass="requiredInput" layout="block">
                            <apex:outputPanel styleClass="requiredBlock" layout="block" rendered="{!!objCustomerActivityEntityForm.enableLeadStatus}"></apex:outputPanel>
                        </apex:outputPanel>
                        <apex:selectList value="{!objCustomerActivityEntityForm.leadStatus}" size="1" id="LeadStatus" style="width:160px;" >
                            <apex:selectOptions value="{!Status}"/>
                            <apex:actionSupport event="onchange" action="{!enableWhyNotOppoutunity}"  rerender="WhynotOppPanelId"/>
                        </apex:selectList>
                        <script>document.getElementById('{!$Component.LeadStatus}').disabled = {!objCustomerActivityEntityForm.enableLeadStatus}; </script>
                    </apex:outputPanel>
                    
                    <!-- <apex:inputField value="{!Transactions.TransactionStatus__c}" id="LeadStatus" style="width:160px;">
                        <apex:actionSupport event="onchange" action="{!EnableWhyNotOppoutunity}"  rerender="ConclusionSecId"/>
                    </apex:inputField> -->
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem id="BrandCompetitiveId">
                    <apex:outputLabel value="{!$Label.LDDMakeandModel}" for="BrandCompetitive"/>
                    <apex:outputPanel id="BrandCompetitivepanelId">
                        <apex:inputField value="{!objCustomerActivityEntityForm.transactionRecord.BrandAndModelCompetitive__c}" id="BrandCompetitive" style="width:160px;"/>
                        <script>document.getElementById('{!$Component.BrandCompetitive}').disabled = {!objCustomerActivityEntityForm.enableBrandCompetitive}; </script>
                    </apex:outputPanel>
                    
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem id="WhynotOppId">
                    <apex:outputLabel value="{!$Label.LDDWhyNotOpp}" for="WhynotOpp"/>
                    <apex:outputPanel id="WhynotOppPanelId">
                        <apex:inputField value="{!objCustomerActivityEntityForm.transactionRecord.WhyNotOpportunity__c}" id="WhynotOpp">
                            <apex:actionSupport event="onchange" action="{!enableBrandCompetitive}"  rerender="BrandCompetitivepanelId"/>
                        </apex:inputField>
                        <script>document.getElementById('{!$Component.WhynotOpp}').disabled = {!objCustomerActivityEntityForm.enableWhynotOpp}; </script>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$Label.LDDOtherInfo}" for="OtheInformations"/>
                    <apex:inputField value="{!objCustomerActivityEntityForm.transactionRecord.OtherInformations__c}" id="OtheInformations" style="width:160px;"/>
                </apex:pageBlockSectionItem>
                
            </apex:pageBlockSection>
            <table width="100%">
                <tr>
                    <td align="center">
                        <apex:commandButton value="{!$Label.LDDSave}" action="{!updateLeadAndInsertTransaction}" reRender="customerActivityPageBlock, errors" style="width:90px; font-size:13px;"/>
                        <apex:commandButton value="{!$Label.LDDCancel}" action="{!redirectToLeadRecord}" style="width:90px; font-size:13px;" onclick="return confirm('{!$Label.LDDCancelMessage}')"/>
                    </td>
                </tr>
            </table>
        </apex:pageBlock>

        <apex:actionFunction name="jsFetchListCampaigns" action="{!fetchListCampaigns}" rerender="lblcampaignId" />

    </apex:form>
</apex:page>