<apex:page controller="VFC06_AdminGoodwillGridsRO" sidebar="false">
<style type="text/css">
    hr {
        height:1px;
        border-width:0;
        color:#ECECEC;
        background-color:#ECECEC;
    }
    
    .shadowing {
        display: block;
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: #CCA;
        z-index:100;
        opacity:0.5;
        filter: alpha(opacity=50);
    }
    .shadowingDark {
        display: none;
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: #050504;
        z-index:100;
        opacity:0.5;
        filter: alpha(opacity=50);
    }
    
    }
</style>
<apex:form >
    <apex:pageblock title="{!$Label.GoodwillGridsAdmin}" id="GWA">
    <apex:pageMessages />
    <apex:actionStatus id="status">
        <apex:facet name="start">
            <div class="shadowing"/>
        </apex:facet>
    </apex:actionStatus>
    <div id="shadow" class="shadowingDark"/>

    <table width="100%">
    <tr>
        <td>
            <apex:outputLabel value="{!$ObjectType.Goodwill_Grid_Line__c.fields.Country__c.label}"/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <apex:selectList value="{!selectCountry}" size="1" >
                <apex:selectOptions value="{!selectListCountries}" />
                <apex:actionSupport event="onchange" action="{!paramSelected}" rerender="GWA" status="status"/>
            </apex:selectList>
        </td>
        <td>
            <apex:outputLabel value="{!$ObjectType.Goodwill_Grid_Line__c.fields.VehicleBrand__c.label}"/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <apex:selectList value="{!selectBrand}" size="1" >
                <apex:selectOptions value="{!selectListBrand}" />
                <apex:actionSupport event="onchange" action="{!paramSelected}" rerender="GWA" status="status"/>
            </apex:selectList>
        </td>  
        <td>
            <apex:outputLabel value="{!$ObjectType.Goodwill_Grid_Line__c.fields.Organ__c.label}"/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <apex:selectList value="{!selectOrgan}" size="1" >
                <apex:selectOptions value="{!selectListOrgan}" />
                <apex:actionSupport event="onchange" action="{!paramSelected}" rerender="GWA" status="status"/>
            </apex:selectList>
        </td> 
    </tr>
    </table> 
    <br/>
    <hr/>
    
    <apex:outputPanel id="GWAGrid" rendered="{!gwGridLinesWrapper.size > 0}" layout="none">
    <hr/>
    <apex:pageBlockTable value="{!gwGridLinesWrapper}" var="gridLine">   
        <apex:column headerValue="{!$Label.GoodwillGridUnits}"><apex:outputText value="{!TEXT((gridLine.rowNumber-1)*gwParams.Mileage)+' - '+TEXT(gridLine.rowNumber*gwParams.Mileage)+$Label.GWMileageUnit}" style="font-weight:bold;"></apex:outputText></apex:column>
        <apex:column headerValue="{!'0 - '+Text(gwParams.age)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 1}"><apex:outputfield value="{!gridLine.gwGrid.f1__c}" style="width:95%"/></apex:column>
        <apex:column headerValue="{!Text(gwParams.age)+' - '+Text(gwParams.age*2)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 2}"><apex:param value="15"/><apex:outputfield value="{!gridLine.gwGrid.f2__c}" style="width:95%"/></apex:column>
        <apex:column headerValue="{!Text(gwParams.age*2)+' - '+Text(gwParams.age*3)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 3}"><apex:outputfield value="{!gridLine.gwGrid.f3__c}" style="width:95%"/></apex:column>
        <apex:column headerValue="{!Text(gwParams.age*3)+' - '+Text(gwParams.age*4)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 4}"><apex:outputfield value="{!gridLine.gwGrid.f4__c}" style="width:95%"/></apex:column>
        <apex:column headerValue="{!Text(gwParams.age*4)+' - '+Text(gwParams.age*5)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 5}"><apex:outputfield value="{!gridLine.gwGrid.f5__c}" style="width:95%"/></apex:column>
        <apex:column headerValue="{!Text(gwParams.age*5)+' - '+Text(gwParams.age*6)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 6}"><apex:outputfield value="{!gridLine.gwGrid.f6__c}" style="width:95%"/></apex:column>
        <apex:column headerValue="{!Text(gwParams.age*6)+' - '+Text(gwParams.age*7)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 7}"><apex:outputfield value="{!gridLine.gwGrid.f7__c}" style="width:95%"/></apex:column>
        <apex:column headerValue="{!Text(gwParams.age*7)+' - '+Text(gwParams.age*8)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 8}"><apex:outputfield value="{!gridLine.gwGrid.f8__c}" style="width:95%"/></apex:column>
        <apex:column headerValue="{!Text(gwParams.age*8)+' - '+Text(gwParams.age*9)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 9}"><apex:outputfield value="{!gridLine.gwGrid.f9__c}" style="width:95%"/></apex:column>
        <apex:column headerValue="{!Text(gwParams.age*9)+' - '+Text(gwParams.age*10)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 10}"><apex:outputfield value="{!gridLine.gwGrid.f10__c}" style="width:95%"/></apex:column>
        <apex:column headerValue="{!Text(gwParams.age*10)+' - '+Text(gwParams.age*11)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 11}"><apex:outputfield value="{!gridLine.gwGrid.f11__c}" style="width:95%"/></apex:column>
        <apex:column headerValue="{!Text(gwParams.age*11)+' - '+Text(gwParams.age*12)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 12}"><apex:outputfield value="{!gridLine.gwGrid.f12__c}" style="width:95%"/></apex:column>
        <apex:column headerValue="{!Text(gwParams.age*12)+' - '+Text(gwParams.age*13)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 13}"><apex:outputfield value="{!gridLine.gwGrid.f13__c}" style="width:95%"/></apex:column>
        <apex:column headerValue="{!Text(gwParams.age*13)+' - '+Text(gwParams.age*14)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 14}"><apex:outputfield value="{!gridLine.gwGrid.f14__c}" style="width:95%"/></apex:column>
        <apex:column headerValue="{!Text(gwParams.age*14)+' - '+Text(gwParams.age*15)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 15}"><apex:outputfield value="{!gridLine.gwGrid.f15__c}" style="width:95%"/></apex:column>
        <apex:column headerValue="{!Text(gwParams.age*15)+' - '+Text(gwParams.age*16)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 16}"><apex:outputfield value="{!gridLine.gwGrid.f16__c}" style="width:95%"/></apex:column>
        <apex:column headerValue="{!Text(gwParams.age*16)+' - '+Text(gwParams.age*17)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 17}"><apex:outputfield value="{!gridLine.gwGrid.f17__c}" style="width:95%"/></apex:column>
        <apex:column headerValue="{!Text(gwParams.age*17)+' - '+Text(gwParams.age*18)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 18}"><apex:outputfield value="{!gridLine.gwGrid.f18__c}" style="width:95%"/></apex:column>
        <apex:column headerValue="{!Text(gwParams.age*18)+' - '+Text(gwParams.age*19)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 19}"><apex:outputfield value="{!gridLine.gwGrid.f19__c}" style="width:95%"/></apex:column>
        <apex:column headerValue="{!Text(gwParams.age*19)+' - '+Text(gwParams.age*20)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 20}"><apex:outputfield value="{!gridLine.gwGrid.f20__c}" style="width:95%"/></apex:column>
        <apex:column headerValue="{!Text(gwParams.age*20)+' - '+Text(gwParams.age*21)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 21}"><apex:outputfield value="{!gridLine.gwGrid.f21__c}" style="width:95%"/></apex:column>
        <apex:column headerValue="{!Text(gwParams.age*21)+' - '+Text(gwParams.age*22)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 22}"><apex:outputfield value="{!gridLine.gwGrid.f22__c}" style="width:95%"/></apex:column>
        <apex:column headerValue="{!Text(gwParams.age*22)+' - '+Text(gwParams.age*23)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 23}"><apex:outputfield value="{!gridLine.gwGrid.f23__c}" style="width:95%"/></apex:column>
        <apex:column headerValue="{!Text(gwParams.age*23)+' - '+Text(gwParams.age*24)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 24}"><apex:outputfield value="{!gridLine.gwGrid.f24__c}" style="width:95%"/></apex:column>
        <apex:column headerValue="{!Text(gwParams.age*24)+' - '+Text(gwParams.age*25)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 25}"><apex:outputfield value="{!gridLine.gwGrid.f25__c}" style="width:95%"/></apex:column>
        <apex:column headerValue="{!Text(gwParams.age*25)+' - '+Text(gwParams.age*26)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 26}"><apex:outputfield value="{!gridLine.gwGrid.f26__c}" style="width:95%"/></apex:column>
        <apex:column headerValue="{!Text(gwParams.age*26)+' - '+Text(gwParams.age*27)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 27}"><apex:outputfield value="{!gridLine.gwGrid.f27__c}" style="width:95%"/></apex:column>
        <apex:column headerValue="{!Text(gwParams.age*27)+' - '+Text(gwParams.age*28)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 28}"><apex:outputfield value="{!gridLine.gwGrid.f28__c}" style="width:95%"/></apex:column>
  		<apex:column headerValue="{!Text(gwParams.age*28)+' - '+Text(gwParams.age*29)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 29}"><apex:outputfield value="{!gridLine.gwGrid.f29__c}" style="width:95%"/></apex:column>
  		<apex:column headerValue="{!Text(gwParams.age*29)+' - '+Text(gwParams.age*30)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 30}"><apex:outputfield value="{!gridLine.gwGrid.f30__c}" style="width:95%"/></apex:column>
  		<apex:column headerValue="{!Text(gwParams.age*30)+' - '+Text(gwParams.age*31)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 31}"><apex:outputfield value="{!gridLine.gwGrid.f31__c}" style="width:95%"/></apex:column>
  		<apex:column headerValue="{!Text(gwParams.age*31)+' - '+Text(gwParams.age*32)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 32}"><apex:outputfield value="{!gridLine.gwGrid.f32__c}" style="width:95%"/></apex:column>
  		<apex:column headerValue="{!Text(gwParams.age*32)+' - '+Text(gwParams.age*33)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 33}"><apex:outputfield value="{!gridLine.gwGrid.f33__c}" style="width:95%"/></apex:column>
  		<apex:column headerValue="{!Text(gwParams.age*33)+' - '+Text(gwParams.age*34)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 34}"><apex:outputfield value="{!gridLine.gwGrid.f34__c}" style="width:95%"/></apex:column>
  		<apex:column headerValue="{!Text(gwParams.age*34)+' - '+Text(gwParams.age*35)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 35}"><apex:outputfield value="{!gridLine.gwGrid.f35__c}" style="width:95%"/></apex:column>
  		<apex:column headerValue="{!Text(gwParams.age*35)+' - '+Text(gwParams.age*36)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 36}"><apex:outputfield value="{!gridLine.gwGrid.f36__c}" style="width:95%"/></apex:column>
  		<apex:column headerValue="{!Text(gwParams.age*36)+' - '+Text(gwParams.age*37)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 37}"><apex:outputfield value="{!gridLine.gwGrid.f37__c}" style="width:95%"/></apex:column>
  		<apex:column headerValue="{!Text(gwParams.age*37)+' - '+Text(gwParams.age*38)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 38}"><apex:outputfield value="{!gridLine.gwGrid.f38__c}" style="width:95%"/></apex:column>
  		<apex:column headerValue="{!Text(gwParams.age*38)+' - '+Text(gwParams.age*39)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 39}"><apex:outputfield value="{!gridLine.gwGrid.f39__c}" style="width:95%"/></apex:column>
  		<apex:column headerValue="{!Text(gwParams.age*39)+' - '+Text(gwParams.age*40)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 40}"><apex:outputfield value="{!gridLine.gwGrid.f40__c}" style="width:95%"/></apex:column>
  		<apex:column headerValue="{!Text(gwParams.age*40)+' - '+Text(gwParams.age*41)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 41}"><apex:outputfield value="{!gridLine.gwGrid.f41__c}" style="width:95%"/></apex:column>
  		<apex:column headerValue="{!Text(gwParams.age*41)+' - '+Text(gwParams.age*42)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 42}"><apex:outputfield value="{!gridLine.gwGrid.f42__c}" style="width:95%"/></apex:column>
  		<apex:column headerValue="{!Text(gwParams.age*42)+' - '+Text(gwParams.age*43)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 43}"><apex:outputfield value="{!gridLine.gwGrid.f43__c}" style="width:95%"/></apex:column>
  		<apex:column headerValue="{!Text(gwParams.age*43)+' - '+Text(gwParams.age*44)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 44}"><apex:outputfield value="{!gridLine.gwGrid.f44__c}" style="width:95%"/></apex:column>
  		<apex:column headerValue="{!Text(gwParams.age*44)+' - '+Text(gwParams.age*45)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 45}"><apex:outputfield value="{!gridLine.gwGrid.f45__c}" style="width:95%"/></apex:column>
  		<apex:column headerValue="{!Text(gwParams.age*45)+' - '+Text(gwParams.age*46)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 46}"><apex:outputfield value="{!gridLine.gwGrid.f46__c}" style="width:95%"/></apex:column>
  		<apex:column headerValue="{!Text(gwParams.age*46)+' - '+Text(gwParams.age*47)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 47}"><apex:outputfield value="{!gridLine.gwGrid.f47__c}" style="width:95%"/></apex:column>
  		<apex:column headerValue="{!Text(gwParams.age*47)+' - '+Text(gwParams.age*48)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 48}"><apex:outputfield value="{!gridLine.gwGrid.f48__c}" style="width:95%"/></apex:column>
  		<apex:column headerValue="{!Text(gwParams.age*48)+' - '+Text(gwParams.age*49)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 49}"><apex:outputfield value="{!gridLine.gwGrid.f49__c}" style="width:95%"/></apex:column>
  		<apex:column headerValue="{!Text(gwParams.age*49)+' - '+Text(gwParams.age*50)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 50}"><apex:outputfield value="{!gridLine.gwGrid.f50__c}" style="width:95%"/></apex:column>
  		<apex:column headerValue="{!Text(gwParams.age*50)+' - '+Text(gwParams.age*51)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 51}"><apex:outputfield value="{!gridLine.gwGrid.f51__c}" style="width:95%"/></apex:column>
  		<apex:column headerValue="{!Text(gwParams.age*51)+' - '+Text(gwParams.age*52)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 52}"><apex:outputfield value="{!gridLine.gwGrid.f52__c}" style="width:95%"/></apex:column>
  		<apex:column headerValue="{!Text(gwParams.age*52)+' - '+Text(gwParams.age*53)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 53}"><apex:outputfield value="{!gridLine.gwGrid.f53__c}" style="width:95%"/></apex:column>
  		<apex:column headerValue="{!Text(gwParams.age*53)+' - '+Text(gwParams.age*54)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 54}"><apex:outputfield value="{!gridLine.gwGrid.f54__c}" style="width:95%"/></apex:column>
  		<apex:column headerValue="{!Text(gwParams.age*54)+' - '+Text(gwParams.age*55)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 55}"><apex:outputfield value="{!gridLine.gwGrid.f55__c}" style="width:95%"/></apex:column>
  		<apex:column headerValue="{!Text(gwParams.age*55)+' - '+Text(gwParams.age*56)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 56}"><apex:outputfield value="{!gridLine.gwGrid.f56__c}" style="width:95%"/></apex:column>
  		<apex:column headerValue="{!Text(gwParams.age*56)+' - '+Text(gwParams.age*57)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 57}"><apex:outputfield value="{!gridLine.gwGrid.f57__c}" style="width:95%"/></apex:column>
  		<apex:column headerValue="{!Text(gwParams.age*57)+' - '+Text(gwParams.age*58)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 58}"><apex:outputfield value="{!gridLine.gwGrid.f58__c}" style="width:95%"/></apex:column>
  		<apex:column headerValue="{!Text(gwParams.age*58)+' - '+Text(gwParams.age*59)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 59}"><apex:outputfield value="{!gridLine.gwGrid.f59__c}" style="width:95%"/></apex:column>
  		<apex:column headerValue="{!Text(gwParams.age*59)+' - '+Text(gwParams.age*60)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 60}"><apex:outputfield value="{!gridLine.gwGrid.f60__c}" style="width:95%"/></apex:column>
  		<apex:column headerValue="{!Text(gwParams.age*60)+' - '+Text(gwParams.age*61)+' '+$Label.GWMonths}" rendered="{!gwParams.Max_Age/gwParams.Age >= 61}"><apex:outputfield value="{!gridLine.gwGrid.f61__c}" style="width:95%"/></apex:column>	
    </apex:pageBlockTable>
       
    <br />
    <apex:pageBlockSection >
    <apex:outputField value="{!gwGridLinesWrapper[0].gwGrid.Valid_from__c}" label="{!$Label.GoodwillDateValidFrom}" />
    <apex:outputField value="{!gwGridLinesWrapper[0].gwGrid.Valid_to__c}" label="{!$Label.GoodwillDateValidTo}"/>
    <apex:outputField value="{!lineOne.Additional_Information__c}" label="{!$ObjectType.Goodwill_Grid_Line__c.fields.Additional_Information__c.label}" />
    </apex:pageBlockSection>
    
    </apex:outputPanel>
    
    </apex:pageblock>   
    </apex:form>
</apex:page>