<apex:page controller="VFC01_AccountSearchWebService" sidebar="false">
 
  <apex:form >
    
      <table cellpadding="2" cellspacing="2">
      <tr>
        <td style="font-weight:bold;">{!$Label.First_Name}<br/>
        <!--input type="text" id="firstName"/-->
        <apex:inputText value="{!firstName}"/>
        </td>
      </tr>
      <tr>
        <td style="font-weight:bold;">{!$Label.Last_Name}<br/>
        <apex:inputText value="{!lastName}"/>
        </td>
      </tr>
      <tr>
        <td style="font-weight:bold;">{!$Label.ZIP}<br/>
        <apex:inputText value="{!zipCode}"/>
        </td>
      </tr>
       <tr>
        <td   style="font-weight:bold;"><br/>
         <apex:commandButton action="{!submitWS}" value="Submit"/>
         
        </td>
      </tr>
       </table>
            
    
  </apex:form>
 </apex:page>