<apex:page standardController="VEH_Veh__c" extensions="VFC05_VehicleAttributes">
    <apex:form id="WebservicePanels" >
    <apex:commandButton id="warrantybtn" action="{!getWarrantyData}" rerender="WebservicePanels, idDetailVehPanel, idWarrantyPanel, idWarrantyHistoryPanel, idContractPanel, idOTSPanel, idMaintenancePanel" value="{!$Label.VFP05WarrantyDates}" />
    <apex:commandButton id="warrantyhistorybtn"  action="{!getWarrantyHistoryData}" rerender="WebservicePanels, idDetailVehPanel, idWarrantyPanel, idWarrantyHistoryPanel, idContractPanel, idOTSPanel, idMaintenancePanel" value="{!$Label.VFP05_Warranty_History}" />
    <apex:commandButton id="contractbtn" action="{!getContractData}" rerender="WebservicePanels, idDetailVehPanel, idWarrantyPanel, idWarrantyHistoryPanel, idContractPanel, idOTSPanel, idMaintenancePanel" value="{!$Label.VFP05_Contracts}"  />
    <apex:commandButton id="otsbtn" action="{!getOTSData}" rerender="WebservicePanels, idDetailVehPanel, idWarrantyPanel, idWarrantyHistoryPanel, idContractPanel, idOTSPanel, idMaintenancePanel" value="{!$Label.VFP05_OTS}" />
    <apex:commandButton id="maintbtn" action="{!getMaintenanceData}" rerender="WebservicePanels, idDetailVehPanel, idWarrantyPanel, idWarrantyHistoryPanel, idContractPanel, idOTSPanel, idMaintenancePanel" value="{!$Label.VFP05_Maintenance_Schedule}" />

    <apex:outputpanel id="idChoose" rendered="{!IF(showDetail = 0,true, false)}">   
            <p>
                <apex:outputtext value="{!$Label.VFP05_Please_click_on_one_of_the_above_buttons_to_see_the_result}" />
            </p>
    </apex:outputpanel>
      

    <apex:outputPanel id="idWarrantyPanel" rendered="{!IF(showDetail = 2,true, false)}">   
        <apex:pageblock > 
            <apex:pageblocksection title="{!$Label.VFP05WarrantyDates}" >
                <apex:dataTable value="{!wpList}" var="w">
                    <apex:column value="{!w.Type}" headerValue="{!$Label.VFP05_Type}" width="200px" />
                    <apex:column value="{!w.datFinGar}" headerValue="{!$Label.VFP05_End_Date}"  width="200px"/>
                    <apex:column value="{!w.kmMaxGar}" headerValue="{!$Label.VFP05_Max_Km}" width="200px" />
                </apex:dataTable>
            </apex:pageblocksection>
        </apex:pageblock>

    </apex:outputpanel>  

    <apex:outputPanel id="idWarrantyHistoryPanel" rendered="{!IF(showDetail = 7,true, false)}">   
        <apex:pageblock >
        <p> 
            <apex:outputText value="{!$Label.MashupClickToSee}" />
        </p>
            <apex:pageblocksection title="{!$Label.VFP05_Warranty_History}" >
                 <apex:dataTable value="{!whList}" var="w" width="800">
                 	<apex:column width="150px" onmousemove="this.parentNode.style.backgroundColor='lightgrey'" onmouseout="this.parentNode.style.backgroundColor =''" >
                        <apex:facet name="header">{!$Label.VFP05_Date}</apex:facet>
                        <apex:outputText value="{!w.datOuvOr}" />
                        <apex:actionSupport event="onclick" action="{!getWarrantyHistoryDetailData}" rerender="WarrantyDetailsPanel" status="status" >
                        	<apex:Param name="modulo" value="{!w.modulo}" assignTo="{!modulo}" />
                        	<apex:Param name="numInt" value="{!w.numInt}" assignTo="{!numInt}" />
                        	<apex:Param name="histoBim" value="{!w.histoBim}" assignTo="{!histoBim}" />
                        	<apex:Param name="rc" value="{!w.rc}" assignTo="{!rc}" />
                        </apex:actionSupport>
                    </apex:column>
                    <apex:column width="150px" onmousemove="this.parentNode.style.backgroundColor='lightgrey'" onmouseout="this.parentNode.style.backgroundColor =''" >
                        <apex:facet name="header">{!$Label.VFP05_Km}</apex:facet>
                        <apex:outputText value="{!w.km}" />
                        <apex:actionSupport event="onclick" action="{!getWarrantyHistoryDetailData}" rerender="WarrantyDetailsPanel" status="status" >
                        	<apex:Param name="modulo" value="{!w.modulo}" assignTo="{!modulo}" />
                        	<apex:Param name="numInt" value="{!w.numInt}" assignTo="{!numInt}" />
                        	<apex:Param name="histoBim" value="{!w.histoBim}" assignTo="{!histoBim}" />
                        	<apex:Param name="rc" value="{!w.rc}" assignTo="{!rc}" />
                        </apex:actionSupport>
                    </apex:column>
                    <apex:column width="150px" onmousemove="this.parentNode.style.backgroundColor='lightgrey'" onmouseout="this.parentNode.style.backgroundColor =''" >
                        <apex:facet name="header">{!$Label.VFP05_RC}</apex:facet>
                        <apex:outputText value="{!w.rc}" />
                        <apex:actionSupport event="onclick" action="{!getWarrantyHistoryDetailData}" rerender="WarrantyDetailsPanel" status="status" >
                        	<apex:Param name="modulo" value="{!w.modulo}" assignTo="{!modulo}" />
                        	<apex:Param name="numInt" value="{!w.numInt}" assignTo="{!numInt}" />
                        	<apex:Param name="histoBim" value="{!w.histoBim}" assignTo="{!histoBim}" />
                        	<apex:Param name="rc" value="{!w.rc}" assignTo="{!rc}" />
                        </apex:actionSupport>
                    </apex:column>
                    <apex:column width="150px" onmousemove="this.parentNode.style.backgroundColor='lightgrey'" onmouseout="this.parentNode.style.backgroundColor =''" >
                        <apex:facet name="header">{!$Label.VFP05_Symptom}</apex:facet>
                        <apex:outputText value="{!w.librc}" />
                        <apex:actionSupport event="onclick" action="{!getWarrantyHistoryDetailData}" rerender="WarrantyDetailsPanel" status="status" >
                        	<apex:Param name="modulo" value="{!w.modulo}" assignTo="{!modulo}" />
                        	<apex:Param name="numInt" value="{!w.numInt}" assignTo="{!numInt}" />
                        	<apex:Param name="histoBim" value="{!w.histoBim}" assignTo="{!histoBim}" />
                        	<apex:Param name="rc" value="{!w.rc}" assignTo="{!rc}" />
                        </apex:actionSupport>
                    </apex:column>
                    <apex:column width="150px" onmousemove="this.parentNode.style.backgroundColor='lightgrey'" onmouseout="this.parentNode.style.backgroundColor =''" >
                        <apex:facet name="header">{!$Label.VFP05_Operation_description}</apex:facet>
                        <apex:outputText value="{!w.libint}" />
                        <apex:actionSupport event="onclick" action="{!getWarrantyHistoryDetailData}" rerender="WarrantyDetailsPanel" status="status" >
                        	<apex:Param name="modulo" value="{!w.modulo}" assignTo="{!modulo}" />
                        	<apex:Param name="numInt" value="{!w.numInt}" assignTo="{!numInt}" />
                        	<apex:Param name="histoBim" value="{!w.histoBim}" assignTo="{!histoBim}" />
                        	<apex:Param name="rc" value="{!w.rc}" assignTo="{!rc}" />
                        </apex:actionSupport>
                    </apex:column>
                    <apex:column width="100px" onmousemove="this.parentNode.style.backgroundColor='lightgrey'" onmouseout="this.parentNode.style.backgroundColor =''" >
                        <apex:facet name="header">{!$Label.VFP05_OTS_No}</apex:facet>
                        <apex:outputText value="{!w.numOts}" />
                        <apex:actionSupport event="onclick" action="{!getWarrantyHistoryDetailData}" rerender="WarrantyDetailsPanel" status="status" >
                        	<apex:Param name="modulo" value="{!w.modulo}" assignTo="{!modulo}" />
                        	<apex:Param name="numInt" value="{!w.numInt}" assignTo="{!numInt}" />
                        	<apex:Param name="histoBim" value="{!w.histoBim}" assignTo="{!histoBim}" />
                        	<apex:Param name="rc" value="{!w.rc}" assignTo="{!rc}" />
                        </apex:actionSupport>
                    </apex:column>
                    
                </apex:dataTable>
            </apex:pageblocksection>
            <apex:actionStatus startText="{!$Label.MashupGettingDetails}" id="status" />
            <apex:outputPanel id="WarrantyDetailsPanel" > 
                <apex:pageblocksection title="{!$Label.WarrantyHistoryDetails}"  rendered="{!NOT(ISNULL(whd))}">                     
                        <apex:dataTable value="{!whd.PandO}" var="po" width="800">
                            <apex:column value="{!po.Code}" headerValue="{!$Label.WarrantyDetailCode}"  width="150px" />
                            <apex:column value="{!po.Temps}" headerValue="{!$Label.WarrantyDetailTime}" width="400px" />
                            <apex:column value="{!po.Quantite}" headerValue="{!$Label.WarrantyDetailAmount}" width="150px" />
                            <apex:column value="{!po.Libelles}" headerValue="{!$Label.WarrantyDetailLabels}" width="400px" />
                        </apex:dataTable>                         
                </apex:pageblocksection>
            </apex:outputPanel>
        </apex:pageblock>
    </apex:outputpanel>  
    
        <apex:outputpanel id="idContractPanel" rendered="{!IF(showDetail = 4,true, false)}">   
            <apex:pageblock >
            <apex:repeat value="{!contracts}" var="con"> 
                <apex:pageblocksection title="{!$Label.ContractDetailNo}: {!con.idContract}" >
                    <apex:outputtext label="{!$Label.First_Name}" value="{!con.firstName}" />
                    <apex:outputtext label="{!$Label.Last_Name}" value="{!con.lastName}" />
                    <apex:outputtext label="{!$Label.VFP05_Address}" value="{!con.address}" />
                    <apex:outputtext label="{!$Label.VFP05_Contract_Card_Number}" value="{!con.idContractCard}" />
                    <apex:outputtext label="{!$Label.VFP05_Product}" value="{!con.productLabel}" />
                    <apex:outputtext label="{!$Label.VFP05_Country}" value="{!con.country}" />
                    <apex:outputtext label="{!$Label.VFP05_Contract_Status}" value="{!con.status}" />
                    <apex:outputtext label="{!$Label.VFP05_Contract_km}" value="{!con.kmMaxSubscription}" />
                </apex:pageblocksection>
            </apex:repeat>
        </apex:pageblock>
    </apex:outputpanel>   

    

    <apex:outputpanel id="idOTSPanel" rendered="{!IF(showDetail = 5,true, false)}">   
            <apex:pageblock > 
            <apex:pageblocksection >
                <apex:dataTable value="{!otsPropList}" var="o" width="800">
                    <apex:column value="{!o.OTSType}" headerValue="{!$Label.VFP05_Type}" width="100px" />
                    <apex:column value="{!o.OTSNo}" headerValue="{!$Label.VFP05_Number}" width="100px" />
                    <apex:column value="{!o.OTSTechnicalNoteNo}" headerValue="{!$Label.VFP05_Technical_Note_No}" width="100px" />
                    <apex:column value="{!o.OTSDescription}" headerValue="{!$Label.VFP05_Description}" width="400px" />
                </apex:dataTable>
            </apex:pageblocksection>
        </apex:pageblock>
    </apex:outputpanel>  

    

    <apex:outputpanel id="idMaintenancePanel" rendered="{!IF(showDetail = 6,true, false)}">   
    <p />
      
<apex:tabPanel switchType="client" selectedTab="name2" id="theTabPanel" width="1000">
        <apex:tab label="{!$Label.VFP05_Primary_Operations}" name="name1" id="tabOne">
      
<Table with="1200">

<TR>

    <TD colspan="2">&nbsp;</TD>
</TR>
<TR>
    <TD>&nbsp;</TD>
    <TD width="1000">   
    <TABLE  border="0" width="1000">
  
<!--
        <TR id="LigneTitre" name="LigneTitre" bgcolor="powderblue">
      
            <TD align="center"><font size="4"><h1>Maintenance Schedule </h1></font></TD>

        </TR>
-->        
        <TR id="LigneTab1" name="LigneTab1" bgcolor="white">
            <TD>
            <Table id="Tableau1" border="1" height="100%" cellspacing="1" cellpadding="3">
                <tr id="Tableau1Ligne1" border='' width="30%">
                    <td height="20%"><p><strong>{!maint.MaintTitle2}</strong></p></td>
                    <td><strong> {!$label.EveryKM}</strong></td>
                    <td width="1%"><strong> {!$label.Or} </strong></td>
                    <td colspan="12" align="center">{!$label.AtYears}</td>
                </tr>
                <tr id="Tableau1Ligne2">
                    <td><p><strong>{!maint.MaintTitle1}</strong></p></td>
                    <td></td>
                    <td></td>
                    <td width="10">1</td>
                    <td width="10">2</td>
                    <td width="10">3</td>
                    <td width="10">4</td>
                    <td width="10">5</td>
                    <td width="10">6</td>
                    <td width="10">7</td>
                    <td width="10">8</td>
                    <td width="10">9</td>
                    <td width="10">10</td>
                    <td width="10">11</td>
                    <td width="10">12</td>
                </tr>
                <apex:outputText value="{!maint.MaintPrimaryOperations}" escape="false" />
<style>
hr
}
    .boxClose {
        display:block;
        position:absolute;
        top:-18px;
        right:-18px;
        background:url({!$Resource.Point}) no-repeat 0 0;width:42px;height:42px;line-height:42px;text-indent:-9999px;overflow:hidden;z-index:111;
    }
</style>



            </TABLE>
            </TD>
        </TR>
        <TR id="LigneTab2" name="LigneTab2">
            
        </TR>
    </TABLE>
    </TD>
</TR>
</table>
        </apex:tab>
        


<apex:tab label="{!$Label.VFP05_Secondary_Operations}" name="name2" id="tabTwo">

    <Table with="1200">
        <tr>
            <td colspan="2">
                <p><strong>{!maint.MaintTitle3}</strong></p>
                
                <table border="1" style="background-color:#E2E2E2;" cellspacing="1" cellpadding="2" width="1024">                                                
                      <apex:outputText value="{!maint.MaintSecondaryOperations}" escape="false" />                                         
<!--                                                        
                    <td width="50%" bgcolor="white">&nbsp;</td>
-->                    
                
                
            </table>
            <p><strong>{!maint.MaintTitle4}</strong></p>
            </td>
            
        </tr>
        
         
    </Table>                             
                
</apex:tab>
        
    </apex:tabPanel>           

    </apex:outputpanel>  

  <apex:messages ></apex:messages>

    </apex:form>            
 </apex:page>