<apex:page showHeader="false" controller="VFC08_CaseHistoryController">
<apex:pageblock mode="maindetail" >
<apex:form id="lists" title="Interactions"> 
	<apex:pageBlockTable value="{!CHIlist}" var="list">
    	<apex:column >
        	<apex:facet name="header">
        		<apex:commandLink action="{!sortByType}" Value="Type" rerender="lists"/>
            </apex:facet>
			
			<apex:outputPanel rendered="{!list.mainId != null}">
    	      	<a href="javascript:srcUp('/{!list.mainId}?isdtp=vw');" style="text-decoration:none">
				<apex:image id="imageType" value="{!list.itemType}"/>
                <apex:outputText value="{!list.itemTypeName}"/></a>
			</apex:outputPanel>
			
			<apex:outputPanel rendered="{!list.mainId == null}">
				<apex:image id="imageType2" value="{!list.itemType}"/>
                <apex:outputText value="{!list.itemTypeName}"/>
            </apex:outputPanel>
		</apex:column>

        <apex:column >
	        <apex:facet name="header">
	            <apex:commandLink action="{!sortBySubject}" Value="Description" rerender="lists"/>
            </apex:facet>

            <apex:outputText >
	            <apex:outputLink rendered="{!NOT(ISBLANK(list.mainId))}" value="/{!list.mainId}" id="mainIdLink">{!LEFT(list.Subject, 32000)}{!IF(LEN(list.Subject)>32000,"...","")}</apex:outputLink>
    	        {!list.taskDescription}
            </apex:outputText>

            <apex:outputText value="{!LEFT(list.Subject, 32000)}{!IF(LEN(list.Subject)>32000,"...","")}" rendered="{!ISBLANK(list.mainId)}"/> 
		</apex:column>

        <apex:column >
	        <apex:facet name="header">
	            <apex:commandLink action="{!sortByCreateDate}" Value="Date Time" rerender="lists"/>
            </apex:facet>

            <apex:outputText value="{!list.createDateFix}" rendered="{!(list.isActivity||showAll)}" />
		</apex:column>
	</apex:pageBlockTable>
</apex:form> 
</apex:pageblock>  
</apex:page>