<apex:page standardController="VEH_Veh__c" extensions="VFC05_VehicleAttributes" showHeader="false" sidebar="false">

    <apex:form id="WebservicePanels" >
    <apex:commandButton id="warrantybtn" action="{!getWarrantyData}" rerender="WebservicePanels" value="{!$Label.VFP05WarrantyDates}" />
    <apex:commandButton id="warrantyhistorybtn"  action="{!getWarrantyHistoryData}" rerender="WebservicePanels" value="{!$Label.VFP05_Warranty_History}" />
    <apex:commandButton id="otsbtn" action="{!getOTSData}" rerender="WebservicePanels" value="{!$Label.VFP05_OTS}" />
   



<apex:actionStatus id="mySaveStatus1">
<apex:facet name="stop">

<apex:commandButton id="rcsbtn" action="{!getArchives}" status="mySaveStatus1" rerender="WebservicePanels" value="{!$Label.VFP05_Archivage}" />


</apex:facet>
<apex:facet name="start">
<apex:outputPanel >
<apex:commandButton value="Searching..." status="mySaveStatus1" disabled="true"/>
<apex:image value="/img/loading32.gif" style="height: 15px;"/>


</apex:outputPanel>
</apex:facet>
</apex:actionStatus>



    <apex:outputPanel id="idWarrantyPanel" rendered="{!IF(showDetail = 2,true, false)}">   
  
        <apex:pageblock > 
            <apex:pageblocksection title="{!$Label.VFP05WarrantyDates}" >
                <apex:dataTable value="{!wpList}" var="w">
                    <apex:column value="{!w.Type}" headerValue="{!$Label.VFP05_Type}" width="200px" />
                    <apex:column value="{!w.datFinGar}" headerValue="{!$Label.VFP05_End_Date}"  width="200px"/>
                    <apex:column value="{!w.kmMaxGar}" headerValue="{!$Label.VFP05_Max_Km}" width="200px" />
                </apex:dataTable>
            </apex:pageblocksection>
        </apex:pageblock>

    </apex:outputpanel>  

    <apex:outputPanel id="idWarrantyHistoryPanel" rendered="{!IF(showDetail = 7,true, false)}">   
        <apex:pageblock >
        <p> 
            <apex:outputText value="{!$Label.MashupClickToSee}" />
        </p>
            <apex:pageblocksection title="{!$Label.VFP05_Warranty_History}" >
                 <apex:dataTable value="{!whList}" var="w" width="800">
                    <apex:column width="150px" onmousemove="this.parentNode.style.backgroundColor='lightgrey'" onmouseout="this.parentNode.style.backgroundColor =''" >
                        <apex:facet name="header">{!$Label.VFP05_Date}</apex:facet>
                        <apex:outputText value="{!w.datOuvOr}" />
                        <apex:actionSupport event="onclick" action="{!getWarrantyHistoryDetailData}" rerender="WarrantyDetailsPanel" status="status" >
                            <apex:Param name="modulo" value="{!w.modulo}" assignTo="{!modulo}" />
                            <apex:Param name="numInt" value="{!w.numInt}" assignTo="{!numInt}" />
                            <apex:Param name="histoBim" value="{!w.histoBim}" assignTo="{!histoBim}" />
                            <apex:Param name="rc" value="{!w.rc}" assignTo="{!rc}" />
                        </apex:actionSupport>
                    </apex:column>
                    <apex:column width="150px" onmousemove="this.parentNode.style.backgroundColor='lightgrey'" onmouseout="this.parentNode.style.backgroundColor =''" >
                        <apex:facet name="header">{!$Label.VFP05_Km}</apex:facet>
                        <apex:outputText value="{!w.km}" />
                        <apex:actionSupport event="onclick" action="{!getWarrantyHistoryDetailData}" rerender="WarrantyDetailsPanel" status="status" >
                            <apex:Param name="modulo" value="{!w.modulo}" assignTo="{!modulo}" />
                            <apex:Param name="numInt" value="{!w.numInt}" assignTo="{!numInt}" />
                            <apex:Param name="histoBim" value="{!w.histoBim}" assignTo="{!histoBim}" />
                            <apex:Param name="rc" value="{!w.rc}" assignTo="{!rc}" />
                        </apex:actionSupport>
                    </apex:column>
                    <apex:column width="150px" onmousemove="this.parentNode.style.backgroundColor='lightgrey'" onmouseout="this.parentNode.style.backgroundColor =''" >
                        <apex:facet name="header">{!$Label.VFP05_RC}</apex:facet>
                        <apex:outputText value="{!w.rc}" />
                        <apex:actionSupport event="onclick" action="{!getWarrantyHistoryDetailData}" rerender="WarrantyDetailsPanel" status="status" >
                            <apex:Param name="modulo" value="{!w.modulo}" assignTo="{!modulo}" />
                            <apex:Param name="numInt" value="{!w.numInt}" assignTo="{!numInt}" />
                            <apex:Param name="histoBim" value="{!w.histoBim}" assignTo="{!histoBim}" />
                            <apex:Param name="rc" value="{!w.rc}" assignTo="{!rc}" />
                        </apex:actionSupport>
                    </apex:column>
                    <apex:column width="150px" onmousemove="this.parentNode.style.backgroundColor='lightgrey'" onmouseout="this.parentNode.style.backgroundColor =''" >
                        <apex:facet name="header">{!$Label.VFP05_Symptom}</apex:facet>
                        <apex:outputText value="{!w.librc}" />
                        <apex:actionSupport event="onclick" action="{!getWarrantyHistoryDetailData}" rerender="WarrantyDetailsPanel" status="status" >
                            <apex:Param name="modulo" value="{!w.modulo}" assignTo="{!modulo}" />
                            <apex:Param name="numInt" value="{!w.numInt}" assignTo="{!numInt}" />
                            <apex:Param name="histoBim" value="{!w.histoBim}" assignTo="{!histoBim}" />
                            <apex:Param name="rc" value="{!w.rc}" assignTo="{!rc}" />
                        </apex:actionSupport>
                    </apex:column>
                    <apex:column width="150px" onmousemove="this.parentNode.style.backgroundColor='lightgrey'" onmouseout="this.parentNode.style.backgroundColor =''" >
                        <apex:facet name="header">{!$Label.VFP05_Operation_description}</apex:facet>
                        <apex:outputText value="{!w.libint}" />
                        <apex:actionSupport event="onclick" action="{!getWarrantyHistoryDetailData}" rerender="WarrantyDetailsPanel" status="status" >
                            <apex:Param name="modulo" value="{!w.modulo}" assignTo="{!modulo}" />
                            <apex:Param name="numInt" value="{!w.numInt}" assignTo="{!numInt}" />
                            <apex:Param name="histoBim" value="{!w.histoBim}" assignTo="{!histoBim}" />
                            <apex:Param name="rc" value="{!w.rc}" assignTo="{!rc}" />
                        </apex:actionSupport>
                    </apex:column>
                    <apex:column width="100px" onmousemove="this.parentNode.style.backgroundColor='lightgrey'" onmouseout="this.parentNode.style.backgroundColor =''" >
                        <apex:facet name="header">{!$Label.VFP05_OTS_No}</apex:facet>
                        <apex:outputText value="{!w.numOts}" />
                        <apex:actionSupport event="onclick" action="{!getWarrantyHistoryDetailData}" rerender="WarrantyDetailsPanel" status="status" >
                            <apex:Param name="modulo" value="{!w.modulo}" assignTo="{!modulo}" />
                            <apex:Param name="numInt" value="{!w.numInt}" assignTo="{!numInt}" />
                            <apex:Param name="histoBim" value="{!w.histoBim}" assignTo="{!histoBim}" />
                            <apex:Param name="rc" value="{!w.rc}" assignTo="{!rc}" />
                        </apex:actionSupport>
                    </apex:column>
                    
                </apex:dataTable>
            </apex:pageblocksection>
            <apex:actionStatus startText="{!$Label.MashupGettingDetails}" id="status" />
            <apex:outputPanel id="WarrantyDetailsPanel" > 
                <apex:pageblocksection title="{!$Label.WarrantyHistoryDetails}"  rendered="{!NOT(ISNULL(whd))}">                     
                        <apex:dataTable value="{!whd.PandO}" var="po" width="800">
                            <apex:column value="{!po.Code}" headerValue="{!$Label.WarrantyDetailCode}"  width="150px" />
                            <apex:column value="{!po.Temps}" headerValue="{!$Label.WarrantyDetailTime}" width="400px" />
                            <apex:column value="{!po.Quantite}" headerValue="{!$Label.WarrantyDetailAmount}" width="150px" />
                            <apex:column value="{!po.Libelles}" headerValue="{!$Label.WarrantyDetailLabels}" width="400px" />
                        </apex:dataTable>                         
                </apex:pageblocksection>
            </apex:outputPanel>
        </apex:pageblock>
    </apex:outputpanel>  
    


    <apex:outputpanel id="idOTSPanel" rendered="{!IF(showDetail = 5,true, false)}"> 
            <apex:pageblock > 
            <apex:pageblocksection >
                <apex:dataTable value="{!otsPropList}" var="o" width="800">
                    <apex:column value="{!o.OTSType}" headerValue="{!$Label.VFP05_Type}" width="100px" />
                    <apex:column value="{!o.OTSNo}" headerValue="{!$Label.VFP05_Number}" width="100px" />
                    <apex:column value="{!o.OTSTechnicalNoteNo}" headerValue="{!$Label.VFP05_Technical_Note_No}" width="100px" />
                    <apex:column value="{!o.OTSDescription}" headerValue="{!$Label.VFP05_Description}" width="400px" />
                </apex:dataTable>
            </apex:pageblocksection>
        </apex:pageblock>
    </apex:outputpanel>  

<br/> 
<apex:actionStatus id="archivagestatus" startText="Loading..."></apex:actionStatus>
    
    <apex:outputpanel id="idArchivesPanel"  rendered="{!IF(showDetail = 11 || showDetail=12 || showDetail=13 || showDetail=14  || showDetail=15||showDetail=19||showDetail=99, true, false)}"> 
       
        <apex:pageblock > 
            <apex:pagemessages ></apex:pagemessages>
            <apex:pageblocksection title="Archived Case List"> 
                <apex:dataTable value="{!ArchCasesList}" var="a" width="500">
                    <apex:column width="100" >
                        <apex:facet name="header">Case ID</apex:facet>
                        <apex:commandLink value="{!a.IdCase}" action="{!getCaseDetails}" rerender=" idDetailsPanel,AttachmentStatus,idArchivesPanel,idAttachmentPanel" status="ArchivesCasedetails" >
                            <apex:param name="IdCase" value="{!a.IdCase}" />
                            <apex:param name="country" value="{!a.country}" />
                        </apex:commandLink>
                    </apex:column> 
                    <apex:column width="100" >
                        <apex:facet name="header">Related Attachments</apex:facet>
                        <apex:commandLink value="Get attachments" action="{!getAttachements}" rerender="idDetailsPanel,AttachmentStatus,idArchivesPanel,idAttachmentPanel" status="CaseAttachmentStatus" >
                            <apex:param name="IdCase" value="{!a.IdCase}" />
                            <apex:param name="country" value="{!a.country}" />
                        </apex:commandLink>
                    </apex:column>    
                </apex:dataTable>  
            </apex:pageblocksection> 
       
         </apex:pageblock>
         </apex:outputpanel>
         <apex:actionStatus startText="Getting Case Details..." id="ArchivesCasedetails" />   
       
         <apex:outputPanel id="idDetailsPanel"  >  
         <apex:pageblock title="Case Details" rendered="{!IF(showDetail = 12|| showDetail=19, true, false)}"> 
            <apex:pageblockSection columns="2" id="Output">
            <apex:pageBlockSectionItem >
            <apex:outputLabel value="Case Id :"></apex:outputLabel>
            {!xmlData.IdCase}
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
            <apex:outputLabel value="Status :"></apex:outputLabel>
            {!xmlData.Status}
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
            <apex:outputLabel value="Comment :"></apex:outputLabel>
{!xmlData.Comment}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="Description :"></apex:outputLabel>
{!xmlData.Description}
</apex:pageBlockSectionItem>
<apex:pageBlockSectionItem >
<apex:outputLabel value="NegociationResult :"></apex:outputLabel>
{!xmlData.NegociationResult}
</apex:pageBlockSectionItem>
<apex:pageBlockSectionItem >
<apex:outputLabel value="Case Type:"></apex:outputLabel>
{!xmlData.Area}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="Created :"></apex:outputLabel>
{!xmlData.Created}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="QuoteType :"></apex:outputLabel>
{!xmlData.QuoteType}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="FromValue :"></apex:outputLabel>
{!xmlData.FromValue}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="CreatedByName :"></apex:outputLabel>
{!xmlData.CreatedByName}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="Owner :"></apex:outputLabel>
{!xmlData.Owner}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="Source :"></apex:outputLabel>
{!xmlData.Source}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="ClosedDate :"></apex:outputLabel>
{!xmlData.ClosedDate}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="ClosedBy :"></apex:outputLabel>
{!xmlData.ClosedBy}
</apex:pageBlockSectionItem>


<apex:pageBlockSectionItem >
<apex:outputLabel value="ResolutionDate :"></apex:outputLabel>
{!xmlData.ResolutionDate}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="ResolutionAuthor :"></apex:outputLabel>
{!xmlData.ResolutionAuthor}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="Mileage :"></apex:outputLabel>
{!xmlData.Mileage}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="PreferedLanguage2 :"></apex:outputLabel>
{!xmlData.PreferedLanguage2}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="SubArea2 :"></apex:outputLabel>
{!xmlData.SubArea2}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="CustomerRefNumber :"></apex:outputLabel>
{!xmlData.CustomerRefNumber}
</apex:pageBlockSectionItem>


<apex:pageBlockSectionItem >
<apex:outputLabel value="RCDetail :"></apex:outputLabel>
{!xmlData.RCDetail}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="AccessPoint :"></apex:outputLabel>
{!xmlData.AccessPoint}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="Severity :"></apex:outputLabel>
{!xmlData.Severity}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="Decision :"></apex:outputLabel>
{!xmlData.Decision}
</apex:pageBlockSectionItem>


<apex:pageBlockSectionItem >
<apex:outputLabel value="TestData:"></apex:outputLabel>
{!xmlData.TestData}
</apex:pageBlockSectionItem>


</apex:pageblockSection>




<h2>Contact Detail</h2>
<apex:variable value="{!xmlData.ContactList[0]}" var="a"/>
<apex:pageblocksection columns="2">
<apex:pageBlockSectionItem >
<apex:outputLabel value="TitleSIC:"></apex:outputLabel>
    {!a.TitleSIC}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="LastName:"></apex:outputLabel>
{!a.LastName}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="FirstName:"></apex:outputLabel>
{!a.FirstName}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="NoClient:"></apex:outputLabel>
{!a.NoClient}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="CustomerIdentificationType:"></apex:outputLabel>
{!a.CustomerIdentificationType}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="CustomerIdentificationNr2:"></apex:outputLabel>
{!a.CustomerIdentificationNr2}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="PreferedLanguage2:"></apex:outputLabel>
{!a.PreferedLanguage2}
</apex:pageBlockSectionItem>


<apex:pageBlockSectionItem >
<apex:outputLabel value="PreferedMethodContact:"></apex:outputLabel>
{!a.PreferedMethodContact}
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputLabel value="EmailAddress:"></apex:outputLabel>
{!a.EmailAddress}
</apex:pageBlockSectionItem>

</apex:pageBlockSection>
<apex:pageBlockSection >

<apex:pageBlockTable value="{!a.PersonalAddressList}" var="pa">
<apex:column >
<apex:facet name="header">PersonalCompleteStreetAddress</apex:facet>
{!pa.PersonalCompleteStreetAddress}
</apex:column>

<apex:column >
<apex:facet name="header">PersonalAdditionalStreetAddress</apex:facet>
{!pa.PersonalAdditionalStreetAddress}
</apex:column>

<apex:column >
<apex:facet name="header">PersonalStreetNumber</apex:facet>
{!pa.PersonalStreetNumber}
</apex:column>

<apex:column >
<apex:facet name="header">PersonalStreetType</apex:facet>
{!pa.PersonalStreetType}
</apex:column>

<apex:column >
<apex:facet name="header">PersonalStreetName</apex:facet>
{!pa.PersonalStreetName}
</apex:column>PersonalPostalCode2

<apex:column >
<apex:facet name="header">PersonalCity</apex:facet>
{!pa.PersonalCity}
</apex:column>

<apex:column >
<apex:facet name="header">PersonalMailBox</apex:facet>
{!pa.PersonalMailBox}
</apex:column>

<apex:column >
<apex:facet name="header">PersonalCountry2</apex:facet>
{!pa.PersonalCountry2}
</apex:column>

</apex:pageBlockTable>
</apex:pageblockSection>



<apex:pageblockSection >
<apex:commandLink value="More Details"  action="{!OpenXMLPage}" target="_blank"/>

</apex:pageblockSection>

</apex:pageblock>
</apex:outputPanel>

         <apex:actionStatus startText="Getting XML Data..." id="idXMLPanelStatus" /> 
         <apex:outputPanel id="idXMLPanel" > 
    
          <apex:pageblock rendered="{!IF(showDetail = 19, true, false)}"> 
          <apex:commandLink value="Open as a PDF"  action="{!OpenXMLPage}" target="_blank"/>
          </apex:pageblock>    
 </apex:outputPanel>    
             
      
         
        <apex:actionStatus startText="Getting Attachment List..." id="CaseAttachmentStatus" />         
         <apex:outputPanel id="idAttachmentPanel" > 
          <apex:pageblock rendered="{!IF(showDetail = 13 || showDetail=14, true, false)}">    
        
            <apex:pageblocksection title="Attachment Information" >            
                <apex:dataTable value="{!ArchAttachmentsList}" var="t" width="500">
                    <apex:column width="150">
                        <apex:facet name="header">Attachment Name</apex:facet>
                        <apex:outputlabel value="{!t.attachmentName}">
                            <apex:param name="AttachmentName" value="{!t.attachmentName}" />
                        </apex:outputlabel>
                    </apex:column>                                  
                    <apex:column width="50">
                        <apex:facet name="header">Extension</apex:facet>
                        <apex:outputText value="{!t.extension}" />
                    </apex:column>                  
                    <apex:column width="75">
                        <apex:facet name="header">Created date</apex:facet>
                        <apex:outputText value="{0,date,dd'/'MM'/'yyyy}">
                            <apex:param value="{!t.createdDate}" /> 
                        </apex:outputText>
                    </apex:column>

                </apex:dataTable>              
            </apex:pageblocksection>
         </apex:pageblock>
         </apex:outputPanel>
   
   
           <br/> <apex:actionStatus startText="Opening Attachment ..." id="OpeningAttachmentStatus" />           
           <apex:outputPanel id="idAttachmentPanelFine">
                 <apex:pageblock rendered="{!IF(showDetail = 14, true, false)}"> 
                 <apex:pageblocksection title="Attachment Data">
                   <apex:commandLink value="Open Attachment"  onclick="window.open('{!attachmentURL}')"/> 
                   <apex:commandLink value="Save Attachment"  onclick="window.open('{!attachmentURL}')"/> 
                 </apex:pageblocksection>
                </apex:pageblock>
            </apex:outputPanel>  
            
    </apex:form>            
 </apex:page>