<!-- This Page is used for Technical Goodwill Edit - Reena Jeyapal -->

<apex:page controller="VFC03_FTSGoodwill_Edit"  tabStyle="Goodwill__c">
<apex:pageMessages ></apex:pageMessages>
<apex:sectionHeader title="Goodwill Edit" subtitle="New Goodwill"/>
<apex:form id="ftsId">
<apex:pageblock mode="edit">
<apex:pageBlockButtons >
<apex:commandButton action="{!saveGoodwill}" value="Save"/>
<apex:commandButton action="{!cancel}" value="Cancel"/>
</apex:pageBlockButtons>
<apex:pageBlockSection columns="2" title="{!$Label.FTSPartSection}">
<apex:inputField value="{!gudwill.Name}"/>
<apex:inputField value="{!gudwill.Case__c}" id="caseNumber"/>
<apex:inputField value="{!gudwill.GoodwillStatus__c}" >
</apex:inputfield>
<apex:inputField value="{!gudwill.Country__c}"/>
<apex:pageblocksectionitem >
<apex:outputlabel >Resolution Code</apex:outputlabel>
<apex:outputpanel layout="block" styleClass="requiredInput" >
<apex:outputpanel layout="block" styleClass="requiredBlock"/>
<apex:inputField value="{!gudwill.ResolutionCode__c}" / >
</apex:outputpanel>
</apex:pageblocksectionitem>
<apex:pageblocksectionitem >
<apex:outputlabel >Currency Code</apex:outputlabel>
<apex:outputpanel layout="block" styleClass="requiredInput">
<apex:outputpanel layout="block" styleClass="requiredBlock"/>
<apex:inputField value="{!gudwill.CurrencyCode__c}" />
</apex:outputpanel>
</apex:pageblocksectionitem>
<apex:pageblocksectionitem >
<apex:outputlabel >Expense Code</apex:outputlabel>
<apex:outputpanel layout="block" styleClass="requiredInput">
<apex:outputpanel layout="block" styleClass="requiredBlock"/>
<apex:inputField value="{!gudwill.ExpenseCode__c}" />
</apex:outputpanel>
</apex:pageblocksectionitem>
<apex:pageblocksectionitem >
</apex:pageblocksectionitem>
<apex:pageblocksectionitem >
<apex:outputlabel >Budget Code</apex:outputlabel>
<apex:outputpanel layout="block" styleClass="requiredInput">
<apex:outputpanel layout="block" styleClass="requiredBlock"/>
<apex:inputField value="{!gudwill.BudgetCode__c}"/>
</apex:outputpanel>
</apex:pageblocksectionitem>
<apex:pageBlockSectionItem rendered="{!if(gudwill.FTS__c==null,'false','true')}" >
<apex:outputlabel >FTS</apex:outputlabel>
<apex:outputField value="{!gudwill.FTS__c}"  />
</apex:pageBlockSectionItem>
<apex:pageBlockSectionItem rendered="{!if(gudwill.FTS__c==null,'true','false')}" >
</apex:pageBlockSectionItem>
<apex:pageBlockSectionItem >
<apex:outputlabel >Description</apex:outputlabel>
<apex:inputField value="{!gudwill.Description__c}" style="width:250px" />
</apex:pageBlockSectionItem>
</apex:pageblocksection>
<apex:actionFunction action="{!CalculateSRC}" name="CalSRC" id="CalSRC" reRender="SRCId"/>
<apex:pageBlockSection columns="2" title="{!$Label.FTSRepairSection}">
<apex:inputField value="{!gudwill.ORDate__c}" onblur="CalSRC()"/>
<apex:inputField value="{!gudwill.VehicleAgeInMonth__c}"/>
<apex:inputField value="{!gudwill.Organ__c}" onblur="CalSRC()"/>
<apex:inputField value="{!gudwill.Kilometer__c}"/>
<apex:inputField value="{!gudwill.QuotWarrantyRate__c}" />
<apex:inputField value="{!gudwill.ICMPartRate__c}"/>
<apex:inputField value="{!gudwill.QuotClientRate__c}"/>
<apex:inputField value="{!gudwill.DealerPartRate__c}"/>
</apex:pageblocksection>
<apex:outputPanel id="SRCId">
<apex:pageBlockSection columns="2" title="{!$Label.FTSSRCSection}" showHeader="false">

<apex:pageblockSectionItem ></apex:pageblockSectionItem>

<apex:outputField value="{!gudwill.SRCPartRate__c}"/>

<apex:pageblockSectionItem ></apex:pageblockSectionItem>
<apex:inputField value="{!gudwill.SRCDecidedRate__c}"/>
<apex:pageblockSectionItem ></apex:pageblockSectionItem>
<apex:inputField value="{!gudwill.DeviationReason__c}"/>
<apex:pageblockSectionItem ></apex:pageblockSectionItem>
<apex:inputField value="{!gudwill.DeviationReasDesc__c}"/>
</apex:pageblocksection>
</apex:outputpanel>

<apex:outputPanel id="rests" >
<apex:pageBlockSection columns="2" title="{!$Label.FTSCalSection}">
<apex:pageBlockSectionItem >
<apex:outputlabel value="{!$Label.VFC07_GWC_DefaultSRCParticipationRate}"/>
 {!ROUND(BLANKVALUE(gudwill.SRCDecidedRate__c, gudwill.SRCPartRate__c) * gudwill.QuotWarrantyRate__c /100,2)}</apex:pageBlockSectionItem> 
<apex:pageBlockSectionItem >
<apex:outputlabel value="{!$Label.VFC07_GWC_RenaultParticipationRate}"/>
{!gudwill.ICMPartRate__c + gudwill.DealerPartRate__c +BLANKVALUE(gudwill.SRCDecidedRate__c,gudwill.SRCPartRate__c)}
</apex:pageBlockSectionItem>
<apex:pageBlockSectionItem >
<apex:outputlabel value="{!$Label.VFC07_GWC_ClientEstimatedRemainingBalance}"/>
 {!ROUND((1-(gudwill.ICMPartRate__c + gudwill.DealerPartRate__c +BLANKVALUE(gudwill.SRCDecidedRate__c,gudwill.SRCPartRate__c))/100)*gudwill.QuotClientRate__c, 2)}
</apex:pageBlockSectionItem>
</apex:pageBlockSection>
</apex:outputPanel>
<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<apex:commandButton value="{!$Label.VFC07_GWC_Recalculate}"  reRender="rests"/>
&nbsp;
<apex:pageBlockSection columns="1" title="{!$Label.FTSDealerSection}">
<apex:inputField value="{!gudwill.AgreementNbr__c}"/>
<apex:inputField value="{!gudwill.Agreement_Date__c}"/>
<apex:inputField value="{!gudwill.DealerName__c}"/>
</apex:pageblocksection>
<apex:pageBlockSection columns="1" title="{!$Label.FTSInvoiceSection}">
<apex:inputField value="{!gudwill.CheckNbr__c}"/>
<apex:inputField value="{!gudwill.DebtorName__c}"/>
<apex:inputField value="{!gudwill.BankName__c}"/>
<apex:inputField value="{!gudwill.CreditCode__c}"/>
</apex:pageblocksection>

</apex:pageblock>
</apex:form>
</apex:page>