<apex:page standardController="Opportunity" extensions="VFC57_QuoteController"
	action="{!initialize}" tabStyle="Account" id="vfp14" title="Inserção Acessório">

	<!-- definição do css utilizado na página -->
	<style type="text/css">
.customSelectList {
	width: 155px;
}

.customButton {
	width: 160px;
	height: 28px;
}

.right {
	float: right;
}
.reservado {
	padding-right: 20px;
	padding-left: 20px;
	border: 1px solid;
	background-color: green;
	color: white !important;
	font: bold;
}

.dataCol{
	width: 20%;
}
</style>

	<apex:form id="form">

		<apex:pageblock id="pgBlockMain" mode="detail">

			<apex:pageMessages />

			<!-- inicio seção acessórios-->
			<apex:pageBlockSection id="pbSectionAcessories" title="Acessórios" columns="1"
				collapsible="false">

				<apex:pageBlockSectionItem >

					<apex:outputLabel value="Itens:" id="lblItens" for="txtItens" />

					<apex:inputTextArea id="txtItens" cols="150" rows="6" />
				</apex:pageBlockSectionItem>


				</apex:pageblockSection>
				<!-- fim seção acessórios-->
		</apex:pageblock>

		<apex:pageBlock mode="detail">

			<br />

			<apex:outputPanel layout="block" style="text-align: center; font-size: 13px;">

				<apex:commandButton value="Incluir Acessórios" styleClass="customButton" /> &nbsp; &nbsp;
                           
                 <apex:commandButton value="Cancelar Inclusão" styleClass="customButton" />

			</apex:outputPanel>

			<br />

		</apex:pageBlock>

		<apex:pageBlock mode="detail">

			<br />

			<apex:pageBlockSection id="pbSectionAcessories" title="Acessórios" columns="5"
				collapsible="false">
				<apex:outputLink value="#" styleClass="reservado">08:00</apex:outputLink>
				<apex:outputLink value="#">08:00</apex:outputLink>
				<apex:outputLink value="#">08:00</apex:outputLink>
				<apex:outputLink value="#">08:00</apex:outputLink>
				<apex:outputLink value="#">08:00</apex:outputLink>
				<apex:outputLink value="#">08:00</apex:outputLink>
				<apex:outputLink value="#">08:00</apex:outputLink>
				<apex:outputLink value="#">08:00</apex:outputLink>
				<apex:outputLink value="#">08:00</apex:outputLink>
				<apex:outputLink value="#">08:00</apex:outputLink>
				<apex:outputLink value="#">08:00</apex:outputLink>
				<apex:outputLink value="#">08:00</apex:outputLink>
				<apex:outputLink value="#">08:00</apex:outputLink>
				<apex:outputLink value="#">08:00</apex:outputLink>
				<apex:outputLink value="#">08:00</apex:outputLink>
				<apex:outputLink value="#">08:00</apex:outputLink>
				<apex:outputLink value="#">08:00</apex:outputLink>
				<apex:outputLink value="#">08:00</apex:outputLink>
				<apex:outputLink value="#">08:00</apex:outputLink>
				<apex:outputLink value="#">08:00</apex:outputLink>
				<apex:outputLink value="#">08:00</apex:outputLink>
				<apex:outputLink value="#">08:00</apex:outputLink>
				<apex:outputLink value="#">08:00</apex:outputLink>
				<apex:outputLink value="#">08:00</apex:outputLink>
				<apex:outputLink value="#">08:00</apex:outputLink>
			</apex:pageBlockSection>


			<br />

		</apex:pageBlock>

	</apex:form>

</apex:page>