<apex:page controller="VFC11_SearchVehicleFromAccountToCase">
<style type="text/css">
    hr {
        height:1px;
        border-width:0;
        color:#ECECEC;
        background-color:#ECECEC;
    }
    .bPageBlock .pbTitle {
        width: 80%;
    }
</style>
<apex:includeScript value="/support/console/26.0/integration.js"/>
<script type="text/javascript">
    window.onload = function() {
        sforce.console.setTabTitle('{!$Label.NewCase}');
    }
</script>
<apex:form >
    <br/>
    <center>
        <apex:commandButton action="{!cancel}" value="{!$Label.Cancel}" />
        &nbsp;&nbsp;
        <apex:commandButton action="{!skip}" value="{!$Label.Skip}" />
    </center>
    <br/>
    <apex:pageMessages escape="false"/>  
    <apex:pageblock title="{!$Label.SelectVehicle+' '+accountName}" id="existingVehicle">
    <apex:pageBlockSection columns="1" >   
       <apex:repeat value="{!objectListOfLists}" var="oll">
       <apex:pageBlockTable value="{!oll}" var="v">


        <apex:column headerValue="{!$Label.Select}"><a href="{!'/500/e?retURL='+accountId+'&def_account_id='+accountId+'&CF'+$Label.VinFieldIdCase+'_lkid='+v.Id+'&CF'+$Label.VinFieldIdCase+'='+v.Name+'&isdtp'}">{!$Label.Select}</a></apex:column>
        <apex:column headerValue="{!$ObjectType.VEH_Veh__c.fields.Name.label}"><apex:outputField value="{!v.Name}"/></apex:column>
        <apex:column headerValue="{!$ObjectType.VEH_Veh__c.fields.VehicleRegistrNbr__c.label}"><apex:outputField value="{!v.VehicleRegistrNbr__c}"/></apex:column>
        <apex:column headerValue="{!$ObjectType.VEH_Veh__c.fields.VehicleBrand__c.label}"><apex:outputField value="{!v.VehicleBrand__c}"/></apex:column>
     </apex:pageBlockTable>
    </apex:repeat>
   </apex:pageBlockSection>
    </apex:pageblock>
    
    <apex:pageblock title="{!$Label.SearchVehicle}" id="SearchVehicle">
    <apex:pageBlockSection >
        <apex:pageBlockSectionItem >
            <apex:outputLabel value="{!$ObjectType.VEH_Veh__c.fields.Name.label}"/>
            <apex:inputText value="{!VIN}"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >
            <apex:outputLabel style="font-weight:bold" value="{!$ObjectType.VEH_Veh__c.fields.VehicleRegistrNbr__c.label}"/>
            <apex:inputText value="{!VRN}"/>
        </apex:pageBlockSectionItem>
        
      <!--  <apex:pageBlockSectionItem >
            <apex:outputLabel style="font-weight:bold" value="{!$Label.LanguageCode}"/>
            <apex:inputText value="{!LanguageCode}"/>
        </apex:pageBlockSectionItem> -->
      
      <!--  <apex:pageBlockSectionItem >
            <apex:outputLabel style="font-weight:bold" value="{!$Label.CountryCode}"/>
            <apex:inputText value="{!CountryCode}"/> 
        </apex:pageBlockSectionItem>   -->
        
    </apex:pageBlockSection>
    
    <hr/>
    <center>
    
       <apex:commandButton action="{!searchVehicle}" value="{!$Label.Search}" />
    </center>
      
    </apex:pageblock>   
 </apex:form>
 </apex:page>