<apex:page showHeader="false" sidebar="false">
<html lang="en-us">
<head>

<link rel="stylesheet" href="{!URLFOR($Resource.web2caseResources,'web2case/css/validationEngine.jquery.css')}" type="text/css" media="screen" title="no title" charset="utf-8" />
<!---MaskPlugin---->
<apex:includeScript value="{!$Resource.MaskFuntion1}"/>
<apex:includeScript value="{!$Resource.MaskFuntion}"/>
<!---ValidationPlugin---->
<script src="{!URLFOR($Resource.web2caseResources,'web2case/js/jquery_min.js')}" type="text/javascript"></script>
<script src="{!URLFOR($Resource.web2caseResources,'web2case/js/jquery.validationEngine-br.js')}" type="text/javascript"></script>
<script src="{!URLFOR($Resource.web2caseResources,'web2case/js/jquery.validationEngine.js')}" type="text/javascript"></script>
<script>    
        
              $(document).ready(function() {
          
            // SUCCESS AJAX CALL, replace "success: false," by:     success : function() { callSuccessFunction() }, 
            jQuery("#formID").validationEngine({ 
           });                                  
         });              
</script>
<script>
          function maskvalidation(){
          var sr=navigator.appName;
         <!--  if(sr!="Microsoft Internet Explorer"){-->         
                          $.noConflict();        
                          $(function() {
                          $("#CPF_Web_c").mask("999.999.999-99");            
                       }); 
                       $(function() {
                             $("#Phone").mask("(99)9999-9999");                         
                             $("#ContactMobile").mask("(99)99999-9999");
                       }); 
             }
</script>
<style>

a{
text-decoration: None;
color: #6C6F70;
font-size: 12px;
}
</style>
<c:Form_Css />
<script>
     function toggle_visibility(id) {
       var e = document.getElementById(id);
          e.style.display = 'block';
    }
    function toggle_invisibility(id) {
       var e = document.getElementById(id);
          e.style.display = 'none';
    }
    function changeimage(){
      document.getElementById("image1").src="{!$Resource.arrow2}";
      document.getElementById("image2").src="{!$Resource.arrow1}";
    }
    function changeimage1(){
      document.getElementById("image2").src="{!$Resource.arrow2}";
      document.getElementById("image1").src="{!$Resource.arrow1}";
    }
    function fillvalues(){
      document.getElementById("VIN_Web__c").value="-";
      document.getElementById("License_Number_Web__c").value="-";
      document.getElementById("Kilometer").value="-";
    }
    function unfillvalues(){
      document.getElementById("VIN_Web__c").value="";
      document.getElementById("License_Number_Web__c").value="";
      document.getElementById("Kilometer").value="";
    }
    function cpfreturn(){
       var cpf;
       cpf=document.getElementById("CPF_Web_c").value;
       var cpf1=cpf.replace(".","");
       var cpf3=cpf1.replace(".","");
       var cpf2=cpf3.replace("-","");
       document.getElementById("CPF_Web_c").value=cpf2;
    }
</script>
</head>
<body>

<div id="left"><br></br>
<apex:image id="theImage" value="{!$Resource.rsite_duvidas}"/>&nbsp;&nbsp;&nbsp;
</div>
<div id="right">
    <br/>
    <h2>DÚVIDAS</h2>
    <p>Tem alguma dúvida? </p>
    <p>Fique à vontade para fazer suas perguntas sobre qualquer um de nossos veículos ou serviços.</p>
    <p>É só preencher alguns dados e em breve nós entraremos em contato com você.</p>
   
   
     <META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8"/><br></br>
     
    <div  class="subcontent">
   <form id="formID" action="{!$Label.Rforce_URL}" method="POST" onSubmit="cpfreturn();">

<input type="hidden" name="orgid" value="{!$Organization.Id}"/>
      <input type='hidden' name="retURL" value="{!$Label.Rforce_WebForm_Doubts_URL}"/>

        <div id="fields">
        
         <label for="title">Titulo</label><br/>
                <select id="Title_Web__c" name="Title_Web__c">
                    <option value="Sr.">Sr.</option>
                    <option value="Srta.">Srta.</option>
                    <option value="Sra.">Sra.</option>
                </select><br/><hr color="white"></hr>
            <table>
            <tr>
            <td>
            <label for="Firstname">Primeiro Nome*</label><br/>
                <input  id="Fname" value="" class="validate[required,custom[noSpecialCaracters],length[2,20]] text-input" maxlength="80" name="FirstName_Web__c" size="20" type="text" />
            </td>
            <td>
            <label for="Lastname">Sobrenome*</label><br/>
                <input  id="Lname" value="" class="validate[required,custom[noSpecialCaracters],length[2,20]] text-input" maxlength="80" name="LastName_Web__c" size="20" type="text" onFocus="maskvalidation();" />
            </td>
            </tr>
            </table><hr color="white" ></hr>
            <label for="CPF">CPF ( xxxxxxxxxxx - informar sem espaço e sem pontuação) *</label><br/>
                <input id="CPF_Web_c" maxlength="11" class="validate[required] text-input" name="00NL0000002tbkJ" size="20"  onMouseOver="maskvalidation(); " /><br></br><hr color="white" ></hr>
            <label for="email">Email *</label><br/>
                <input  id="email" value=""  class="validate[required,custom[email],length[0,40]] text-input"  maxlength="80" name="email" size="20" type="text" /><br></br><hr color="white"></hr>
            <label for="phone">Telefone: (xxxxxxxxxxx - informar com 02 dígitos de DDD sem espaço e sem pontuação) *</label><br/>
                <input  id="Phone" value=""  class="validate[required,custom[telephone]] text-input" maxlength="20" name="phone" size="20" type="text" onMouseOver="maskvalidation(); "/><br></br><hr color="white"></hr>
           
             <label for="mobile">Celular (xxxxxxxxxxx - informar com 02 dígitos de DDD sem espaço e sem pontuação) *</label><br/>
                <input  id="ContactMobile" value=""  class="validate[required,custom[telephone]] text-input" maxlength="20" name="Cell_Phone_Web__c" size="20" type="text" onMouseOver="maskvalidation();"/><br/><hr color="white"></hr>
         
           
            <label for="vin">Chassis </label><br/>
                <input  id="VIN_Web__c"  name="VIN_Web__c" size="20" type="text" width="100%" /><br/><hr color="white"></hr>
            <label for="lnNo">Placa</label><br/>
                <input  id="License_Number_Web__c"  name="License_Number_Web__c" size="20" type="text" width="100%" /><br></br><hr color="white"></hr>
            <label for="Kilometer">Kilometer </label><br/>
                 <input  id="Kilometer" value=""  maxlength="20" name="Kilometer_Web__c" size="20" type="text" /><br/><hr color="white"></hr>    
          
            <label for="description">Mensagem *</label><br/>
                <textarea id="description" name="description" class="validate[required]"></textarea><br></br><hr color="white"></hr>
                <input type="hidden" name="priority" value="Normal"/>                              
                <input type="hidden" name="status" value="New"/>  
                <input type="hidden" name="origin" value="Renault Site"/>
                <input id="compID" type="hidden" name="type" value="Complaint"/>                             
                <input type="hidden" name="CaseSubSource__c" value="Contact Us"/>     
                <input type="hidden" name="SubType__c" value="Details"/> 
                <input type="hidden"  id="external" name="external" value="1" />
                
                <input type="hidden" id="recordType" name="recordType" value="{!$Label.Rforce_WebForm_Doubts_Recordtype}"/>
                <input type="hidden" id="00ND0000004qcAb" name="00ND0000004qcAb" title="Country Case" value="Brazil" />
                
            <input  id="Email_Opt_In_Web__c" maxlength="40" name="Email_Opt_In_Web__c" size="20" type="checkbox" checked="checked"/>
            <label for="emailopt">Quero receber novidades da Renault </label><br/><hr color="white"></hr>      
          
        </div>      
     <div id="button">
              <button type="submit" style="border: 0; background: transparent; cursor:pointer">
    <img src="{!$Resource.BackButton}"/>
</button>
     </div>
      </form></div><br/>  
   </div>
</body>
</html>
</apex:page>