<apex:component id="MyrAdministrationGUICountries" controller="Myr_AdministrationGUI_Countries_CTR" allowDml="true">

    <apex:form id="blockcountrysettingsid">
        <apex:pageblock title="{!$Label.Myr_GUI_Country_BlockTitle}">
            <apex:pagemessages />
            <apex:pageblockbuttons location="top">
                <apex:commandbutton action="{!edit}" id="editButton" value="Edit" rerender="blockcountrysettingsid" rendered="{!AND( NOT(EditMode), NOT(ISBLANK(SelectedCountry)) )}" />
                <apex:commandbutton action="{!save}" id="saveButton" value="Save" rerender="blockcountrysettingsid" rendered="{!AND(EditMode, NOT(ISBLANK(SelectedCountry)))}" />
                <apex:commandbutton action="{!cancel}" id="cancelButton" value="Cancel" rendered="{!AND(EditMode, NOT(ISBLANK(SelectedCountry)))}" rerender="blockcountrysettingsid" />
            </apex:pageblockbuttons>
            <!-- the pageblock section to choose the country -->
            <apex:pageblocksection >
                <apex:pageblocksectionitem >
                    <apex:outputlabel value="{!$Label.Myr_GUI_CountryLabel}" for="countryselectlistid" />
                    <apex:selectlist value="{!SelectedCountry}" multiselect="false" size="1">
                        <apex:selectoptions value="{!countries}" />
                        <apex:actionsupport event="onchange" rerender="blockcountrysettingsid" />
                    </apex:selectlist>
                </apex:pageblocksectionitem>
            </apex:pageblocksection>
            <!-- the page block section of the settings to edit -->
        </apex:pageblock>
        <apex:pageblock title="{!$Label.Myr_GUI_Country_SettingsBlockTitle} {!SelectedCountry}" id="countrydetailid" rendered="{!NOT(ISBLANK(SelectedCountry))}">
            <apex:repeat value="{!CountryFields}" var="g">
                <apex:pageblocksection title="{!g}" columns="2">
                    <apex:repeat value="{!CountryFields[g]}" var="f">
                        <apex:pageblocksectionitem >
                            <apex:outputlabel value="{!$ObjectType.Country_Info__c.Fields[f].label}" />
                            <apex:outputpanel layout="none">
                                <apex:outputfield value="{!InnerSettings[SelectedCountry][f]}" rendered="{!OR( NOT(EditMode), OR(NOT(EditableFields[f]), NOT(CountriesSettings[SelectedCountry].Fields[f].Inputeable)) )}" />
                                <apex:inputtext value="{!CountriesSettings[SelectedCountry].Fields[f].value}" rendered="{!AND(EditMode, EditableFields[f], CountriesSettings[SelectedCountry].Fields[f].InText)}" />
                                <apex:inputcheckbox value="{!CountriesSettings[SelectedCountry].Fields[f].value}" rendered="{!AND(EditMode, EditableFields[f], CountriesSettings[SelectedCountry].Fields[f].InBoolean)}" />
                            </apex:outputpanel>
                        </apex:pageblocksectionitem>
                        <apex:outputtext value="{!$ObjectType.Country_Info__c.Fields[f].inlineHelpText}" />
                    </apex:repeat>
                </apex:pageblocksection>
            </apex:repeat>
        </apex:pageblock>
    </apex:form>


</apex:component>