<style>
	.logout{
		float: right;
		padding: 5px 5px 5px 5px;
	}
	
	.logo{
		padding: 2px 2px 2px 2px;
	}
</style>

<img class="logo" src="https://c.eu4.content.force.com/servlet/servlet.ImageServer?id=015D00000024PRg&oid=00DD0000000rYsz&lastMod=1366240506000">

<a class="logout" href="/secur/logout.jsp">Sair</a>

